service firebase.storage {
    match /b/{bucket}/o {
        match /officeProfileImages/{uid}{
            allow read;
            allow write: if request.auth.uid == uid && request.resource.contentType.matches('image/.*');
        }
    }
}