<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-auth.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/header-styles.html">
<link rel="import" href="/styles/button-styles.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">
<link rel="import" href="/custom_components/login-required-element.html">


<dom-module id="account-view">
    <template>
        <style include="button-styles layout-styles input-styles header-styles">
        </style>

        <firebase-auth id="auth" app-name="doctor-appointment-system"></firebase-auth>

        <firebase-document app-name="doctor-appointment-system" path="/users/{{user.uid}}/name"
                           data="{{nameData}}">
        </firebase-document>

        <firebase-document app-name="doctor-appointment-system" path="/users/{{user.uid}}/address"
                           data="{{addressData}}">
        </firebase-document>

        <login-required-element logged-in="{{loggedIn}}" user="{{user}}"></login-required-element>

        <div class="main-frame" hidden="[[!loggedIn]]">
            <header class="subsection">
                <h1>Nastavení účtu</h1>
                <span>Údaje níže můžete kdykoliv změnit.</span>
            </header>

            <div class="subsection grid">
                <section>
                    <form id="main_form" is="iron-form">
                        <h2>Základní informace</h2>
                        <paper-input id="fninput" label="Jméno" minlength="1" maxlength="20"
                                     error-message="Nelze ponechat prázdné" required
                                     value="[[nameData.firstName]]"></paper-input>
                        <paper-input id="lninput" label="Příjmení" minlength="1"
                                     maxlength="80" error-message="Nelze ponechat prázdné"
                                     required value="[[nameData.lastName]]"></paper-input>
                        <h2>Adresa</h2>
                        <p>Adresa je povinná pouze pokud se budete chtít objednat u lékaře, který má omezenou klientelu.
                            V tomto případě lékař potřebuje zjistit, zda jste opravdu jeho pacientem.</p>
                        <paper-input id="cinput" label="Město" minlength="1" maxlength="20"
                                     value="[[addressData.city]]">
                        </paper-input>
                        <paper-input id="sinput" label="Ulice a číslo popisné" minlength="1" maxlength="80"
                                     value="[[addressData.street]]"></paper-input>
                        <paper-button id="confirm_button" on-tap="confirm">Uložit změny</paper-button>
                    </form>
                </section>

                <section>
                    <h2>Změna hesla</h2>
                    <p>Pro změnu hesla Vám zašleme email. V emailové zprávě bude odkaz, na kterém bude možno heslo
                        změnit.</p>
                    <paper-button on-tap="passChange">Poslat email</paper-button>
                </section>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'account-view',

            behaviors: [FormValidationBehavior],

            properties: {
                user: Object,
                addressData: Object,
                nameData: Object,
            },

            confirm: function () {
                if (this._validateForm(this.$.main_form)) {
                    this.saveChanges();
                }
            },

            passChange: function () {
                this.$.auth.auth.sendPasswordResetEmail(this.user.email).then(function () {
                    this.fire("show-toast", {text: "Email odeslán"});
                }.bind(this)).catch(function () {
                    console.log("email sending error");
                })
            },

            saveChanges: function () {
                this.set('nameData.firstName', this.$.fninput.value);
                this.set('nameData.lastName', this.$.lninput.value);
                this.set('addressData.city', this.$.cinput.value);
                this.set('addressData.street', this.$.sinput.value);
                this.fire("show-toast", {text: "Změny uloženy"});
            }
        });
    </script>
</dom-module>
