<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<dom-module id="conditions-view">
    <template>
        <style>

            #main-container {
                background-color: #fff;
                padding: 1em;
                font-size: 1.2em;
                font-weight: 100;
                max-width: 900px;
                margin: 2em auto 0 auto;
            }

            h2, h3 {
                font-weight: 100;
                border-bottom: 1px solid #dededf;
            }

            h2 {
                margin: 0 auto 0.9em 0;
                font-size: 1.5em;
            }

            h3 {
                margin: 2.2em 0 0.1em 0;
                font-size: 1.2em;
            }

            p {
                line-height: 1.7em;
            }

            @media (max-width: 767px) {

                :host {
                    font-size: 0.9em;
                }
            }

        </style>

        <div id="main-container">

            <h2>Smluvní podmínky portálu Docta</h2>
            <p>Děkujeme vám za používání našich služeb. Portál Docta.cz provozuje společnost Effective Systems s.r.o., IČO: 05951020.</p>

            <p>Naše služby nesmíte zneužívat. Např. nesmíte do služeb zasahovat ani se do nich pokoušet získat přístup jiným způsobem než pomocí určeného rozhraní a podle dodaných pokynů. Služby smíte vyžívat jen v mezích platných právních předpisů. Služby vám můžeme pozastavit nebo ukončit v případě, že vaše jednání není v souladu s našimi podmínkami či zásadami nebo pokud vyšetřujeme podezření z nepřípustného jednání.</p>

            <p>V souvislosti s používáním služeb vám můžeme zasílat oznámení, administrativní zprávy a další informace.</p>
            <h3>Informace o ochraně a zpracování osobních údajů</h3>
            <p>Některé funkce tohoto webu a služby pro jeho uživatele vyžadují registraci uživatelů. Součástí registrace je udělení souhlasu se zpracováním osobních údajů ve smyslu obecně závazných právních předpisů, zejména zákona č. 101/2000 Sb., o ochraně osobních údajů (v platném znění) obchodní společnosti Effective Systems s.r.o., IČO: 05951020 (dále jen správce), a to:
                <br><br>a) v rozsahu jméno a příjmení, e-mailová adresa, telefonní číslo, datum narození, pohlaví a bydliště,
                <br><br> b) za účelem marketingových a obchodních aktivit správce; včetně šíření obchodních sdělení týkajících se jeho produktů či služeb, případně produktů a služeb společností tvořících se správcem koncern, a to také prostřednictvím uvedené e-mailové adresy,
                <br><br>c) na dobu využívání produktů a služeb správce (do zrušení registrace).
                Jsem si vědom toho, že tento souhlas s uchováváním, resp. se zpracováním údajů, udělený v souladu s obecně závaznými právními předpisy, je dobrovolný, a že tento svůj souhlas mohu kdykoliv odvolat. Dále beru na vědomí, že aktivní uživatelský účet je podmíněn udělením souhlasu a jeho trváním, a že v případě odvolání souhlasu je správce oprávněn můj uživatelský účet zrušit.
                Dále jsem si vědom toho, že po celou dobu zpracovávání osobních údajů mám k nim přístup, právo na jejich opravu a v případě, kdy se domnívám, že zpracování osobních údajů je v rozporu s ochranou soukromého a osobního života nebo v rozporu s obecně závaznými právními předpisy, mohu požádat správce o vysvětlení a odstranění závadného stavu.
                Získané osobní údaje mohou být správcem zpřístupněny pouze pověřeným pracovníkům, společnostem tvořícím se správcem koncern, dále příslušným státním orgánům a osobám, které mají zákonné právo tyto informace po správci požadovat.
                Osobní údaje jsou zpracovávány automatizovaně i manuálně při dodržení všech bezpečnostních zásad pro správu a zpracování osobních údajů, a to zejména prostřednictvím jejich uchovávání v databázi správce, jejich aktivním používáním při komunikaci se subjektem údajů nebo jejich zpřístupněním.</p>


            <p>Při registraci je uživatel povinen uvést pravdivé údaje.
                Správce si vyhrazuje právo vymazat uživatelské účty, u kterých má podezření na nepravdivost údajů nebo účty porušující tyto podmínky, a to i bez předchozí výzvy k nápravě a bez náhrady.
                Aby byla zaručena bezpečnost vašeho účtu, heslo k vašemu účtu nikomu neprozrazujte. Za aktivitu probíhající na nebo prostřednictvím vašeho účtu na Docta nesete plnou odpovědnost. V aplikacích třetích stran nepoužívejte stejné heslo jako pro účet Docta.</p>
            <h3> Závěrečné ustanovení</h3>
            <p>Společnost Effective Systems neponese odpovědnost za ušlý zisk, ztrátu tržeb, ztrátu dat, finanční ztráty ani za nepřímé, zvláštní, následné či exemplární škody.
                Jestliže tyto podmínky nebudete splňovat a my nebudeme okamžitě jednat, neznamená to, že bychom se vzdávali jakýchkoli práv, která nám případně náleží.
                Tyto podmínky nebo jakékoli dodatečné podmínky týkající se určité služby můžeme příležitostně měnit, například z důvodu změn platných zákonů nebo změn našich služeb. Znění podmínek byste měli pravidelně kontrolovat.</p>
        </div>

    </template>

    <script>
        Polymer({
            is: 'conditions-view'
        });
    </script>
</dom-module>
