<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-from-top-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/bower_components/polymerfire/firebase-app-script.html">
<link rel="import" href="/bower_components/moment-element/moment-import.html">

<!--icons-->
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/social-icons.html">
<link rel="import" href="/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="/bower_components/iron-icons/maps-icons.html">

<link rel="import" href="/custom_components/moment-wrapper-cs.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="d-view">
    <template>
        <style include="layout-styles input-styles button-styles">

            :host {
                --calendar-opacity: 1;
            }

            .centered {
                margin-top: 3em;
                @apply(--layout);
                @apply(--layout-center-justified);
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            .side-padding {
                padding-left: 24px;
                padding-right: 24px;
            }

            /* na desktopu se po kliknuti na mail a phone a nic neotevre,
             tak aby tam nebyla ikona ruky jako ze se ma neco stat*/
            .info-section a {
                margin-top: 1.7em;
                cursor: default;
            }

            #map-icon {
                color: var(--app-green-color) !important;
                cursor: pointer;
            }

            #head {
                padding: 40px 15px;
                margin: 0;
                color: #fff;
                background-color: var(--app-accent-color);
                box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.1);
            }

            #profile-underline {
                display: none;
            }

            section > div {
                text-align: left;
                margin-top: 1.6em;
            }

            .photo-name-section {
                text-align: center;
                position: relative;
            }

            .photo-name-section img {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                margin-bottom: 1em;
                padding: 0.3em;
                border: 2px solid #fff;
            }

            .photo-name-section h3 {
                margin: 0 0 0.2em 0;
                font-size: 1.3em;
            }

            .info-section > div:first-child {
                margin-top: 0;
            }

            #address-city {
                margin-left: 44px;
                margin-top: 0;
            }

            .order-info {
                display: inline-block;
                padding: 1em;
            }

            #accept-new {
                background-color: var(--app-green-color);
            }

            #not-accept-new {
                background-color: var(--app-red-color);
            }

            .wide-container {
                margin: 30px auto;
                max-width: 900px;
            }

            #head iron-icon {
                margin-right: 15px;
            }

            #appointment-container {
                overflow: hidden;
            }

            /*** CALENDAR ***/
            #calendar_container {
                text-align: center;
                opacity: var(--calendar-opacity);
            }

            #calendar_container h3 {
                margin-bottom: 0;
                margin-top: 1em;
            }

            #calendar_container p {
                margin-bottom: 3em;
                padding-bottom: 1em;
            }

            /*** FORM ***/

            #exit-form {
                margin-top: 5em;
            }

            #exit-form span {
                color: var(--app-green-color);
                cursor: pointer;
            }

            #exit-form iron-icon {
                margin-right: 0.4em;
            }

            #appointment_form paper-textarea {
                margin-top: 2em;
            }

            /*** MAP ***/

            google-map {
                height: 55vh;
            }

            /*** OTHER ***/
            .centered {
                @apply(--layout);
                @apply(--layout-center-justified);
            }

            .office-info-section {
                margin: 0 auto;
                max-width: 100%;
                padding: 0 4%;
                background-color: #fcfcfd;
            }

            .office-info-section h2 {
                font-size: 1.3em;
                margin-bottom: 1.4em;
            }

            /* OFFICE HOURS */
            #offline-hours .day {
                padding: 1em;
                margin-top: 0;
                border-top: 1px solid #e2e2e3;
            }

            .day span:first-child {
                font-weight: bold;
                width: 5em;
                float: left;
                font-size: 1.1em;
            }

            /************************/
            #no-calendar-container {
                max-width: 900px;
                margin: 0 auto 3em;
            }

            #services-container .service-item {
                padding: 1em;
                text-align: left;
                margin: 0;
                background-color: #fff;
                border-left: 1px solid #e0e0e1;
                border-right: 1px solid #e0e0e1;
                border-bottom: 1px solid #e0e0e1;
            }

            #services-container .service-item:nth-child(2) {
                border-top: 1px solid #e0e0e1;
            }

            .service-price {
                font-weight: bold;
                color: var(--app-green-color);
                margin-left: 2em;
            }

            .flex-horizontal {
                @apply(--layout-horizontal)
            }

            .flexchild {
                @apply(--layout-flex);
            }

            #appointment-container {
                background-color: #fff;
                margin: 3em 3% 3em -2%;
                padding-right: 2%;
                padding-left: 2%;
                padding-top: 1em;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

                /*can't set fixed height because of patient-message that can be longer than height of calendar-> bug*/
            }

            .holidays-container {
                border: 1px solid var(--app-red-color);
                color: var(--app-red-color);
                padding: 1em;
                margin-top: 1em;
            }

            .holiday {
                margin: 1em 0;
            }

            @media only screen and (max-width: 717px) {

                #head {
                    padding-bottom: 0;
                }

                #profile-underline {
                    display: block;
                    height: 2px;
                    width: 10%;
                    background-color: #fff;
                    margin: 2em auto 2.5em auto;
                    border-radius: 5px;
                }

                .photo-name-section img {
                    width: 100px;
                    height: 100px;
                }

                .order-info {
                    display: block;
                    padding-bottom: 1em;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-left: -15px;
                    margin-right: -15px;
                }

                #exit-form {
                    margin-bottom: 1em;
                }

                #appointment-container {
                    margin: 0 -4.1%;
                    box-shadow: none;
                    border-bottom: 1px solid #e0e0e1;
                }
            }


        </style>

        <div class="centered" hidden="[[hideError]]">
            <iron-icon icon="error"></iron-icon>
            Profil nenalezen
        </div>

        <div class="centered" hidden="[[hideSpinner]]">
            <paper-spinner-lite active="[[!hideSpinner]]"></paper-spinner-lite>
        </div>

        <div hidden="[[hideContent]]">
            <div id="head" class="subsection grid">
                <section class="photo-name-section">

                    <img src="[[officeData.photoUrl]]">

                    <h3>[[computeFormattedName(officeData.title, officeData.name.firstName,
                        officeData.name.lastName)]]</h3>
                    <span>[[officeData.specialization]]</span>
                </section>

                <div id="profile-underline"></div>
                <section class="info-section">
                    <div>
                        <a target="_blank" title="Zobrazit mapu v novém okně"
                           href="[[computeMapLink(officeData.address)]]">
                            <iron-icon id="map-icon" icon="maps:place"></iron-icon>
                        </a>
                        [[officeData.address.street]]<br>
                        <span id="address-city">[[officeData.address.city]]</span>
                    </div>

                    <div hidden="[[!returnBoolean(officeData.phoneNumber)]]">
                        <a href="tel:[[officeData.phoneNumber]]">
                            <iron-icon icon="communication:phone"></iron-icon>
                        </a>
                        [[officeData.phoneNumber]]
                    </div>

                    <div hidden="[[!returnBoolean(officeData.email)]]">
                        <a href="mailto:bert.blader@gmail.com">
                            <iron-icon icon="communication:email"></iron-icon>
                        </a>
                        [[officeData.email]]
                    </div>

                    <div id="accept-new" class="order-info" hidden="[[!officeData.acceptingNewPatients]]">
                        <iron-icon icon="social:group"></iron-icon>
                        Lékař přijímá nové pacienty
                    </div>

                    <div id="not-accept-new" class="order-info" hidden="[[officeData.acceptingNewPatients]]">
                        <iron-icon icon="social:group"></iron-icon>
                        Lékař nepřijímá nové pacienty
                    </div>
                </section>
            </div>

            <div class="subsection grid office-info-section">
                <template is="dom-if"
                          if="[[computeIfCalendar(onlineBooking, calendarElementLoaded, calendarDisabledElementLoaded)]]"
                          on-dom-change="_domComplete">
                    <section id="appointment-container">
                        <div class="wide-container" id="main_container">

                            <div class="side-padding">
                                <calendar-disabled-element manual-confirmation="[[officeData.manualConfirmation]]"
                                                           office-id="[[officeId]]"
                                                           patient-status="{{patientStatus}}"
                                                           disabled-calendar="{{disabledCalendar}}"></calendar-disabled-element>
                            </div>

                            <div id="calendar_container" hidden="[[!calendarVisibility]]">
                                <h3>Kalendář</h3>
                                <p>Pro objednání vyberte čas, na který se chcete objednat.</p>

                                <calendar-element office-id="[[officeId]]"
                                                  last-generated-date-raw="[[officeData.lastGeneratedDate]]"
                                                  disabled="[[disabledCalendar]]">
                                </calendar-element>
                            </div>
                            <div hidden="[[calendarVisibility]]" id="appointment_form" class="side-padding">
                                <h3>Objednat se</h3>
                                <span>Datum objednání: <b>[[computeAppointmentDate(appointmentId)]]</b></span>
                                <paper-textarea value="{{patientMessage}}" label="Dobrovolná zpráva pro lékaře"
                                                char-counter
                                                maxlength="200"></paper-textarea>
                                <paper-button on-tap="_confirmAppointment" raised>Potvrdit objednání</paper-button>
                                <div id="exit-form" class="centered" on-tap="_showCalendar">
                                    <span><iron-icon icon="today"></iron-icon>Zpět na kalendář</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </template>

                <template is="dom-if"
                          if="[[infoAvailability.available]]">
                    <section id="no-calendar-container">

                        <template is="dom-if" if="[[infoAvailability.offlineOfficeHours]]">
                            <div id="offline-hours">
                                <h2>
                                    <iron-icon icon="icons:watch-later"></iron-icon>
                                    Ordinační hodiny
                                </h2>
                                <template is="dom-repeat" items="[[officeData.offlineOfficeHours]]" as="offlineHours">
                                    <template is="dom-if" if="[[offlineHours.available]]">
                                        <div class="day"><span>[[computeDateName(index)]] :</span><span
                                                hidden="[[!offlineHours.available]]">
                                [[offlineHours.hours]]</span>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </template>

                        <template is="dom-if" if="[[infoAvailability.holidays]]">
                            <div class="holidays-container">
                                <b>Dovolená</b><br>

                                <template is="dom-repeat" items="[[computeHolidaysArray(officeData.holidays)]]" as="holiday">
                                    <div class="holiday">
                                        <span><b>Od:</b> [[holiday.startAt]] &nbsp;&nbsp; <b>Do:</b> [[holiday.endAt]]</span>
                                        <div hidden="[[!returnBoolean(holiday.substituteDoctorName)]]"><b>Zastupující
                                            lékař:</b> [[holiday.substituteDoctorName]]
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </template>


                        <template is="dom-if" if="[[infoAvailability.patientText]]">
                            <h2>
                                <iron-icon icon="icons:info"></iron-icon>
                                Informace pro pacienty
                            </h2>
                            <span>[[officeData.patientText]]</span>
                        </template>

                        <template is="dom-if" if="[[infoAvailability.insurance]]">
                            <section id="insurance-container">
                                <h2>
                                    <iron-icon icon="icons:assignment"></iron-icon>
                                    Pojišťovny, se kterými máme smlouvu
                                </h2>
                                <template is="dom-repeat" items="[[officeData.insurance]]" as="insurance">
                                    <template is="dom-if" if="[[insurance.available]]">
                                        <div>[[computeInsuranceName(insurance.id)]]</div>
                                    </template>
                                </template>
                            </section>
                        </template>

                        <template is="dom-if" if="[[infoAvailability.officeServices]]">
                            <section id="services-container">
                                <h2>
                                    <iron-icon icon="icons:view-list"></iron-icon>
                                    Poskytované služby
                                </h2>
                                <template is="dom-repeat" items="[[officeData.officeServices]]" as="officeServices">
                                    <div class="flex-horizontal service-item">
                                        <div class="service-name flexchild">[[officeServices.name]]</div>
                                        <div class="service-price">[[officeServices.price]]</div>
                                    </div>
                                </template>
                            </section>
                        </template>
                    </section>
                </template>
            </div>
            <template is="dom-if"
                      if="[[computeMapAvailability(showMap, mapLoaded, mapMarkerLoaded)]]">
                <!--TODO: restrict API key for our domain -->
                <google-map id="map_element" api-key="AIzaSyDk4noMo2J-k2pXpvlhaWBjMl4f2no4f18" fit-to-marker
                            zoom="16"
                            latitude="[[officeData.coordinates.latitude]]"
                            longitude="[[officeData.coordinates.longitude]]">
                    <google-map-marker latitude="[[officeData.coordinates.latitude]]"
                                       longitude="[[officeData.coordinates.longitude]]">
                    </google-map-marker>
                </google-map>
            </template>
        </div>
    </template>

    <script>
        Polymer({
            is: 'd-view',

            behaviors: [Polymer.NeonAnimationRunnerBehavior],

            properties: {

                firebaseApp: {
                    type: Object,
                    value: firebase.apps[0]
                },

                // Computed properties

                officeId: {
                    type: String,
                    computed: 'computeIdProperty(route.path)',
                    observer: 'loadOfficeData'
                },

                hideSpinner: {
                    type: Boolean,
                    value: false
                },

                hideError: {
                    type: Boolean,
                    value: true
                },

                hideContent: {
                    type: Boolean,
                    value: true
                },

                // Other

                insuranceNames: {
                    type: Object,
                    value: {
                        111: '111 Všeobecná zdravotní pojišťovna ČR',
                        201: '201 Vojenská zdravotní pojišťovna ČR',
                        205: '205 Česká průmyslová zdravotní pojišťovna',
                        207: '207 Oborová zdravotní poj. zam. bank, poj. a stav.',
                        209: '209 Zaměstnanecká pojišťovna Škoda',
                        211: '211 Zdravotní pojišťovna ministerstva vnitra ČR',
                        213: '213 Revírní bratrská pokladna, zdrav. pojišťovna'
                    }
                },

                days: {
                    type: Array,
                    value: ['Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota', 'Neděle']
                },

                appointmentId: {
                    type: Number
                },

                calendarVisibility: {
                    type: Boolean,
                    value: true
                },

                disabledCalendar: {
                    type: Boolean,
                    observer: "disabledCalendarObserver"
                },

                actionAfterAnimation: {
                    type: Boolean,
                    value: false
                },

                animationConfig: {
                    type: Object
                },

                onlineBooking: {
                    type: Boolean,
                    computed: "returnBoolean(officeData.lastGeneratedDate)",
                    observer: "observeOnlineBooking"
                },

                showMap: {
                    type: Boolean,
                    computed: "computeShowMap(officeData.coordinates.latitude, officeData.coordinates.longitude, smallScreen)",
                    observer: "observerShowMap"
                },


                // One object grouping the info about availability of info section information
                infoAvailability: {
                    type: Object,
                    computed: "computeInfoAvailability(officeData)"
                },

                // Lazy loading
                calendarElementLoaded: {
                    type: Boolean,
                    value: false
                },

                calendarDisabledElementLoaded: {
                    type: Boolean,
                    value: false
                },

                mapLoaded: {
                    type: Boolean,
                    value: false
                },

                mapMarkerLoaded: {
                    type: Boolean,
                    value: false
                }
            },

            listeners: {
                'neon-animation-finish': '_onNeonAnimationFinish',
                'appointment-request': '_onAppointmentRequest'
            },

            observeOnlineBooking: function (onlineBooking) {
                // Lazy load the elements
                if (onlineBooking) {
                    if (!this.calendarElementLoaded) {
                        this.importHref('/custom_components/calendar-element.html', function (e) {
                            this.calendarElementLoaded = true;
                        }.bind(this), function (e) {
                            console.log(e);
                        });
                    }
                    if (!this.calendarDisabledElementLoaded) {
                        this.importHref('/custom_components/calendar-disabled-element.html', function (e) {
                            this.calendarDisabledElementLoaded = true;
                        }.bind(this), function (e) {
                            console.log(e);
                        });
                    }
                }
            },

            computeShowMap: function (latitude, longitude, smallScreen) {
                return (!smallScreen && !!latitude && !!longitude);
            },

            observerShowMap: function (showMap) {
                if (showMap) {
                    if (!this.mapLoaded) {
                        this.importHref('/bower_components/google-map/google-map.html', function (e) {
                            this.mapLoaded = true;
                        }.bind(this), function (e) {
                            console.log(e);
                        });
                    }
                    if (!this.mapMarkerLoaded) {
                        this.importHref('/bower_components/google-map/google-map-marker.html', function (e) {
                            this.mapMarkerLoaded = true;
                        }.bind(this), function (e) {
                            console.log(e);
                        });
                    }
                }
            },

            loadOfficeData: function (officeId) {
                var db = this.firebaseApp.database(),
                    officeData;

                db.ref('/officeFullInfo/' + officeId).once('value').then(function (snapshot) {
                    officeData = snapshot.val();

                    if (officeData === null) {
                        this.hideError = false;
                    } else {
                        this.officeData = officeData;
                        this.hideContent = false;
                        this.hideError = true;
                        this.onOfficeDataLoaded();
                    }

                    this.hideSpinner = true;
                }.bind(this));
            },

            // Section for computed properties

            computeIdProperty: function (path) {
                if (path.length < 2) return null;
                return (path.substring(1));
            },

            // Functions called by observers

            onOfficeDataLoaded: function () {
                var mapElement = this.$$("#map_element");
                if (!!mapElement) {
                    mapElement.resize(); // Center the map with new coordinates
                }

                this.calendarVisibility = true; // Hide appointment form. Might be visible if user came from different office profile
            },

            /**
             * Change calendar opacity according to calendar disability
             */
            disabledCalendarObserver: function () {
                if (this.disabledCalendar) {
                    this.customStyle['--calendar-opacity'] = '0.3';
                } else {
                    this.customStyle['--calendar-opacity'] = '1';
                }
                this.updateStyles();
            },

            // Handlers of events from UI

            _confirmAppointment: function () {
                var db = this.firebaseApp.database(),
                    appointmentId = this.appointmentId,
                    officeId = this.officeId,
                    officeData = this.officeData,
                    uid = this.userId,
                    patientMessage = (!!this.patientMessage) ? this.patientMessage : null,
                    patientStatus = this.patientStatus,
                    objectToSave = {},
                    userInfo;

                objectToSave['/appointmentsPublic/' + officeId + '/' + appointmentId] = false;
                objectToSave['/userAppointments/' + uid + '/' + appointmentId] = {
                    message: patientMessage,
                    officeId: officeId,
                    address: officeData.address,
                    name: officeData.name
                };

                db.ref("/userInfo/" + uid).once("value").then(function (snapshot) {
                    userInfo = snapshot.val();

                    if (patientStatus === null) {
                        objectToSave['/userContactedOffices/' + uid + '/' + officeId] = {
                            status: 'accessed',
                            booked: false
                        };
                        objectToSave['/officePatients/' + officeId + '/' + uid] = userInfo;
                    }

                    objectToSave['/appointmentsPrivate/' + officeId + '/' + appointmentId] = {
                        source: 'online',
                        message: patientMessage,
                        patient: uid,
                        fullName: userInfo.name.firstName + " " + userInfo.name.lastName,
                        address: userInfo.address,
                        dateOfBirth: userInfo.dateOfBirth
                    };

                    objectToSave['/userContactedOffices/' + uid + '/' + officeId + '/booked'] = true;

                    // Save the appointment + optionally patientInfo
                    db.ref("/").update(objectToSave).then(function () {
                        this.fire('change-route', {url: '/user/appointments'});
                        this.fire("show-toast", {text: "Návštěva zaregistrována"});
                    }.bind(this), function (error) {
                        this.fire("show-dialog", {
                            path: "", viewName: "genericdialog", open: true,
                            data: {
                                text: 'Při objednávání se vyskytla chyba. Zkuste se prosím odhlásit a přihlásit.',
                                buttonText: 'Zavřít'
                            }
                        });
                    }.bind(this));

                }.bind(this));
            },

            _showCalendar: function () {
                this.actionAfterAnimation = true;
                this.playAnimation('slideDown');
            },

            // Handlers of animation events

            _onNeonAnimationFinish: function () {
                if (this.actionAfterAnimation) {
                    if (this.calendarVisibility) {
                        this.calendarVisibility = false;
                        this.playAnimation('slideFromBottom');
                    } else {
                        this.calendarVisibility = true;
                        this.playAnimation('slideFromTop');
                    }
                    this.actionAfterAnimation = false;
                }
            },

            _onAppointmentRequest: function (event) {
                this.actionAfterAnimation = true;
                this.playAnimation('slideUp');

                this.appointmentId = Number(event.detail['appointmentId']);

                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
            },

            _domComplete: function (event) {
                var form = this.$$("#appointment_form"),
                    calendar = this.$$("#calendar_container");

                if (form !== null && calendar !== null) {
                    this.animationConfig = {
                        'slideUp': {
                            name: 'slide-up-animation',
                            node: calendar
                        },
                        'slideFromTop': {
                            name: 'slide-from-top-animation',
                            node: calendar
                        },
                        'slideDown': {
                            name: 'slide-down-animation',
                            node: form
                        },
                        'slideFromBottom': {
                            name: 'slide-from-bottom-animation',
                            node: form
                        }
                    };
                }
            },

            // Computed bindings

            computeAppointmentDate: function (appointmentId) {
                var date, year, month, hours, minutes,
                    stringId = "" + appointmentId;

                date = Number(stringId.substring(6, 8));
                year = stringId.substring(0, 4);
                month = Number(stringId.substring(4, 6));
                hours = Number(stringId.substring(8, 10));
                minutes = stringId.substring(10, 12);

                return "" + date + "." + month + "." + year + " v " + hours + ":" + minutes;
            },


            computeFormattedName: function (title, first, last) {
                var fullName = (title === 'Žádný') ? "" : (title + " ");

                return (fullName + first + " " + last);
            },

            computeSpecialization: function (specialization) {
                return (this.specializations[specialization]);
            },

            returnBoolean: function (data) {
                return !!data;
            },

            computeMapLink: function (address) {
                return (!!address) ? "http://maps.google.com/maps?q=" + address.city + "," + address.street : null;
            },

            computeContentHiddenness: function (requestFinished, wrongId) {
                return requestFinished || wrongId;
            },

            computeHolidaysArray: function (officeHolidays) {
                var getFormattedDateTime = function (timestamp) {
                    return moment(timestamp).format('LLLL');
                };

                if (!!officeHolidays) {
                    return Object.keys(officeHolidays).map(function (key) {
                        return {
                            'startAt': getFormattedDateTime(Number(key)),
                            'endAt': getFormattedDateTime(Number(officeHolidays[key]['endAt'])),
                            'substituteDoctorName': officeHolidays[key]['substituteDoctorName'],
                            'hId': key
                        }
                    });
                }
            },

            computeInsuranceName: function (insuranceId) {
                return this.insuranceNames[insuranceId];
            },

            computeDateName: function (index) {
                return this.days[index]
            },

            computeMapAvailability: function (showMap, mapLoaded, mapMarkerLoaded) {
                return showMap && mapLoaded && mapMarkerLoaded;
            },

            computeIfCalendar: function (onlineBooking, calendarElementLoaded, calendarDisabledElementLoaded) {
                return onlineBooking && calendarElementLoaded && calendarDisabledElementLoaded;
            },

            computeInfoAvailability: function (officeData) {
                var availabilityObject = {"available": false},
                    areArrayDataAvailable = function (array) {
                        for (var i = 0; i < array.length; i++) {
                            if (array[i].available == true) {
                                return true
                            }
                        }
                        return false;
                    };

                availabilityObject["offlineOfficeHours"] = areArrayDataAvailable(officeData.offlineOfficeHours);
                availabilityObject["insurance"] = areArrayDataAvailable(officeData.insurance);
                availabilityObject["patientText"] = !!officeData.patientText;
                availabilityObject["officeServices"] = !!officeData.officeServices;
                availabilityObject["holidays"] = !!officeData.holidays;

                Object.keys(availabilityObject).forEach(function (key, index) {
                    if (availabilityObject[key]) {
                        availabilityObject.available = true;
                    }
                });

                return availabilityObject;
            }
        });
    </script>
</dom-module>
