<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/custom_components/office-element.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="d-view">
    <template>
        <style>
            div {
                padding-top: 74px;
                @apply(--layout);
                @apply(--layout-center-justified);
            }
        </style>

        <firebase-auth id="auth" app-name="doctor-appointment-system" status-known="{{statusKnown}}" user="{{user}}"></firebase-auth>

        <firebase-document id="office_document" app-name="doctor-appointment-system" path="/officeFullInfo/[[officeId]]" data="{{officeData}}">
        </firebase-document>

        <div hidden="[[!dataNotLoaded]]">
            <paper-spinner-lite active="[[dataNotLoaded]]"></paper-spinner-lite>
        </div>

        <office-element hidden="[[dataNotLoaded]]" office-data="[[officeData]]" logged-in="[[loggedIn]]"
                        verification-required="[[verificationRequired]]"></office-element>
    </template>

    <script>
        Polymer({
            is: 'd-view',

            properties: {
                officeId: {
                    type: String,
                    computed: 'computeID(route.path)'
                },

                loggedIn: {
                    type: Boolean,
                    computed: 'computeLoginStatus(statusKnown, user)'
                },

                dataNotLoaded: {
                    type: Boolean,
                    computed: 'computeDataAvailability(officeData)',
                    observer: 'disableReference'
                },

                verificationRequired: {
                    type: Boolean,
                    value: true
                }
            },

            listeners: {
                'handle-appointment': '_onHandleAppointment',
                'verify-user': '_onVerifyUser'
            },

            observers: [
                'setVerificationRequired(officeData.manualConfirmation, user.uid)'
            ],

            setVerificationRequired: function (manualConfirmation, uid) {
                if (manualConfirmation !== undefined) {
                    if (manualConfirmation && uid != undefined) {
                        var ref = this.$.auth.app.database().ref('/officeRegisteredPatients/' + uid);
                        ref.on('value', function (snapshot) {
                            if (snapshot.val() === null) {
                                this.verificationRequired = true;
                            } else {
                                this.verificationRequired = false;
                                ref.off();
                            }
                        }.bind(this));
                    } else {
                        this.verificationRequired = false;
                    }
                }
            },

            disableReference: function (dataNotLoaded) {
                if (!dataNotLoaded) {
                    this.$.office_document.ref.off();
                }
            },

            _onHandleAppointment: function (event) {
                var rootRef = this.$.office_document.ref.root,
                    appointmentId = event.detail['appointmentId'],
                    patientMessage = (!!event.detail['patientMessage']) ? event.detail['patientMessage'] : null,
                    privateAppointmentObject = {
                        'message': patientMessage,
                        'patient': this.user.uid
                    },
                    userAppointmentObject = {
                        'message': patientMessage,
                        'officeId': this.officeId
                    };

                // TODO: verify if set correctly
                rootRef.child('/appointmentsPublic/' + this.officeId + '/' + appointmentId).set(true);
                rootRef.child('/appointmentsPrivate/' + this.officeId + '/' + appointmentId).set(privateAppointmentObject);
                rootRef.child('/userAppointments/' + this.user.uid + '/' + appointmentId).set(userAppointmentObject);


                this.fire('change-route', {url: '/user/appointments'});
                this.fire("show-toast", {text: "Návštěva zaregistrována"});
                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
            },

            _onVerifyUser: function () {
                var uid = this.user.uid, officeId = this.officeId,
                    userInfoRef = this.$.auth.app.database().ref('/userInfo/' + uid),
                    rootRef = this.$.auth.app.database().ref('/'),
                    objectToSave = {};

//                TODO: use Promises to handle all the errors in one place
                userInfoRef.once('value').then(function (snapshot) {
                    if (snapshot.val() === null) {
                        this.fire("show-toast", {text: "Vyskytla se chyba"});
                    } else {
                        objectToSave['/userContactedOffices/' + uid + '/' + officeId + '/status'] = 'awaitsVerification';
                        objectToSave['/officePatientsToVerify/' + officeId + '/' + uid] = snapshot.val();

                        rootRef.update(objectToSave, function (error) {
                            if (error === null) {
//                                TODO: increment office notifications
                                this.fire("show-toast", {text: "Žádost o potvrzení odeslána"});
                            } else {
                                this.fire("show-toast", {text: "Vyskytla se chyba"});
                            }
                        }.bind(this))
                    }
                }.bind(this));

                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
            },


            computeID: function (path) {
                if (path.length < 2) return null;
                return (path.substring(1));
            },

            computeDataAvailability: function (data) {
                return Object.keys(data).length === 0;
            },

            computeLoginStatus: function (statusKnown, user) {
                return (statusKnown && !!user);
            }
        });
    </script>
</dom-module>
