<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner-lite.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/neon-animation/neon-animation-runner-behavior.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-up-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-from-top-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-from-bottom-animation.html">
<link rel="import" href="/bower_components/neon-animation/animations/slide-down-animation.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/custom_components/calendar-element.html">

<!--icons-->
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/social-icons.html">
<link rel="import" href="/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="/bower_components/iron-icons/maps-icons.html">
<link rel="import" href="/bower_components/google-map/google-map.html">
<link rel="import" href="/bower_components/google-map/google-map-marker.html">

<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="d-view">
    <template>
        <style include="layout-styles input-styles button-styles">

            :host {
                --calendar-opacity: 1;
            }

            #spinner {
                padding-top: 74px;
                @apply(--layout);
                @apply(--layout-center-justified);
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            /* na desktopu se po kliknuti na mail a phone a nic neotevre,
             tak aby tam nebyla ikona ruky jako ze se ma neco stat*/
            .info-section a {
                margin-top: 1.7em;
                cursor: default;
            }

            #map-icon {
                color: var(--app-green-color) !important;
                cursor: pointer;
            }

            #head {
                padding: 40px 15px;
                margin: 0;
                color: #fff;
                background-color: var(--app-accent-color);
                box-shadow: 2px -2px 8px rgba(0, 0, 0, 0.1);
            }

            section > div {
                text-align: left;
                margin-top: 1.5em;
            }

            .photo-name-section {
                text-align: center;
                position: relative;
            }

            .photo-name-section img {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                border: 1px solid white;
                margin-bottom: 1em;
            }

            .photo-name-section h3 {
                margin: 0 0 0.2em 0;
                font-size: 1.3em;
            }

            #name-without-photo {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-top: 0;
            }

            .info-section > div:first-child {
                margin-top: 0;
            }

            #address-city {
                margin-left: 44px;
                margin-top: 0;
            }

            .order-info {
                display: inline-block;
                padding: 1em;
            }

            #accept-new {
                background-color: var(--app-green-color);
            }

            #not-accept-new {
                background-color: var(--app-red-color);
            }

            .wide-container {
                margin: 30px auto;
                max-width: 900px;
            }

            #head iron-icon {
                margin-right: 15px;
            }

            /*** CALENDAR ***/
            #calendar_container {
                text-align: center;
                opacity: var(--calendar-opacity);
            }

            #calendar_container h3 {
                margin-bottom: 0;
            }

            #calendar_container p {
                margin-bottom: 3em;
                padding-bottom: 1em;
                border-bottom: 1px solid #ccd;
            }

            /*** FORM ***/

            #exit-form {
                margin-top: 2em;
                margin-bottom: -60px;
            }

            #exit-form span {
                color: var(--app-green-color);
                cursor: pointer;
            }

            #appointment_form paper-textarea {
                margin-top: 2em;
            }

            /*** MAP AND PATIENT INFO ***/
            #map-and-patient-info {
                border-top: 1px solid #ccccd5;
            }

            .patient-container {
                margin: 4em auto 1.5em auto;
                text-align: justify;
            }

            .patient-container iron-icon {
                color: var(--app-green-color);
            }

            google-map {
                height: 60vh;
                border-top: 1px solid #ccccd5;
            }

            /*** OTHER ***/
            .centered {
                @apply(--layout);
                @apply(--layout-center-justified);
            }

            @media only screen and (max-width: 717px) {

                #head {
                    padding-bottom: 0;
                }

                .photo-name-section img {
                    width: 100px;
                    height: 100px;
                }

                #name-without-photo {
                    position: static;
                    transform: none;
                }

                .info-section {
                    margin-top: 1.7em;
                    padding-top: 2em;
                    border-top: 1px solid #fff;
                }

                .patient-container {
                    margin-top: 30px;
                }

                .order-info {
                    display: block;
                    padding-bottom: 1em;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }

        </style>

        <firebase-auth id="auth" app-name="doctor-appointment-system" status-known="{{statusKnown}}" user="{{user}}"></firebase-auth>

        <firebase-document id="office_document" app-name="doctor-appointment-system" path="/officeFullInfo/[[officeId]]" data="{{officeData}}">
        </firebase-document>

        <firebase-document app-name="doctor-appointment-system"
                           path="/userContactedOffices/[[user.uid]]/[[officeId]]" data="{{userContactedOffice}}">
        </firebase-document>

        <div id="spinner" hidden="[[!dataNotLoaded]]">
            <paper-spinner-lite active="[[dataNotLoaded]]"></paper-spinner-lite>
        </div>

        <div hidden="[[dataNotLoaded]]">
            <div id="head" class="subsection grid">
                <section class="photo-name-section">
                    <template is="dom-if" if="[[officeData.photoAvailability]]">
                        <img src$="[[computePhotoURL(photoFile)]]">
                        <h3>[[computeFormattedName(officeData.name.firstName, officeData.name.lastName)]]</h3>
                        <span>[[computeSpecialization(officeData.specialization)]]</span>
                    </template>

                    <div id="name-without-photo" hidden="[[officeData.photoAvailability]]">
                        <h3>[[computeFormattedName(officeData.name.firstName, officeData.name.lastName)]]</h3>
                        <span>[[computeSpecialization(officeData.specialization)]]</span>
                    </div>
                </section>

                <section class="info-section">
                    <div>
                        <a target="_blank" title="Zobrazit mapu v novém okně" href="[[computeMapLink(officeData.address)]]">
                            <iron-icon id="map-icon" icon="maps:place"></iron-icon>
                        </a>
                        [[officeData.address.street]]<br>
                        <span id="address-city">[[officeData.address.city]]</span>
                    </div>

                    <div hidden="[[!computeTextAvailability(officeData.phoneNumber)]]">
                        <a href="tel:[[officeData.phoneNumber]]">
                            <iron-icon icon="communication:phone"></iron-icon>
                        </a>
                        [[officeData.phoneNumber]]
                    </div>

                    <div hidden="[[!computeTextAvailability(officeData.email)]]">
                        <a href="mailto:bert.blader@gmail.com">
                            <iron-icon icon="communication:email"></iron-icon>
                        </a>
                        [[officeData.email]]
                    </div>

                    <div id="accept-new" class="order-info" hidden="[[!officeData.acceptingNewPatients]]">
                        <iron-icon icon="social:group"></iron-icon>
                        Lékař přijímá nové pacienty
                    </div>

                    <div id="not-accept-new" class="order-info" hidden="[[officeData.acceptingNewPatients]]">
                        <iron-icon icon="social:group"></iron-icon>
                        Lékař nepřijímá nové pacienty
                    </div>
                </section>
            </div>

            <div id="appointment-container" class="main-frame">
                <div class="wide-container" id="main_container">
                    <div hidden="[[loggedIn]]">
                        <h3>Vyžadováno přihlášení</h3>
                        <p>Pro objednání je vyžadováno přihlášení. Můžete se přihlásit kliknutím na tlačítko níže.</p>
                        <paper-button on-tap="_logIn" raised>Přihlásit</paper-button>
                    </div>
                    <div hidden="[[!computeVerificationVisibility(verificationRequired, loggedIn, patientStatus)]]">
                        <h3>Vyžadováno potvrzení</h3>
                        <p>Pro objednání je nutné ověření od doktora. Doktor podle Vašich osobních údajů ověří, zda jste
                            jeho pacient. Pro ověření prosím
                            klikněte na tlačítko níže. Jakmile Vás doktor potvrdí, notifikujeme Vás. Poté se budete moci
                            objednat.
                        </p>
                        <paper-button on-tap="_verifyUser" raised>Požádat o potvrzení</paper-button>
                    </div>
                    <div hidden="[[computeBlockedVisibility(patientStatus)]]">
                        <h3>Přístup zablokován</h3>
                        <p>Doktor Vám zablokoval přístup k objednávání. Zřejmě nejste jeho pacientem.</p>
                    </div>
                    <div hidden="[[computeVerificationRequestSendVisibility(patientStatus)]]">
                        <h3>Žádost odeslána</h3>
                        <p>Nyní prosím vyčkejte, než Vám doktor povolí přístup.</p>
                    </div>
                    <div id="calendar_container">
                        <h3 hidden="[[!calendarVisibility]]">Kalendář</h3>
                        <p hidden="[[!calendarVisibility]]">Pro objednání vyberte čas, na který se chcete objednat.</p>

                        <calendar-element hidden="[[!calendarVisibility]]" office-id="[[officeId]]" disabled="[[disabledCalendar]]">
                        </calendar-element>
                    </div>
                    <div hidden="[[calendarVisibility]]" id="appointment_form">
                        <h3>Objednat se</h3>
                        <span>Datum objednání: <b>[[computeAppointmentDate(appointmentId)]]</b></span>
                        <paper-textarea id="patient_message" label="Dobrovolná zpráva pro lékaře" char-counter
                                        maxlength="200"></paper-textarea>
                        <paper-button on-tap="_confirmAppointment" raised>Potvrdit objednání</paper-button>
                        <div id="exit-form" class="centered" on-tap="_showCalendar">
                            <span><iron-icon icon="today"></iron-icon>Zpět na kalendář</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="map-and-patient-info">
                <template is="dom-if" if="[[computeTextAvailability(officeData.patientText)]]">
                    <div class="patient-container main-frame">
                        <h3>
                            <iron-icon icon="icons:info"></iron-icon>
                            Informace pro pacienty
                        </h3>
                        <p>[[officeData.patientText]]</p>
                    </div>
                </template>
                <template is="dom-if"
                          if="[[computeMapAvailability(officeData.coordinates.latitude, officeData.coordinates.longitude, smallScreen)]]">
                    <!--TODO: restrict API key for our domain -->
                    <google-map id="map_element" api-key="AIzaSyAqsxSW1xtRQ5HPFA73iILCIkRj4stY4LI" fit-to-marker zoom="16"
                                latitude="[[officeData.coordinates.latitude]]"
                                longitude="[[officeData.coordinates.longitude]]">
                        <google-map-marker latitude="[[officeData.coordinates.latitude]]"
                                           longitude="[[officeData.coordinates.longitude]]">
                        </google-map-marker>
                    </google-map>
                </template>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'd-view',

            behaviors: [Polymer.NeonAnimationRunnerBehavior],

            properties: {

                // Computed properties

                officeId: {
                    type: String,
                    computed: 'computeIdProperty(route.path)'
                },

                loggedIn: {
                    type: Boolean,
                    computed: 'computeLoggedInProperty(statusKnown, user)'
                },

                dataNotLoaded: {
                    type: Boolean,
                    computed: 'computeDataNotLoadedProperty(officeData)',
                },

                disabledCalendar: {
                    type: Boolean,
                    computed: 'computeDisabledCalendarProperty(loggedIn, verificationRequired, patientStatus)',
                    observer: 'disabledCalendarObserver'
                },

                patientStatus: {
                    type: String,
                    value: null,
                    computed: 'computePatientStatusProperty(userContactedOffice)'
                },

                // Other

                officeData: {
                    observer: 'observerOfficeData'
                },

                verificationRequired: {
                    type: Boolean,
                    value: true
                },

                specializations: {
                    type: Array,
                    value: ['Zubař', 'Rektálník', 'Gynekolog']
                },

                appointmentId: {
                    type: Number
                },

                calendarVisibility: {
                    type: Boolean,
                    value: true
                },

                actionAfterAnimation: {
                    type: Boolean,
                    value: false
                },

                animationConfig: {
                    value: function () {
                        return {
                            'slideUp': {
                                name: 'slide-up-animation',
                                node: this.$.calendar_container
                            },
                            'slideFromTop': {
                                name: 'slide-from-top-animation',
                                node: this.$.calendar_container
                            },
                            'slideDown': {
                                name: 'slide-down-animation',
                                node: this.$.appointment_form
                            },
                            'slideFromBottom': {
                                name: 'slide-from-bottom-animation',
                                node: this.$.appointment_form
                            }
                        }
                    }
                }
            },

            listeners: {
                'neon-animation-finish': '_onNeonAnimationFinish',
                'appointment-request': '_onAppointmentRequest'
            },

            observers: [
                'setVerificationRequired(officeData.manualConfirmation, user.uid)'
            ],

            // Section for computed properties

            computeIdProperty: function (path) {
                if (path.length < 2) return null;
                return (path.substring(1));
            },

            computeLoggedInProperty: function (statusKnown, user) {
                return (statusKnown && !!user);
            },

            computeDataNotLoadedProperty: function (data) {
                return Object.keys(data).length === 0;
            },

            computeDisabledCalendarProperty: function (loggedIn, verificationRequired, patientStatus) {
                return (!loggedIn || (verificationRequired && patientStatus !== 'accessed'));
            },

            computePatientStatusProperty: function (userContactedOffice) {
                return (Object.keys(userContactedOffice).length === 1) ? userContactedOffice.status : null;
            },

            // Functions called by observers

            setVerificationRequired: function (manualConfirmation, uid) {
                if (manualConfirmation !== undefined && manualConfirmation && uid != undefined) {
                    var ref = this.$.auth.app.database().ref('/officeRegisteredPatients/' + uid);
                    ref.on('value', function (snapshot) {
                        if (snapshot.val() === null) {
                            this.verificationRequired = true;
                        } else {
                            this.verificationRequired = false;
                            ref.off();
                        }
                    }.bind(this));
                } else {
                    this.verificationRequired = false;
                }
            },

            observerOfficeData: function () {
                var mapElement = this.$$("#map_element");
                if (!!mapElement) {
                    mapElement.resize(); // Center the map with new coordinates
                }

                this.calendarVisibility = true; // Hide appointment form. Might be visible if user came from different office profile
            },

            /**
             * Change calendar opacity according to calendar disability
             */
            disabledCalendarObserver: function () {
                if (this.disabledCalendar) {
                    this.customStyle['--calendar-opacity'] = '0.3';
                } else {
                    this.customStyle['--calendar-opacity'] = '1';
                }
                this.updateStyles();
            },

            // Handlers of events from UI

            _confirmAppointment: function () {
                var rootRef = this.$.office_document.ref.root,
                    appointmentId = this.appointmentId,
                    patientMessage = (!!this.$.patient_message.value) ? this.$.patient_message.value : null,
                    privateAppointmentObject = {
                        'message': patientMessage,
                        'patient': this.user.uid
                    },
                    userAppointmentObject = {
                        'message': patientMessage,
                        'officeId': this.officeId
                    };

                // TODO: verify if set correctly
                rootRef.child('/appointmentsPublic/' + this.officeId + '/' + appointmentId).set(true);
                rootRef.child('/appointmentsPrivate/' + this.officeId + '/' + appointmentId).set(privateAppointmentObject);
                rootRef.child('/userAppointments/' + this.user.uid + '/' + appointmentId).set(userAppointmentObject);


                this.fire('change-route', {url: '/user/appointments'});
                this.fire("show-toast", {text: "Návštěva zaregistrována"});
            },


            _verifyUser: function () {
                var uid = this.user.uid, officeId = this.officeId,
                    db = this.$.auth.app.database(), objectToSave = {};


                db.ref('/userInfo/' + uid).once('value').then(function (snapshot) {

                    objectToSave['/userContactedOffices/' + uid + '/' + officeId + '/status'] = 'awaitsVerification';
                    objectToSave['/officePatientsToVerify/' + officeId + '/' + uid] = snapshot.val();

                    db.ref('/').update(objectToSave).then(function () {
                        return db.ref('/officeNumberOfNotifications/' + officeId).transaction(function (currentCount) {
                            return (currentCount === null) ? null : currentCount + 1;
                        });
                    })
                }).then(function () {
                    this.fire("show-toast", {text: "Žádost o potvrzení odeslána"});
                }.bind(this), function (error) {
                    // TODO: handle error
                    console.error(error);
                });

                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
            },

            _logIn: function () {
                this.fire("show-dialog", {path: "", viewName: "login", open: true});
            },

            _showCalendar: function () {
                this.actionAfterAnimation = true;
                this.playAnimation('slideDown');
            },

            // Handlers of animation events

            _onNeonAnimationFinish: function () {
                if (this.actionAfterAnimation) {
                    if (this.calendarVisibility) {
                        this.calendarVisibility = false;
                        this.playAnimation('slideFromBottom');
                    } else {
                        this.calendarVisibility = true;
                        this.playAnimation('slideFromTop');
                    }
                    this.actionAfterAnimation = false;
                }
            },

            _onAppointmentRequest: function (event) {
                this.actionAfterAnimation = true;
                this.playAnimation('slideUp');

                this.appointmentId = Number(event.detail['appointmentId']);

                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
            },

            // Computed bindings

            computeAppointmentDate: function (appointmentId) {
                var date, year, month, hours, minutes,
                    stringId = "" + appointmentId;

                date = Number(stringId.substring(6, 8));
                year = stringId.substring(0, 4);
                month = Number(stringId.substring(4, 6));
                hours = Number(stringId.substring(8, 10));
                minutes = stringId.substring(10, 12);

                return "" + date + "." + month + "." + year + " v " + hours + ":" + minutes;
            },


            computeFormattedName: function (first, last) {
                return (first + " " + last);
            },

            computeSpecialization: function (specialization) {
                return (this.specializations[specialization]);
            },

            computeBlockedVisibility: function (patientStatus) {
                return patientStatus !== 'blocked';
            },

            computeTextAvailability: function (text) {
                return (!!text);
            },

            computePhotoURL: function (file) {
                if (file) return URL.createObjectURL(file);
            },

            computeMapAvailability: function (latitude, longitude, smallScreen) {
                return (!smallScreen && !!latitude && !!longitude);
            },

            computeMapLink: function (address) {
                return (!!address) ? "http://maps.google.com/maps?q=" + address.city + "," + address.street : null;
            },

            computeVerificationVisibility: function (verificationRequired, loggedIn, patientStatus) {
                return verificationRequired && loggedIn && !(!!patientStatus);
            },

            computeVerificationRequestSendVisibility: function (patientStatus) {
                return patientStatus !== 'awaitsVerification'
            }
        });
    </script>
</dom-module>
