<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="/bower_components/polymerfire/firebase-app-script.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/device-icons.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="docinfo-view">
    <template>
        <style include="button-styles layout-styles input-styles">
            :host {
                display: block;
            }

            .green {
                background-color: var(--app-green-color);
                color: #fff !important;
            }

            .blue {
                background-color: var(--app-accent-color);
                color: #fff !important;
            }

            .grey {
                background-color: #fafafb;
                border-top: 1px solid #e7e7e8;
                border-bottom: 1px solid #e7e7e8;
            }

            a {
                text-decoration: none;
            }

            h1 {
                letter-spacing: 0.02em;
            }

            .main-frame {
                max-width: 1200px;
                font-weight: lighter;
                padding: 0;
                color: #252526;
                margin: 2em auto;
            }

            .grid section {
                padding: 4.5em 5%;
                margin: 0 !important;
                position: relative;
            }

            section > p {
                font-size: 1.15em;
                line-height: 1.65em;
            }

            section > h1 {
                font-size: 1.6em;
                margin-top: 0;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                max-width: 250px;
                max-height: 250px;
            }

            #patient-image {
                max-width: 150px;
            }

            #comp-img {
                margin-left: 0;
                margin-bottom: 0;
                max-width: 480px;
                max-height: 480px;
            }

            .img-section {
                text-align: center;
            }

            #office-presence-section a {
                font-weight: bold;
                background-color: var(--app-green-color);
                color: #fff;
                padding: 0.5em 1em;
                border-radius: 1em;
            }

            #office-registration {
                background-color: var(--app-accent-color);
                color: #fff;
                padding: 5%;
                margin-top: 4em;
            }

            #office-registration * {
                color: #fff;
            }

            #office-registration section {
                text-align: center;
                padding-top: 0;
                padding-bottom: 2em;
            }

            #office-registration section:first-child {
                border-right: 2px solid #374C80;
            }

            #office-registration h1 {
                text-align: center;
                margin-bottom: 3em;
            }

            #office-registration h2 {
                font-size: 1.5em;
                letter-spacing: 0.02em;
                margin-top: 0.5em;
            }

            #office-registration paper-button {
                padding: 1.2em 2em;
                letter-spacing: 0.08em;
                font-weight: bold;
            }

            #question-container {
                background-color: #fbfbfc;
                padding: 3em;
            }

            #question-container h2 {
                font-size: 1.5em;
                letter-spacing: 0.02em;
                margin-top: 0.5em;
            }

            form {
                max-width: 500px;
                margin: 0 auto;
            }

            #first-square-section {
                margin-bottom: 0;
            }

            #last-presentation-section {
                margin-top: 0;
            }

            #no-contract-section {
                box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 18px 10px rgba(0, 0, 0, 0.22);
            }

            /*** PRICE ***/

            .price-section {
                max-width: 750px;
                text-align: center;
            }

            .features-section {
                max-width: 20em;
                margin: 0 auto;
                text-align: left;
                font-size: 1.2em;
                font-weight: bold;
            }

            .features-section > div {
                margin: 0.8em 0;
            }

            #free-section {
                color: var(--app-green-color);
            }

            #free-section .price-header {
                padding: 1em 0;
                color: var(--app-green-color);
            }

            #paid-section {
                border-left: 1px solid #e0e0e1;
                color: var(--app-accent-color);
            }

            .price-header {
                text-align: center;
                font-size: 1.5em;
                letter-spacing: 0.03em;
                font-weight: bold;
                padding: 0.5em 1em;
                max-width: 11em;
                margin: 0 auto 1.8em auto;
                border-radius: 4em;
            }

            .price-header .description {
                font-size: 0.7em;
                margin-top: 0.2em;
                font-weight: lighter;
            }

            #pricing-headline-section {
                padding: 0 5% 2em 5%;
                max-width: 900px;
                margin-top: 6em;
                margin-bottom: 0;
            }

            #pricing-detail {
                max-width: 600px;
                margin: 4em auto 0 auto;
                padding: 0 5%;
                color: #8a8a8b;
            }

            /******************************/

            @media (max-width: 980px) {
                #comp-img {
                    max-width: 350px;
                    max-height: 350px;
                }
            }

            @media (max-width: 716px) {

                .grid section {
                    padding: 7% 5%;
                }

                img {
                    position: static;
                    max-width: 150px;
                    max-height: 150px;
                }

                #office-registration section:first-child {
                    border-right: none;
                    padding-bottom: 4em;
                    border-bottom: 2px solid #374C80;
                }

                #office-registration section:nth-child(2) {
                    padding-top: 4em;
                }

                #office-registration h1 {
                    margin-bottom: 1em;;
                }

                #paid-section {
                    border-left: none;
                    border-top: 1px solid #dededf;
                }

                .price-section {
                    font-size: 0.9em;
                }
            }

            @media (min-width: 767px) {
                paper-button, a {
                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
                }

                paper-button:hover {
                    transform: scale(1.1);
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                }

                a:hover {
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                }

                #presentation-detail {
                    margin-left: 1.8em;
                    font-size: 0.95em;
                }
            }

        </style>

        <iron-media-query query="max-width:716px" query-matches="{{smallScreen}}"></iron-media-query>

        <section class="main-frame grid">
            <section>
                <h1>Co je Docta?</h1>
                <p>Docta je moderní nástroj, který spojuje lékaře s pacienty a usnadňuje lékařům práci.
                    Jako lékař si zaregistrujete svou ordinaci, která bude veřejně k zobrazení na
                    našich stránkách. Rovněž budete mít přístup k rozhraní ordinace, kde budete mít kompletní přehled o
                    svých pacientech.<br>
                    <b>TODO s mírou přehajpovaná sekce</b>
                </p>
            </section>
            <section class="img-section">
                <img src="../images/logo.png">
            </section>
        </section>

        <section class="main-frame grid grey">
            <section class="img-section" hidden="[[smallScreen]]">
                <img id="comp-img" src="../images/computer.png">
            </section>
            <section id="office-presence-section">
                <h1>Kompletní prezentace ordinace zdarma</h1>
                <p>Na Docta.cz můžete prezentovat všechny důležité informace o vaší ordinaci zcela zdarma a
                    napořád.
                    <br>
                    <br>
                    <a href="#">Zobrazit ukázkový profil</a>
                </p>
            </section>
        </section>

        <section class="main-frame grid">
            <section>
                <h1>Přenechte objednání pacientům</h1>
                <p>Odprostěte se od telefonátů a nechte pacienty, ať se objednají sami.
                    V ordinaci se tak můžete nerušeně věnovat své práci.
                    Podle Vašich objednávacích hodin Vám vytvoříme kalendář na míru.
                </p>
            </section>
            <section class="img-section">
                <img id="patient-image" src="../images/patient.png">
            </section>
        </section>

        <section class="main-frame grid" id="first-square-section">
            <section class="blue">
                <h1>Máte kontrolu nad pacienty</h1>
                <p>Nemusíte mít strach, že se k vám bude objednávat kde kdo. Můžete si vybrat si, jací pacienti se u
                    vás mohou objednat. U každého pacienta uvidíte údaje potřebné k jeho jednoznačné identifikaci.</p>
            </section>
            <section class="grey">
                <h1>Vše na jednom místě</h1>
                <p>V rozhraní Vaší ordinace máte elektronický kalendář, kde máte přehled o všech objednaných pacientech.
                    Samozřejmě můžete objednat i pacienty, kteří se vám ozvou po telefonu.</p>
            </section>
        </section>


        <section class="main-frame grid" id="last-presentation-section">
            <section class="grey">
                <h1>Spolupracujte s Vašimi kolegy</h1>
                <p>Do balíčku zdarma je zahrnuta komunikace s Vašimi kolegy.
                    Můžete tak sdílet informace, ušetřit si čas a zefektivnit léčbu.
                    Součástí našich prémiových služeb je pak komunikace i s vašimi pacienty.</p>
            </section>
            <section class="green" id="no-contract-section">
                <h1>Bez smlouvy a závazků</h1>
                <p>Všechny naše služby můžete začít využívat ihned a bez závazků.
                    Prémiové služby můžete využívat hned od druhého dne, nemusíte se nám nijak zavazovat a je tak zcela
                    na vás,jak budete našich služeb využívat.
                </p>
            </section>
        </section>


        <section class="main-frame" id="pricing-headline-section">
            <h1>Neplatíte za pacienty ani paušály</h1>
            <p>U nás zaplatíte pouze za dny, kdy využijete našich placených služeb.
                Pokud budete na dovolené a nebo zrovna nebudete tyto služby využívat, nic vám účtovat
                nebudeme. Pokdu si přijete online objednávání, tak můžete přijímat kolik pacientů chcete a nic navíc
                neplatíte.
                <b>Jako bonus od nás dostanete kredit 400 Kč na naše služby zcela zdarma.</b>
            </p>
        </section>

        <section class="main-frame grid">
            <section id="free-section" class="price-section">
                <div class="green price-header">ZDARMA</div>
                <div class="features-section">
                    <div>&#8226;&nbsp; Kompletní prezentace Vaší ordinace</div>
                    <div id="presentation-detail" hidden="[[smallScreen]]">
                        <div>&#8226; &nbsp; Kontaktní informace</div>
                        <div>&#8226; &nbsp; Seznam smluvních pojišťoven</div>
                        <div>&#8226; &nbsp; Ceník poskytovaných služeb</div>
                        <div>&#8226; &nbsp; Upozornění na dovolenou</div>
                    </div>
                    <div>&#8226;&nbsp; Komunikace s Vašimi kolegy</div>
                    <div>&#8226;&nbsp; Naše prémiové služby v hodnotě 400 Kč</div>
                </div>
            </section>
            <section id="paid-section" class="price-section">
                <div class="blue price-header">PREMIUM
                    <div class="description">+ 20 Kč za den online objednávání</div>
                </div>
                <div class="features-section">
                    <div>+ Online objednávání pacientů</div>
                    <div>+ Kontrola nad objednanými pacienty</div>
                    <div>+ Elektronický kalendář</div>
                    <div>+ Komunikace s pacienty</div>
                </div>
            </section>
        </section>


        <section id="pricing-detail">Pokud v registraci ordinace zvolíte možnost online objednání, tak je cena účtována
            měsíčně podle toho, na kolik dnů se za poslední měsíc bylo možné objednat online.
        </section>

        <div id="office-registration">
            <h1>Jak zaregistruji svoji ordinaci?</h1>
            <section class="grid main-frame">
                <section id="no-account-section">
                    <h2>Ještě nemáte žádný účet?</h2>
                    <a href="/registration">
                        <paper-button raised>Založte si účet</paper-button>
                    </a>
                    <p>Po registraci obdržíte email, který vás navede na registraci vaší ordinace.
                    </p>
                </section>
                <section>
                    <h2>Už máte účet?</h2>
                    <a href="/office/registration/first">
                        <paper-button raised>Zaregistrujte ordinaci</paper-button>
                    </a>
                </section>
            </section>
        </div>

        <div id="question-container" hidden="[[messageSent]]">
            <form id="docinfo_form" is="iron-form">
                <h2>Máte nějaký dotaz? Zeptejte se nás.</h2>
                <gold-email-input id="email_input" error-message="Špatný formát"
                                  label="Vaše emailová adresa" required>
                </gold-email-input>
                <paper-textarea id="message_input" label="Vaše zpráva" char-counter
                                error-message="Zpráva nesmí být prázdná"
                                maxlength="2000" required></paper-textarea>
                <paper-button raised on-tap="send">Odeslat</paper-button>
            </form>
        </div>
    </template>

    <script>
        Polymer({
            is: 'docinfo-view',

            properties: {
                messageSent: {
                    type: Boolean,
                    value: false
                }
            },

            send: function () {
                //  paper-textarea was not detected by form validation, so I'm validating the inputs manually
                if (this.$.email_input.validate() && this.$.message_input.validate()) {
                    this.sendQuestion();
                }
            },

            sendQuestion: function () {

                var email = this.$.email_input.value,
                    message = this.$.message_input.value,
                    db = firebase.apps[0].database();

                db.ref('/docInfoQuestions/').push({
                    "email": email,
                    "message": message
                }).then(function () {
                    this.fire("show-toast", {text: "Zpráva odeslána"});
                    this.messageSent = true;
                }.bind(this), function () {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Při ukládání dat se vyskytla chyba. Zkuste to prosím znovu.',
                            buttonText: 'Zavřít'
                        }
                    });
                }.bind(this));
            }
        });
    </script>
</dom-module>
