<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/device-icons.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="docinfo-view">
    <template>
        <style include="button-styles layout-styles input-styles">
            :host {
                display: block;
            }

            a {
                text-decoration: none;
            }

            h1 {
                letter-spacing: 0.02em;
            }

            .main-frame {
                max-width: 1200px;
                font-weight: lighter;
                padding: 0;
                color: #252526;
                margin: 2em auto;
            }

            .grid section {
                padding: 5%;
                margin: 0 !important;
                position: relative;
            }

            section > p {
                font-size: 1.15em;
                line-height: 1.65em;
            }

            section > h1 {
                font-size: 1.6em;
                margin-top: 0;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                max-width: 250px;
                max-height: 250px;
            }

            .img-section {
                text-align: center;
            }

            .colored-section {
                color: #fff;
                background-color: var(--app-green-color);
            }

            .colored-section:first-child {
                background-color: var(--app-accent-color);
            }

            .grey-section {
                border: 1px solid #e7e7e8;
                background-color: #fafafb;
            }

            #office-registration {
                background-color: var(--app-accent-color);
                color: #fff;
                padding: 5%;
                margin-top: 6em;
            }

            #office-registration * {
                color: #fff;
            }

            #office-registration section {
                text-align: center;
                padding-top: 0;
                padding-bottom: 2em;
            }

            #office-registration section:first-child {
                border-right: 2px solid #374C80;
            }

            #office-registration h1 {
                text-align: center;
                margin-bottom: 3em;
            }

            #office-registration h2 {
                font-size: 1.5em;
                letter-spacing: 0.02em;
                margin-top: 0.5em;
            }

            #office-registration paper-button {
                padding: 1.2em 2em;
                letter-spacing: 0.08em;
                font-weight: bold;
            }

            #question-container {
                background-color: #fbfbfc;
                padding: 3em;
            }

            #question-container h2 {
                font-size: 1.5em;
                letter-spacing: 0.02em;
                margin-top: 0.5em;
            }

            form {
                max-width: 500px;
                margin: 0 auto;
            }

            @media (max-width: 1200px) {
                #office-registration {
                    margin-top: 0;
                }

                #last-presentation-section {
                    margin-bottom: 0;
                }
            }

            @media (max-width: 716px) {

                .grid section {
                    padding: 7% 5%;
                }

                img {
                    position: static;
                    max-width: 150px;
                    max-height: 150px;
                }

                #office-registration section:first-child {
                    border-right: none;
                    padding-bottom: 4em;
                    border-bottom: 2px solid #374C80;
                }

                #office-registration section:nth-child(2) {
                    padding-top: 4em;
                }

                #office-registration h1 {
                    margin-bottom: 1em;
                }
            }


        </style>

        <section class="main-frame grid">
            <section>
                <h1>Co je Docta?</h1>
                <p>Docta je systém, jehož cílem je propojit lékaře s pacienty a ulehčit tak lékařům každodenní
                    práci v ordinaci. Jako lékař si můžete zaregistrovat svou ordinaci, která bude veřejně k zobrazení
                    na
                    našich stránkách. Rovněž budete mít přístup k rozhraní ordinace, kde budete mít kompletní přehled o
                    svých pacientech.
                </p>
            </section>
            <section class="img-section">
                <img src="../images/logo.png">
            </section>
        </section>

        <section class="main-frame grid">
            <section class="colored-section">
                <h1>Přenechte objednání pacientům</h1>
                <p>Šetřete svůj čas a přenechte objednání pacientům. V nastavení ordinace si budete moci určit ordinační
                    hodiny a časové rozestupy mezi jednotlivými
                    návštěvami, na základě toho vám vytvoříme kalendář s objednávacími časy. </p>
            </section>
            <section class="grey-section">
                <h1>Mějte přehled</h1>
                <p>K dispozici máte elektronický kalendář, kde vidíte všechny objednané pacienty. Samozřejmě máte
                    možnost
                    objednat i pacienty, kteří se vám ozvou po telefonu. </p>
            </section>
        </section>

        <section class="main-frame grid">
            <section>
                <h1>Jen pacienti, které chcete</h1>
                <p>Nemusíte mít strach, že se k vám bude objednávat kde kdo. Máte možnost si vybrat, jací pacienti se u
                    vás mohou objednat. U každého pacienta uvidíte údaje potřebné k jeho jednoznačné identifikaci. Také
                    můžete upozornit pacienty na to, zda přijímáte nové pacienty či
                    nikoli.
                </p>
            </section>
            <section class="img-section">
                <img src="../images/patient.png">
            </section>
        </section>


        <section class="main-frame grid" id="last-presentation-section">
            <section class="grey-section">
                <h1>Komunikujte s pacienty</h1>
                <p>Potřebujete poslat pacientovi zprávu, anebo provést online konzultaci? Komunikace mezi lékařem a
                    pacientem je plně zakomponována do našeho systému. </p>
            </section>
            <section class="colored-section">
                <h1>Ovládejte odkudkoli</h1>
                <p>Celý systém je online a plně responzivní, což znamená, že je snadno ovladatelný jak z počítače, tak
                    telefonu nebo tabletu. Vše můžete mít pod kontrolou všude tam, kde je připojení k internetu.</p>
            </section>
        </section>


        <div id="office-registration">
            <h1>Jak zaregistruji svoji ordinaci?</h1>
            <section class="grid main-frame">
                <section id="no-account-section">
                    <h2>Ještě nemáte žádný účet?</h2>
                    <a href="/registration">
                        <paper-button raised>Založte si účet</paper-button>
                    </a>
                    <p>Po registraci obdržíte email, který vás navede na registraci vaší ordinace.
                    </p>
                </section>
                <section>
                    <h2>Už máte účet?</h2>
                    <a href="/office/registration/data">
                        <paper-button raised>Zaregistrujte ordinaci</paper-button>
                    </a>
                </section>
            </section>
        </div>

        <div id="question-container">
            <form>
                <h2>Máte nějaký dotaz? Zeptejte se nás.</h2>
                <gold-email-input id="emailID"
                                  label="Vaše emailová adresa"></gold-email-input>
                <paper-textarea auto-validate id="issue_input" label="Vaše zpráva" char-counter
                                maxlength="2000"></paper-textarea>
                <paper-button raised>Odeslat</paper-button>
            </form>
        </div>
    </template>

    <script>
        Polymer({
            is: 'docinfo-view'
        });
    </script>
</dom-module>
