<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-meta/iron-meta.html">

<dom-module id="emailaction-view">
    <template>
        <iron-meta key="actionCode" value$="{{actionCode}}"></iron-meta>
    </template>

    <script>
        Polymer({
            is: 'emailaction-view',

            ready: function () {

                var actionCode = this.tail.__queryParams["oobCode"];

                var auth = this.domHost.$.auth.app.auth(); // TODO: find less retarded way to get reference

                switch (this.tail.__queryParams["mode"]) {
                    case 'resetPassword':
                        this.handleResetPassword(auth, actionCode);
                        break;
                    case 'recoverEmail':
                        this.handleRecoverEmail(auth, actionCode);
                        break;
                    case 'verifyEmail':
                        this.handleVerifyEmail(auth, actionCode);
                        break;
                    default:
                        this.domHost.changeRoute('/home');
                        this.domHost.showDialog("actionerror");
                }
            },

            handleResetPassword: function (auth, actionCode) {
                console.log("Handle reset password");
                this.actionCode = actionCode;
                this.domHost.changeRoute('/home');
                this.domHost.showDialog("passreset");
            },

            handleRecoverEmail: function (auth, actionCode) {
                console.log('Handle recover email');
            },

            handleVerifyEmail: function (auth, actionCode) {
                auth.applyActionCode(actionCode).then(function () {
                    this.domHost.changeRoute('/home');
                    this.domHost.showDialog("actionconfirm");
                }.bind(this)).catch(function () {
                    this.domHost.changeRoute('/home');
                    this.domHost.showDialog("actionerror");
                }.bind(this));
            }
        });
    </script>
</dom-module>
