<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/polymerfire/firebase-app-script.html">


<dom-module id="emailaction-view">
    <script>
        Polymer({
            is: 'emailaction-view',

            ready: function () {
                var actionCode = this.route.__queryParams["oobCode"],
                    auth = firebase.apps[0].auth();

                switch (this.route.__queryParams["mode"]) {
                    case 'resetPassword':
                        this.handleResetPassword(actionCode);
                        break;
                    case 'recoverEmail':
                        this.handleRecoverEmail(auth, actionCode);
                        break;
                    case 'verifyEmail':
                        this.handleVerifyEmail(auth, actionCode);
                        break;
                    default:
                        this.fire("show-dialog", {path: "emailactions/", viewName: "actionerror", open: true});
                        this.fire('change-route', {url: '/home'});
                }
            },

            handleResetPassword: function (actionCode) {
                this.fire("show-dialog", {
                    path: "emailactions/", viewName: "passreset", open: true,
                    data: {
                        actionCode: actionCode
                    }
                });
                this.fire('change-route', {url: '/home'});
            },

            handleRecoverEmail: function (auth, actionCode) {
                console.log('Handle recover email');
            },

            handleVerifyEmail: function (auth, actionCode) {
                auth.applyActionCode(actionCode).then(function () {
                    auth.signOut(); // User needs to reauthenticate in order to generate new id token with verified address.
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Váš email byl úspěšně potvrzen. Po opětovném přihlášení se můžete objednat. V případě že jste doktor prosím pokračujte přidáním ordinace.',
                            nextRoute: '/office/registration/first',
                            buttonText: 'Přidat ordinaci'
                        }
                    });
                    // Route change has to take place after the dialog event is fired. Otherwise the dialog wouldn't select any page
                    // Source of potential instabilities TODO: Find a cause and ensure the bug is properly fixed
                    this.fire('change-route', {url: '/home'});
                }.bind(this)).catch(function () {
                    this.fire("show-dialog", {path: "emailactions/", viewName: "actionerror", open: true});
                    //
                    this.fire('change-route', {url: '/home'});
                }.bind(this));
            }
        });
    </script>
</dom-module>
