<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/custom_components/custom-button.html">

<!--icons-->
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/header-styles.html">

<dom-module id="home-view">
    <template>
        <style include="custom-button input-styles layout-styles header-styles">
            :host {
                display: block;
            }

            #head {
                padding: 70px 0 100px 0;
                margin: 0 auto;
                background-color: var(--app-accent-color);

                /* jako pozadi asi bude nejaka fotka, ale jeste uvidime jaka */
                /*background: url('../images/doctor-background.jpg') no-repeat;*/
                /*background-size: cover;*/

            }

            /* prepsane nektere vlastnosti naimportovane z input styles - specificke pro home-view input */
            paper-input {
                --paper-input-container-label: {
                    font-weight: lighter;
                    font-size: 18px;
                };

                --paper-input-container-underline-focus: {
                    background-color: var(--app-accent-color);
                    height: 4px;
                };

                --paper-input-container-input: {
                    margin-bottom: 7px;
                };
            }

            h1 {
                text-align: center;
                margin: 0 20px;
                letter-spacing: 0.03em;
                font-size: 30px;
                color: #fff;
            }

            #search-div {
                background-color: white;
                max-width: 1150px;
                margin: 60px auto 0 auto;
                padding: 60px;
                box-shadow: 0 0 5px 3px #071C40;
                /*box-shadow: 0 0 0 8px #172C50, 0 0 0 10px white;*/
            }

            #search_button {
                width: 100%;
                text-align: center;
            }

            #search_button button {
                height: 64px;
                /*width: 100px%;*/
            }

            /* aby bly inputy stejne zarovnany s tlacitkem */
            .grid > section:not(:last-child) {
                margin-top: 12px;
            }

            /* aby mezi sekcema nebyly puvodní 80px mezery naimporotvane z layout-styles */
            .grid > section:not(:first-child) {
                margin-left: 30px;
            }

            @media only screen and (max-width: 767px) {

                #head {
                    padding-bottom: 0;
                    border-bottom: 1px solid var(--app-accent-color);
                }

                #search-div {
                    box-shadow: none;
                    padding: 20px 30px 40px;
                }

                h1 {
                    font-size: 22px;
                }

                #search_button button {
                    width: 100%;
                }

                .grid > section {
                    margin-top: 30px;
                }

                .grid > section:not(:first-child) {
                    margin-left: 0;
                }
            }

        </style>

        <div id="head">

            <h1>Objednejte se online a bez čekání</h1>

            <div id="search-div" class="subsection grid">
                <section>
                    <paper-input id="search_input_doctor" label="Jméno nebo specializace" type="search"
                                 autofocus on-focus="click" on-click="click" on-blur="blur">
                    </paper-input>
                </section>

                <section>
                    <paper-input id="search_input_place" label="Město nebo ZIP" type="search"
                                 on-click="click1" on-blur="blur1"
                    >
                    </paper-input>
                </section>

                <section>
                    <custom-button id="search_button">
                        <button type="button">
                            <iron-icon icon="search"></iron-icon>
                            Hledat
                        </button>
                    </custom-button>
                </section>

            </div>
        </div>

        <div id="content" style="height: 100vh"></div>

    </template>
    <script>
        Polymer({
            is: 'home-view',


            /* TODO  Je to blbost, nedokázal jsem zjistit jak obecne zavolat "click" a "blur" pro ID zafocusovaneho inputu */

//          document.activeElement

            click: function () {
                this.$.search_input_doctor.alwaysFloatLabel = true;
            },

            blur: function () {
                this.$.search_input_doctor.alwaysFloatLabel = false;
            },

            click1: function () {
                this.$.search_input_place.alwaysFloatLabel = true;
            },

            blur1: function () {
                this.$.search_input_place.alwaysFloatLabel = false;
            }

        });
    </script>
</dom-module>