<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<!--icons-->
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="home-view">
    <template>
        <style include="button-styles input-styles layout-styles">
            :host {
                display: block;
                background-color: var(--app-background-color);
                --large-photo-width: 105px;
                --small-photo-width: 85px;
            }

            #head {
                padding: 70px 0 140px 0;
                margin: 0 auto;
                background-color: var(--app-accent-color);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            /* prepsane nektere vlastnosti naimportovane z input styles - specificke pro home-view input */
            paper-input {
                --paper-input-container-label: {
                    font-weight: lighter;
                    font-size: 18px;
                };

                --paper-input-container-underline-focus: {
                    background-color: var(--app-accent-color);
                    height: 4px;
                };

                --paper-input-container-input: {
                    margin-bottom: 7px;
                };
            }

            #head h1 {
                text-align: center;
                margin: 0 20px;
                letter-spacing: 0.03em;
                font-size: 30px;
                color: #fff;
            }

            #search-div {
                background-color: white;
                max-width: 1150px;
                margin: 60px auto 0 auto;
                padding: 60px;
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.48), 0 10px 10px rgba(0, 0, 0, 0.45);
                /*box-shadow: 0 0 0 8px #172C50, 0 0 0 10px white;*/
            }

            #search_button {
                width: 220px;
                text-align: center;
                height: 64px;
                font-size: 1.2em;
            }

            /* aby bly inputy stejne zarovnany s tlacitkem */
            .grid > section:not(:last-child) {
                margin-top: 12px;
            }

            .grid > section:last-child {
                text-align: center;
            }

            /* aby mezi sekcema nebyly puvodní 80px mezery naimporotvane z layout-styles */
            .grid > section:not(:first-child) {
                margin-left: 30px;
            }

            @media only screen and (max-width: 767px) {

                #head {
                    padding-bottom: 0;
                }

                #search-div {
                    box-shadow: none;
                    padding: 20px 30px 40px;
                }

                h1 {
                    font-size: 22px;
                }

                #search_button {
                    width: 100%;
                }

                .grid > section {
                    margin-top: 30px;
                }

                .grid > section:not(:first-child) {
                    margin-left: 0;
                }
            }

            /*** PROFILES ***/

            a {
                text-decoration: none;
                color: inherit;
            }

            .main-frame {
                margin-top: 3em;
                min-height: 100vh;
            }

            .office-element {
                padding: 1.5em;
                border-top: 1px solid #ccccce;
                background-color: #fff;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                font-size: 0.95em;
            }

            #profile-photo {
                border: 1px solid #c5c5c6;
                height:100%;
                width: 100%;
                border-radius: 50%;
            }

            #photo-container {
                width: var(--large-photo-width);
                height: var(--large-photo-width);
            }

            #name-address {
                margin-left: 2.5em;
                word-wrap: break-word;
                max-width: calc(100% - (110px + 220px)); /*100% width of container - width of photo and accept text + some space */
            }

            #name {
                font-weight: bold;
                font-size: 1.1em;
            }

            #specialization {
                color: #77787a;
            }

            #street {
                margin-top: 1.4em;
            }

            /*** ACCEPTING ***/

            .accepting-new-container {
                text-align: right;
                margin-left: auto;
            }

            paper-button iron-icon {
                margin-right: 0.2em;
            }

            .accepting-new-container iron-icon {
                margin-left: 0.5em;
            }

            #accepting, #not-accepting {
                color: #88888a;
            }

            #accepting iron-icon {
                color: var(--app-green-color);
            }

            #not-accepting iron-icon {
                color: var(--app-red-color);
            }

            /*** OTHER ***/

            #show-profile {
                font-size: 0.9em;
                display: block;
                margin-top: 3em;
                margin-bottom: 0;
            }

            #show-profile paper-button {
                margin: 0;
            }

            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
            }

            @media only screen and (max-width: 767px) {

                .main-frame {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            @media only screen and (max-width: 585px) {

                .office-element {
                    position: relative;
                    font-size: 0.88em;
                    padding-top: 1em;
                    padding-bottom: 1em;
                }

                #name-address {
                    margin-left: 1.5em;
                    max-width: calc(100% - (85px + 60px));
                }

                /* link to doctor is over all office card and is transparent */
                #show-profile {
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0);
                    margin: 0;
                    padding: 0;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                #street {
                    margin-top: 0.85em;
                }

                #photo-container {
                    width: var(--small-photo-width);
                    height: var(--small-photo-width);
                }
            }


        </style>


        <firebase-document app-name="doctor-appointment-system" path="/officeSearchInfo"
                           data="{{officeSearchInfo}}">
        </firebase-document>

        <iron-media-query query="max-width: 585px" query-matches="{{mobileScreen}}"></iron-media-query>

        <div id="head">

            <h1>Objednejte se online a bez čekání</h1>

            <div id="search-div">
                <div class="subsection grid">
                    <section>
                        <paper-input id="search_input_doctor" label="Jméno nebo specializace" type="search"
                                     focused="{{focused1}}" always-float-label="[[focused1]]">
                        </paper-input>
                    </section>

                    <section>
                        <paper-input id="search_input_place" label="Město nebo PSČ" type="search"
                                     focused="{{focused2}}" always-float-label="[[focused2]]">
                        </paper-input>
                    </section>

                    <section>
                        <paper-button id="search_button" raised>
                            <iron-icon icon="search"></iron-icon>
                            Hledat
                        </paper-button>
                    </section>
                </div>
                <paper-checkbox id="accepting-new-checkbox">Najít pouze lékaře přijímající nové pacienty
                </paper-checkbox>
            </div>

        </div>


        <div id="main-container" class="main-frame container flex-horizontal">

            <template is="dom-repeat" items="[[officesArray]]" as="office">
                <div class="office-element container flex-horizontal-with-ratios">

                    <div id="photo-container">
                        <template is="dom-if" if="[[office.photoAvailability]]">
                            <img src$="#" id="profile-photo">
                        </template>
                    </div>

                    <div id="name-address">
                        <div id="name">[[computeFullName(office.name)]]</div>
                        <div id="specialization">[[computeSpecialization(office.specialization)]]</div>
                        <div id="street">[[office.address.street]]</div>
                        <div id="city">[[office.address.city]]</div>
                    </div>

                    <div class="accepting-new-container">

                        <div hidden="[[!office.acceptingNewPatients]]" id="accepting">
                            <span hidden="[[mobileScreen]]">Přijímá nové pacienty</span>
                            <iron-icon icon="social:group"></iron-icon>
                        </div>
                        <div hidden="[[office.acceptingNewPatients]]" id="not-accepting">
                            <span hidden="[[mobileScreen]]">Nepřijímá nové pacienty</span>
                            <iron-icon icon="social:group"></iron-icon>
                        </div>

                        <a href="/d/[[office.officeId]]" id="show-profile">
                            <paper-button hidden="[[mobileScreen]]" raised>Objednat se</paper-button>
                        </a>
                    </div>
                </div>
            </template>
        </div>

    </template>
    <script>
        Polymer({
            is: 'home-view',

            properties: {

                specializations: {
                    type: Array,
                    value: ['Zubař', 'Rektálník', 'Gynekolog']
                },

                officesArray: {
                    type: Array,
                    computed: 'computeOfficesArray(officeSearchInfo)'
                }
            },

            computeOfficesArray: function (officeSearchInfo) {
                return Object.keys(officeSearchInfo).map(function (key) {
                    return {
                        'name': officeSearchInfo[key]['name'],
                        'address': officeSearchInfo[key]['address'],
                        'specialization': officeSearchInfo[key]['specialization'],
                        'photoAvailability': officeSearchInfo[key]['photoAvailability'],
                        'acceptingNewPatients': officeSearchInfo[key]['acceptingNewPatients'],
                        'officeId': key
                    }
                });
            },

            computeFullName: function (name) {
                return name.firstName + " " + name.lastName;
            },

            computeSpecialization: function (specialization) {
                return this.specializations[specialization];
            }
        });
    </script>
</dom-module>