<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">

<dom-module id="office-view">
    <template>
        <app-route
                route="{{tail}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>

        <iron-pages
                selected="[[page]]"
                attr-for-selected="name"
                selected-attribute="visible"
                role="main">
            <list-view name="list"></list-view>
            <registration-view name="registration"></registration-view>
        </iron-pages>
    </template>

    <script>
        Polymer({
            is: 'office-view',

            properties: {
                page: {
                    type: String,
                    reflectToAttribute: true,
                    observer: '_pageChanged'
                }
            },

            observers: [
                '_routePageChanged(routeData.page)'
            ],

            _routePageChanged: function (page) {
                this.page = page || 'list';
            },

            _pageChanged: function (page) {
                var resolvedPageUrl = this.resolveUrl("/views/office_views/" + page + '-view.html');
                this.importHref(resolvedPageUrl, null, this._show404, true);
            },

            _show404: function () {
                this.fire('hit-404');
            },
        });
    </script>
</dom-module>
