<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-common.css">
<link rel="import" href="../behaviours/dialog-bahavior.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="registration-view">
    <template>
        <style>
            p {
                color: red
            }
        </style>
        <div>
            <p>{{errorMessage}}</p>
            <paper-input id="ninput" value="{{name}}" label="Jméno" minlength="1" maxlength="80"
                         error-message="Nelze ponechat prázdné" auto-validate required
                         on-input="checkIfValid"></paper-input>
            <paper-input id="sninput" value="{{surName}}" label="Příjmení" minlength="1"
                         maxlength="80" error-message="Nelze ponechat prázdné" auto-validate
                         required on-input="checkIfValid"></paper-input>
            <gold-email-input id="emailID" error-message="Špatný formát" value="{{email}}"
                              label="Vaše emailová adresa" auto-validate required
                              on-input="checkIfValid"></gold-email-input>
            <table>
                <tr>
                    <td>
                        <paper-input id="passID" value="{{password}}" label="Heslo" required auto-validate
                                     type="password"
                                     minlength="6" maxlength="48" error-message="Moc krátké" on-input="checkIfValid">
                        </paper-input>
                    </td>
                    <td>
                        <!-- TODO: set the icon position next to input-->
                        <paper-icon-button icon="[[eyeIcon]]" on-tap="passVisibilityChange"></paper-icon-button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="buttons">
            <paper-button dialog-dismiss>Zrušit
            </paper-button>
            <paper-button id="confirm_button" dialog-confirm autofocus on-tap="createUserWithEmailAndPassword" disabled>
                Registrovat
            </paper-button>
        </div>
        <div class="buttons">
            <paper-button on-tap="changePage">
                Již mám účet!
            </paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'registration-view',

            behaviors: [DialogBehavior],

            properties: {
                name: String,
                surName: String,
                eyeIcon: {
                    type: String,
                    value: "visibility"
                }
            },

            validationIDs: ["ninput", "sninput", "emailID", "passID"],

            createUserWithEmailAndPassword: function () {
                this.domHost.createUserWithEmailAndPassword(this.email, this.password);
            },

            passVisibilityChange: function () {
                if (this.eyeIcon == "visibility") {
                    this.eyeIcon = "visibility-off";
                    this.$.passID.type = "text";
                } else {
                    this.eyeIcon = "visibility";
                    this.$.passID.type = "password";
                }
            }
        });

    </script>
</dom-module>