<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/behaviors/input-validation-behavior.html">


<dom-module id="settings-view">
    <template>
        <style>
        </style>

        <firebase-document app-name="doctor-appointment-system" path="/users/{{user.uid}}/name"
                           data="{{nameData}}">
        </firebase-document>

        <firebase-document app-name="doctor-appointment-system" path="/users/{{user.uid}}/address"
                           data="{{addressData}}">
        </firebase-document>

        <paper-input id="fninput" label="Jméno" minlength="1" maxlength="80"
                     error-message="Nelze ponechat prázdné" auto-validate required
                     on-input="checkIfValid"></paper-input>
        <paper-input id="lninput" label="Příjmení" minlength="1"
                     maxlength="80" error-message="Nelze ponechat prázdné" auto-validate
                     required on-input="checkIfValid"></paper-input>
        <paper-input id="cinput" label="Město" minlength="1" maxlength="80">
        </paper-input>
        <paper-input id="sinput" label="Město a číslo popisné" minlength="1"
                     maxlength="80"></paper-input>
        <paper-button id="confirm_button" dialog-confirm autofocus on-tap="saveChanges"
                      disabled>
            Uložit změny
        </paper-button>

        <hr>
        Změnit heslo:
        <paper-button id="passchange_button" dialog-confirm autofocus on-tap="passChange">
            Poslat email pro změnu hesla
        </paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'settings-view',

            behaviors: [InputValidationBehavior],

            validationIDs: ["fninput", "lninput"],

            properties: {
                signedIn: {
                    type: Boolean,
//                    observer: '_signedInChanged',
                    value: true
                },

                user: {
                    type: Object,
//                    observer: '_userChanged'
                },

                addressData: {
                    type: Object,
                    observer: '_addressDataChanged'
                },

                nameData: {
                    type: Object,
                    observer: '_nameDataChanged'
                },
            },

            _addressDataChanged: function (newData) {
                if (Object.keys(newData).length != 0) {
                    this.$.cinput.value = newData.city;
                    this.$.sinput.value = newData.street;
                }
            },

            _nameDataChanged: function (newData) {
                if (Object.keys(newData).length != 0) {
                    this.$.fninput.value = newData.firstName;
                    this.$.lninput.value = newData.lastName;
                    this.checkIfValid();
                }
            },

            passChange: function () {
                this.domHost.$.auth.app.auth().sendPasswordResetEmail(this.user.email).then(function () {
                    this.domHost.showToast("Email odeslán");
                }.bind(this)).catch(function () {
                    console.log("email sending error");
                })
            },

            saveChanges: function () {
                this.set('nameData.firstName', this.$.fninput.value);
                this.set('nameData.lastName', this.$.lninput.value);
                this.set('addressData.city', this.$.cinput.value);
                this.set('addressData.street', this.$.sinput.value);
                this.domHost.showToast("Změny uloženy");
            }
        });
    </script>
</dom-module>
