<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="subviews/name-view.html">
<link rel="import" href="subviews/address-view.html">

<dom-module id="settings-view">
    <template>
        <style>
        </style>

        <name-view user="{{user}}"></name-view>
        <address-view user="{{user}}"></address-view>

        <hr>
        Změnit heslo:
        <paper-button id="passchange_button" dialog-confirm autofocus on-tap="passChange">
            Poslat email pro změnu hesla
        </paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'settings-view',

            properties: {
                signedIn: {
                    type: Boolean,
//                    observer: '_signedInChanged',
                    value: true
                },

                user: {
                    type: Object,
//                    observer: '_userChanged'
                }
            },

            passChange: function () {
                this.domHost.$.auth.app.auth().sendPasswordResetEmail(this.user.email).then(function () {
                    this.domHost.showToast("Email odeslán");
                }.bind(this)).catch(function () {
                    console.log("email sending error");
                })
            },

//            TODO: Dependency injection
            showToast: function () {
                this.domHost.showToast("Změny uloženy");
            }
        });
    </script>
</dom-module>
