<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">

<link rel="import" href="/custom_components/login-required-element.html">
<link rel="import" href="/behaviors/routing-behavior.html">

<link rel="import" href="/styles/tab-styles.html">
<link rel="import" href="/styles/layout-styles.html">

<dom-module id="user-view">
    <template>
        <style include="tab-styles layout-styles">

            #pages {
                background-color: #fff;
                max-width: 950px;
                margin: 0 auto 3em;
                padding: 3.5em 4% 3.5em 4%;
            }

            paper-tabs {
                margin: 0 auto 0 auto;
                max-width: 800px;
            }

            #page {
                background-color: var(--app-background-color);
                min-height: calc(100vh - 64px - 3em); /*app header and top padding */
                margin-top: 0;
                padding-top: 3em;
                height: 100%;
            }

            #page-name {
                background-color: var(--app-green-color);
                color: #fff;
                font-size: 1.2em;
                text-align: center;
                padding: 1em 0;
            }

            @media only screen and (max-width: 767px) {

                #page {
                    min-height: calc(100vh - 64px); /*app header */
                    padding-top: 0;
                }

                #pages {
                    padding-top: 1em;
                }
            }

        </style>

        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subRoute}}"></app-route>

        <login-required-element logged-in="{{loggedIn}}" user="{{user}}"></login-required-element>

        <div id="page-name" hidden="[[!smallScreen]]">[[computePageName(page)]]</div>

        <div id="page" hidden="[[!loggedIn]]">
            <paper-tabs focused selected="{{page}}" attr-for-selected="name" hidden="[[smallScreen]]">
                <paper-tab name="notifications">Upozornění</paper-tab>
                <paper-tab name="appointments">Návštěvy</paper-tab>
                <paper-tab name="settings">Nastavení</paper-tab>
            </paper-tabs>

            <paper-material id="pages" class="main-frame">
                <iron-pages selected="[[page]]" attr-for-selected="name" role="main">
                    <notifications-view name="notifications" user-id="[[user.uid]]"></notifications-view>
                    <appointments-view name="appointments"></appointments-view>
                    <settings-view name="settings" user="[[user]]"></settings-view>
                </iron-pages>
            </paper-material>
        </div>
    </template>

    <script>
        Polymer({
            is: 'user-view',

            properties: {
                pageNames:{
                    type: Object,
                    value: {
                        "notifications":"Upozornění",
                        "appointments":"Návštěvy",
                        "settings":"Nastavení"
                    }
                }
            },

            behaviors: [RoutingBehavior],

            defaultPage: 'notifications',
            viewPath: '/views/user_views/',
            validPrefix: '/user',

            computePageName: function (pageName) {
                return(this.pageNames[pageName])
            }

        });
    </script>
</dom-module>
