<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/image-icons.html">

<link rel="import" href="/behaviors/routing-behavior.html">

<dom-module id="office-interface-view">
    <template>
        <style>

            :host {
                --overflow-main-drawer: auto;
                --border-color: #d5d9da;
            }

            paper-drawer-panel {

                --paper-drawer-panel-main-container: {
                    background-color: #eeeff2;
                    padding: 1em 2em;
                    overflow: var(--overflow-main-drawer);
                    margin-top: 64px;
                };

                --paper-drawer-panel-left-drawer-container: {
                    border-right: 1px solid var(--border-color);
                    margin-top: 64px;
                    z-index: 2;
                    box-shadow: 2px 0 8px var(--border-color);
                };
            }

            paper-header-panel paper-button {
                width: 100%;
                display: block;
                margin: 0;
                font-size: 0.9em;
                border-radius: 0;
                border-bottom: 1px solid var(--border-color);
                padding: 1.2em 0 1.2em 2em;
            }

            paper-header-panel paper-button:first-child {
                border-top: 1px solid var(--border-color);
            }

            paper-header-panel paper-button:hover:not(.iron-selected) {
                background-color: #f6f6f6;
            }

            .iron-selected.nav {
                background-color: var(--app-accent-color);
                color: white;
            }

            paper-dropdown-menu {
                margin-bottom: 1em;
                display: block;
                background-color: #fff;
                padding: 0 1em;
                border: 1px solid var(--border-color);

                --paper-input-container-input: {
                    font-size: 0.9em;
                };
                --paper-input-container-underline: {
                    display: none;
                };
            }

            paper-item {
                cursor: pointer;
            }

            #mobile_toolbar {
                background-color: var(--app-accent-color);
                color: #fff;
                padding: 1.2em 1.5em;
                margin-bottom: 1em;
                margin-top: 0;
            }

            #help-tab {
                position: fixed;
                bottom: 0;
                width: 255px;
                border-top: 1px solid var(--border-color);
            }

            #add-office {
                color: #26A69A;
                border-top: 1px solid var(--border-color);
                padding-top: 8px;
            }

            #notification-icon {
                color: #26A69A;
                height: 15px;
                width: 15px;
                margin-left: 0.5em;
            }

            @media only screen and (max-width: 767px) {

                #help-tab {
                    bottom: 64px;
                }

                paper-drawer-panel {
                    --paper-drawer-panel-left-drawer-container: {
                        border: none;
                        margin-top: 64px;
                        z-index: 2;
                        box-shadow: none;
                    };
                }

            }

            /* zabrani tomu, aby element s atributem paper-drawer-toggle mizel na wide-screen. Default hodnota je display:none*/
            iron-selector:not(.narrow-layout) ::content [paper-drawer-toggle] {
                display: block !important
            }

        </style>

        <app-route
                route="{{route}}"
                pattern="/:page/:profileId"
                data="{{routeData}}"
                tail="{{subRoute}}"></app-route>

        <paper-drawer-panel>
            <paper-header-panel drawer>

                <!--paper-toolbar nema vliv na vzhled (nemusi tam byt), ale mozna prohlizec lip pozan co je tam za data?-->
                <paper-toolbar>
                    <iron-selector attr-for-selected="name" selected="{{page}}">
                        <!--TODO: Tady by bylo lepší použít prostě paper-item. Tlačítka na tohle nejsou dělaný.-->
                        <!--Mělo by na to případně jít použít paper-ripple, aby to bylo sexy animovaný.-->
                        <!--paper-drawer-toggle closes drawer on tap-->
                        <paper-button paper-drawer-toggle name="notifications" class="nav">Upozornění
                            <!--visible when new notification -->
                            <iron-icon id="notification-icon" icon="image:lens"></iron-icon>
                        </paper-button>
                        <paper-button paper-drawer-toggle name="calendar" class="nav">Kalendář</paper-button>
                        <paper-button paper-drawer-toggle name="waiting-list" class="nav">Pořadník</paper-button>
                        <paper-button paper-drawer-toggle name="settings" class="nav">Nastavení</paper-button>
                        <paper-button paper-drawer-toggle name="help" id="help-tab" class="nav">Nahlásit problém
                        </paper-button>
                    </iron-selector>
                </paper-toolbar>
            </paper-header-panel>


            <paper-header-panel main>

                <!--paper-toolbar nema vliv na vzhled (nemusi tam byt), ale mozna prohlizec lip pozan co je tam za data?-->
                <paper-toolbar>
                    <div id="mobile_toolbar" paper-drawer-toggle>
                        <iron-icon icon="icons:chevron-right" paper-drawer-toggle></iron-icon>
                        Menu ordinace
                    </div>
                </paper-toolbar>

                <paper-dropdown-menu label="Ordinace">
                    <paper-listbox class="dropdown-content" selected="1">
                        <template is="dom-repeat" items="[[offices]]" as="entry">
                            <paper-item>[[entry]]</paper-item>
                        </template>
                        <paper-item id="add-office">
                            <iron-icon icon="add"></iron-icon>
                            Přidat ordinaci
                        </paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>

                <iron-pages attr-for-selected="name" selected="[[page]]">
                    <interface-notifications-view name="notifications"></interface-notifications-view>
                    <interface-calendar-view name="calendar"></interface-calendar-view>
                    <interface-waiting-list-view name="waiting-list"></interface-waiting-list-view>
                    <interface-settings-view name="settings"></interface-settings-view>
                    <interface-help-view name="help"></interface-help-view>
                </iron-pages>

            </paper-header-panel>
        </paper-drawer-panel>
    </template>

    <script>
        Polymer({
            is: 'office-interface-view',

            behaviors: [RoutingBehavior],

            defaultPage: 'waiting-list',
            viewPath: '/views/office_views/interface_views/interface-',
            validPrefix: '/office/interface',

            properties: {
                profileId: {
                    type: String,
                    observer: 'iidChanged'
                },

                offices: {
                    type: Array,
                    value: ['Plzeň, Klatovská 32', 'Londýn, Spring Gardens 100', 'Dvůr Králové nad Labem, Sady pětatřicátníků 28']
                },
                open: {
                    type: Boolean,
                    value: true
                }
            },

            idChanged: function (data) {
                console.log(data);
                console.log("called");
            },

            ready: function () {
                console.log(this.routeData);
            }


//            to disable/enable scroll of main header when drawer is opened on small screen. Still not sure how to use it
//            disableScroll: function() {
//                this.customStyle['--overflow-main-drawer'] = 'hidden';
//                this.updateStyles();
//            },
//
//            enableScroll: function() {
//                this.customStyle['--overflow-main-drawer'] = 'auto';
//                this.updateStyles();
//            }

        });
    </script>
</dom-module>
