<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/views/office_views/registration_steps/data-view.html">

<link rel="import" href="/behaviors/routing-behavior.html">

<dom-module id="office-registration-view">
    <template>
        <app-route
                route="{{tail}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>
        <iron-pages
                selected="[[page]]"
                attr-for-selected="name"
                selected-attribute="visible"
                role="main">
            <data-view name="data"></data-view>
            <confirm-view name="confirm"></confirm-view>
        </iron-pages>


    </template>

    <script>
        Polymer({
            is: 'office-registration-view',

            behaviors: [RoutingBehavior],

            ready: function () {
                console.log(this.page);
            },

            defaultPage: 'data',
            viewPath: '/views/office_views/registration_steps/',

        });
    </script>
</dom-module>
