<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/styles/input-styles.html">

<dom-module id="office-interface-view">
    <template>
        <style include="input-styles">

            paper-drawer-panel {
                margin-top: 64px;

                --paper-drawer-panel-main-container: {
                    background-color: #eeeff2;
                    padding: 1em 2em;
                    overflow: auto;
                };

                --paper-drawer-panel-left-drawer-container: {
                    border-right: 1px solid #ddddde;
                };
            }

            h1 {
                text-align: center;
                font-size: 1em;
                margin: 2em 0;
            }

            paper-header-panel paper-button {
                width: 100%;
                display: block;
                margin: 0;
                border: none;
                font-size: 0.9em;
                border-radius: 0;
                border-top: 1px solid #ccc;
                padding: 1.2em 0 1.2em 2.5em;
            }

            .iron-selected.nav {
                background-color: var(--app-accent-color);
                color: white;
            }

            paper-dropdown-menu {
                margin-bottom: 1em;
                display: block;
                background-color: #fff;
                padding: 0 1em;
                border: 1px solid #d5d9da;

                --paper-input-container-input: {
                    font-size: 0.9em;
                };
                --paper-input-container-underline: {
                    display: none;
                };
            }

            #mobile_toolbar {
                background-color: var(--app-accent-color);
                color: #fff;
                padding: 1.2em 1.5em;
                margin-bottom: 1em;
            }

            #help-tab {
                position: fixed;
                bottom: 0;
                left: 0;
                border-top: none;
                width: 256px;
            }


        </style>


        <paper-drawer-panel>
            <paper-header-panel drawer>

                <!--paper-toolbar nema vliv na vzhled (nemusi tam byt), ale mozna prohlizec lip pozan co je tam za data?-->
                <paper-toolbar>
                    <iron-selector attr-for-selected="name" selected="{{selected}}">
                        <paper-button name="calendar" class="nav">Kalendář</paper-button>
                        <paper-button name="waiting-list" class="nav">Pořadník</paper-button>
                        <paper-button name="settings" class="nav">Nastavení</paper-button>
                        <paper-button name="help" id="help-tab" class="nav">Nahlásit problém</paper-button>
                    </iron-selector>
                </paper-toolbar>
            </paper-header-panel>


            <paper-header-panel main>

                <!--paper-toolbar nema vliv na vzhled (nemusi tam byt), ale mozna prohlizec lip pozan co je tam za data?-->
                <paper-toolbar>
                    <div id="mobile_toolbar" paper-drawer-toggle>
                        <iron-icon icon="icons:chevron-right" paper-drawer-toggle></iron-icon>
                        Menu ordinace
                    </div>
                </paper-toolbar>

                <paper-dropdown-menu label="Ordinace">
                    <paper-listbox class="dropdown-content" selected="1">
                        <template is="dom-repeat" items="[[offices]]" as="entry">
                            <paper-item>[[entry]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>

                <iron-pages attr-for-selected="name" selected="[[selected]]">
                    <interface-calendar-view name="calendar"></interface-calendar-view>
                    <interface-waiting-list-view name="waiting-list"></interface-waiting-list-view>
                    <interface-settings-view name="settings"></interface-settings-view>
                    <interface-help-view name="help"></interface-help-view>
                </iron-pages>

            </paper-header-panel>
        </paper-drawer-panel>
    </template>

    <script>
        Polymer({
            is: 'office-interface-view',

            properties: {
                profileID: {
                    type: String,
                    computed: 'computeID(route.path)'
                },

                selected: {
                    type: String,
                    value: "waiting-list", // First selected view
                    observer: "loadView"
                },

                offices: {
                    type: Array,
                    value: ['Plzeň, Klatovská 32', 'Londýn, Spring Gardens 100', 'Dvůr Králové nad Labem, Sady pětatřicátníků 28']
                }
            },

            loadView: function (viewName) {
                this.importHref("/views/office_views/interface_views/interface-" + viewName + "-view.html", null, null, false);
            },

            computeID: function (path) {
                if (path.length < 2) return null;
                return (path.substring(1));
            }
        });
    </script>
</dom-module>
