<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/views/office_views/registration_steps/data-view.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/behaviors/routing-behavior.html">

<dom-module id="office-registration-view">
    <template>
        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>

        <firebase-document id="user_document" app-name="doctor-appointment-system" path="/users/{{user.uid}}/information/name"
                           data="{{nameData}}">
        </firebase-document>

        <firebase-document id="user_office_document" app-name="doctor-appointment-system" path="/users/{{user.uid}}/offices">
        </firebase-document>

        <firebase-document id="office_document" app-name="doctor-appointment-system" path="/offices">
        </firebase-document>

        <iron-pages
                selected="[[page]]"
                attr-for-selected="name"
                selected-attribute="visible"
                role="main">
            <data-view name="data" office-data="{{officeData}}"></data-view>
            <confirm-view name="confirm" office-data="[[officeData]]"></confirm-view>
        </iron-pages>


    </template>

    <script>
        Polymer({
            is: 'office-registration-view',

            behaviors: [RoutingBehavior],

            viewPath: '/views/office_views/registration_steps/',

            properties: {
                officeData: {
                    type: Object,
                    value: {
                        information: {
                            name: {
                                firstName: null,
                                lastName: null
                            },
                            address: {
                                city: null,
                                street: null
                            },
                            coordinates: {
                                longitude: null,
                                latitude: null
                            },
                            specialization: 0, // TODO: disable default and create paper-listbox validation
                            visitLength: 20,
                            device: {
                                enabled: false,
                                deviceID: null
                            },
                            phoneNumber: null,
                            email: null,
                            limitedClientele: false,
                            patientText: null,
                            officeHours: [
                                {dayIndex: 0, 'checked': true, hours: ''},
                                {dayIndex: 1, 'checked': true, hours: ''},
                                {dayIndex: 2, 'checked': true, hours: ''},
                                {dayIndex: 3, 'checked': true, hours: ''},
                                {dayIndex: 4, 'checked': true, hours: ''},
                                {dayIndex: 5, 'checked': false, hours: ''},
                                {dayIndex: 6, 'checked': false, hours: ''}
                            ]
                        },
                        photoFile: File
                    }
                },

                nameData: {
                    type: Object,
                    observer: '_userChange'
                }
            },

            listeners: {
                'save-office': '_saveOffice',
            },

            _userChange: function (data) {
                if (!!data.firstName && this.officeData.information.name.firstName === null) {
                    this.set('officeData.information.name.firstName', data.firstName);
                }
                if (!!data.lastName && this.officeData.information.name.lastName === null) {
                    this.set('officeData.information.name.lastName', data.lastName);
                }
            },

            _saveOffice: function (event) {
                this.officeData.information['owner'] = this.user.uid;
                var officeID = this.$.office_document.ref.push(this.officeData.information).key;
                var objectToSave = {};
                objectToSave[officeID] = true;
                this.$.user_office_document.ref.update(objectToSave);
//                console.log(this.$.office_document.app.storage()); // TODO: photo upload

                event.stopPropagation ? event.stopPropagation() : (event.cancelBubble = true);
            }
        });
    </script>
</dom-module>
