<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/views/office_views/registration_steps/data-view.html">

<link rel="import" href="/behaviors/routing-behavior.html">

<dom-module id="office-registration-view">
    <template>
        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>
        <iron-pages
                selected="[[page]]"
                attr-for-selected="name"
                selected-attribute="visible"
                role="main">
            <data-view name="data" office-data="{{officeData}}"></data-view>
            <confirm-view name="confirm" office-data="[[officeData]]"></confirm-view>
        </iron-pages>


    </template>

    <script>
        Polymer({
            is: 'office-registration-view',

            behaviors: [RoutingBehavior],

            viewPath: '/views/office_views/registration_steps/',

            properties: {
                officeData: {
                    type: Object,
                    value: {
                        name: {
                            firstName: "",
                            lastName: ""
                        },
                        address: {
                            city: "",
                            street: ""
                        },
                        specialization: 0, // TODO: disable default and create paper-listbox validation
                        visitLength: 20,
                        device: {
                            enabled: false,
                            deviceID: ""
                        },
                        phoneNumber: "",
                        email: "",
                        limitedClientele: false,
                        patientText: "",
                        officeHours: [
                            {dayIndex: 0, 'checked': true, hours: ''},
                            {dayIndex: 1, 'checked': true, hours: ''},
                            {dayIndex: 2, 'checked': true, hours: ''},
                            {dayIndex: 3, 'checked': true, hours: ''},
                            {dayIndex: 4, 'checked': true, hours: ''},
                            {dayIndex: 5, 'checked': false, hours: ''},
                            {dayIndex: 6, 'checked': false, hours: ''}
                        ],
                        photoFile: File
                    }
                }
            }
        });
    </script>
</dom-module>
