<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/app-route/app-route.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">
<link rel="import" href="/bower_components/iron-icons/social-icons.html">
<link rel="import" href="/bower_components/iron-icons/editor-icons.html">
<link rel="import" href="/bower_components/iron-icons/communication-icons.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/behaviors/routing-behavior.html">

<dom-module id="office-interface-view">
    <template>
        <style>

            :host {
                --border-color: #d5d9da;
            }

            paper-item, #toolbar {
                cursor: pointer;
            }

            /*** OFFICE DROPDOWN MENU ***/

            paper-dropdown-menu {
                width: 100%;
                margin: 0;
                padding: 0.1em 0.9em;
                background-color: #f6f6f7;
                border-bottom: 1px solid var(--border-color);

                --paper-input-container-input: {
                    font-size: 0.85em;
                };
                --paper-input-container-underline: {
                    display: none;
                };
            }

            #office-choice-container {
                padding: 0;
            }

            #add-office {
                color: var(--app-green-color);
                border-top: 1px solid var(--border-color);
                padding-top: 8px;
            }

            /*** NAVIGATION ***/

            app-drawer {
                margin-top: 64px;
                box-shadow: 2px 0 8px var(--border-color);
                z-index: 2;
                --app-drawer-content-container: {
                    overflow: auto;
                };
            }

            app-toolbar {
                background-color: var(--app-accent-color);
                color: #fff;
                margin-top: 64px;
                font-size: 1.2em;
            }

            #page-name {
                font-size: 0.85em;
            }

            #office-menu-icon {
                background-color: var(--app-green-color);
                margin-right: 12px;
                border-radius: 50%;
                height: 36px;
                width: 36px;
                box-shadow: 1px 1px 10px rgba(0, 0, 40, 0.7);
            }

            .nav {
                border-bottom: 1px solid var(--border-color);
            }

            .nav iron-icon {
                color: var(--app-green-color);
                height: 20px;
                width: 20px;
                margin-right: 0.6em;
            }

            .nav:hover {
                background-color: #eeeeef;
            }

            .iron-selected.nav {
                background-color: var(--app-green-color);
                color: white;
            }

            .iron-selected.nav iron-icon {
                color: white;
            }

            .bottom-link {
                position: fixed;
                width: 224px; /*calc(256px - 2*16px) -> 16px is padding of paper-item */
                border-top: 1px solid var(--border-color);
            }

            #help-tab {
                bottom: calc(120px + 49px); /* top padding of drawer + height of contact-tab */

            }

            #contact-tab {
                bottom: 120px; /* top padding of drawer */
            }

            /*** DASHBOARD PAGES CONTAINER ***/

            iron-pages {
                margin-top: 64px;
            }

            #main-content {
                padding: 1.5em;
                background-color: var(--app-background-color);
                min-height: calc(100vh - 3em); /* minus padding on top and bottom */
            }

            /*** RESPONSIVE ***/
            @media only screen and (max-width: 767px) {

                #main-content {
                    padding: 1em 0 0 0;
                    margin-top: 0;
                }

                iron-pages {
                    margin-top: 0;
                }
            }

            /*responsive css for horizontal phone position*/
            @media only screen and (max-height: 470px) {
                .bottom-link {
                    position: static;
                    border-top: none;
                    bottom: auto;
                }
            }

            .badge {
                background-color: var(--app-green-color);
                border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
                color: white;
                font-size: 12px;
                line-height: 13px;
                font-weight: bold;
                height: 16px;
                padding: 4px 3px 0 3px;
                margin-left: 0.5em;
                text-align: center;
                min-width: 14px;
            }

        </style>

        <app-route
                route="{{route}}"
                pattern="/:page/:officeId"
                data="{{routeData}}"
                tail="{{subRoute}}"></app-route>

        <firebase-document app-name="docta" path="/userOffices/[[userId]]" data="{{userOffices}}">
        </firebase-document>

        <firebase-document app-name="docta" path="/officeInterfaceInfo/[[officeId]]"
                           data="{{officeInterfaceInfo}}">
        </firebase-document>

        <app-drawer-layout fullbleed responsive-width="767px" narrow="{{narrow}}">
            <div id="toolbar" on-tap="toggleDrawer" hidden="[[!narrow]]">
                <app-toolbar>
                    <paper-icon-button id="office-menu-icon" icon="chevron-right"></paper-icon-button>
                    Menu ordinace
                    <paper-icon-button icon="chevron-right"></paper-icon-button>
                    <span id="page-name">[[computePageName(page)]]</span>
                </app-toolbar>
            </div>

            <app-drawer id="drawer" position="left">
                <paper-item id="office-choice-container">
                    <paper-dropdown-menu label="Ordinace">
                        <!--TODO: Bug: on office name change listbox doesn't reload the name of selected even though the name changes in dropdown-->
                        <paper-listbox class="dropdown-content" selected="{{selectedItem}}" attr-for-selected="name">
                            <template is="dom-repeat" items="[[officeArray]]" as="office">
                                <paper-item on-tap="toggleDrawer" name="[[office.id]]">[[office.name]]</paper-item>
                            </template>
                            <paper-item id="add-office" name="_add_office">
                                <iron-icon icon="add"></iron-icon>
                                Přidat ordinaci
                            </paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                </paper-item>


                <iron-selector attr-for-selected="name" selected="{{page}}" on-iron-activate="toggleDrawer">
                    <paper-item hidden="[[!officeInterfaceInfo.services.onlineBooking]]" name="waiting-list"
                                class="nav">
                        <iron-icon icon="editor:format-list-numbered"></iron-icon>
                        Pořadník
                    </paper-item>
                    <paper-item hidden="[[!officeInterfaceInfo.services.onlineBooking]]" name="calendar" class="nav">
                        <iron-icon icon="icons:today"></iron-icon>
                        Kalendář
                    </paper-item>
                    <paper-item hidden="[[!officeInterfaceInfo.services.onlineBooking]]" name="patients" class="nav">
                        <iron-icon icon="social:group"></iron-icon>
                        Pacienti
                        <span hidden="[[!showNotifications(officeInterfaceInfo.patientsToVerify)]]" class="badge">
                            [[officeInterfaceInfo.patientsToVerify]]
                        </span>
                    </paper-item>
                    <paper-item name="holidays" class="nav">
                        <iron-icon icon="av:snooze"></iron-icon>
                        Dovolená
                    </paper-item>
                    <paper-item name="settings" class="nav">
                        <iron-icon icon="icons:settings"></iron-icon>
                        Nastavení
                    </paper-item>
                    <paper-item name="help" id="help-tab" class="nav bottom-link">
                        <iron-icon icon="icons:help"></iron-icon>
                        Nápověda
                    </paper-item>
                    <paper-item name="contact" id="contact-tab" class="nav bottom-link">
                        <iron-icon icon="communication:message"></iron-icon>
                        Kontakt
                    </paper-item>
                </iron-selector>
            </app-drawer>

            <div id="main-content">
                <!--TODO: move paper-material here-->
                <iron-pages attr-for-selected="name" selected="[[page]]">
                    <interface-waiting-list-view name="waiting-list"
                                                 office-id="[[officeId]]"></interface-waiting-list-view>
                    <interface-calendar-view name="calendar" office-id="[[officeId]]"></interface-calendar-view>
                    <interface-patients-view name="patients" office-id="[[officeId]]"></interface-patients-view>
                    <interface-holidays-view name="holidays" office-id="[[officeId]]"></interface-holidays-view>
                    <interface-settings-view name="settings" office-id="[[officeId]]"></interface-settings-view>
                    <interface-help-view name="help" online-booking="[[officeInterfaceInfo.services.onlineBooking]]"></interface-help-view>
                    <interface-contact-view name="contact" office-id="[[officeId]]"></interface-contact-view>
                    <interface-welcome-view name="welcome" office-id="[[officeId]]"
                                            online-booking="[[officeInterfaceInfo.services.onlineBooking]]"></interface-welcome-view>
                </iron-pages>
            </div>
        </app-drawer-layout>
    </template>

    <script>
        Polymer({
            is: 'office-interface-view',

            behaviors: [RoutingBehavior],

            viewPath: '/views/office_views/interface_views/interface-',
            validPrefix: '/office/interface',

            properties: {
                officeId: {
                    type: String,
                    computed: 'computeId(routeData.officeId, officeArray)',
                    observer: 'setSelected'
                },

                officeArray: {
                    type: Array,
                    computed: 'computeOfficeArray(userOffices)'
                },

                selectedItem: {
                    type: String,
                    observer: 'observeSelected'
                },

                pageNames: {
                    type: Object,
                    value: {
                        "notifications": "Upozornění",
                        "calendar": "Kalendář",
                        "waiting-list": "Pořadník",
                        "patients": "Pacienti",
                        "holidays": "Dovolená",
                        "settings": "Nastavení",
                        "help": "Nápověda",
                        "contact": "Kontakt"
                    }
                },

                officeInterfaceInfo: {
                    type: Boolean,
                    observer: 'observeInterfaceInfo'
                }
            },

            observeSelected: function (selected) {
                if (selected === '_add_office') {
                    this.fire('change-route', {url: '/office/registration/first'});
                } else {
                    this.set('routeData.officeId', selected);
                }
            },

            observeInterfaceInfo: function (officeInterfaceInfo) {
                var page = this.page;
                if (page !== "welcome" && officeInterfaceInfo.services !== undefined && (!officeInterfaceInfo.services.onlineBooking && (page !== "holidays" || page !== "settings"))) {
                    this.page = "settings";
                }
            },

            showNotifications: function (numberOfNotifications) {
                return (Number.isInteger(numberOfNotifications) && numberOfNotifications !== 0);
            },

            setSelected: function (officeId) {
                if (officeId) this.selectedItem = officeId;
            },

            computeId: function (id, officeArray, selectedItem) {
                if (!!id) return id;
                return (officeArray.length === 0) ? null : officeArray[0].id;
            },

            computeOfficeArray: function (offices) {
                var officeIds = Object.keys(offices), i,
                    arrayToReturn = [];
                for (i = 0; i < officeIds.length; i++) {
                    arrayToReturn.push({
                        'id': officeIds[i],
                        'name': offices[officeIds[i]].name
                    });
                }
                return arrayToReturn;
            },

            toggleDrawer: function () {
                if (this.narrow) {
                    this.$.drawer.toggle();
                }
            },

            computePageName: function (pageName) {
                return (this.pageNames[pageName])
            }

        });
    </script>
</dom-module>