<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/custom_components/office-element.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/header-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="confirm-view">
    <template>
        <style include="button-styles layout-styles header-styles">
            section {
                @apply(--layout);
                @apply(--layout-center-center);
            }

            office-element {
                margin-top: 1em;
                border: 2px solid #000;
            }
        </style>
        <div class="main-frame">
            <header class="subsection">
                <h1>Výsledná podoba profilu</h1>
                <span>Dole můžete potvrdit registraci</span>
            </header>
            <office-element office-data="[[officeData.information]]" photo-file="[[officeData.photoFile]]"></office-element>
            <div class="subsection grid">
                <section>
                    <paper-button on-tap="modifyOffice">Upravit</paper-button>
                </section>
                <section>
                    <paper-button on-tap="registerOffice">Registrovat</paper-button>
                </section>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'confirm-view',

            registerOffice: function () {
                this.fire('register-office');
            },

            modifyOffice: function () {
                this.fire('change-route', {url: '/office/registration/data'});
            }
        });
    </script>
</dom-module>
