<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/gold-phone-input/gold-phone-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/header-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="data-view">
    <template>
        <style include="button-styles layout-styles input-styles header-styles">
            :host {
                --iron-collapse-transition-duration: 600ms;
            }
        </style>
        <div class="main-frame">
            <header class="subsection">
                <h1>Registrace ordinace</h1>
                <span>Tyto údaje můžete později změnit v nastavení</span>
            </header>

            <paper-button id="step1_button" type="button" on-tap="toggleChange" disabled="[[collapse]]">
                [[_computeButtonText(collapse, 1)]]
            </paper-button>
            <hr>

            <iron-collapse opened="[[collapse]]">
                <div class="subsection grid">

                    <section>
                        <h2>Vaše jméno</h2>
                        <paper-input label="Jméno" minlength="1" maxlength="20"
                                     error-message="Nelze ponechat prázdné" required
                                     value="{{officeData.name.firstName}}"></paper-input>
                        <paper-input label="Příjmení" minlength="1"
                                     maxlength="80" error-message="Nelze ponechat prázdné"
                                     required value="{{officeData.name.lastName}}"></paper-input>
                        <h2>Adresa</h2>
                        <paper-input id="cinput" label="Město" value="{{officeData.address.city}}"
                                     minlength="1" maxlength="20">
                        </paper-input>
                        <paper-input id="sinput" label="Ulice a číslo popisné" value="{{officeData.address.street}}"
                                     minlength="1" maxlength="80"></paper-input>
                        <h2>Délka návštěvy</h2>
                        <p>Zde zadejte odhad délky návštěvy pacienta v minutách. Podle této hodnoty a ordinačních
                            hodin určíme objednávací časy.</p>
                        <paper-input type="number" label="Délka návštěvy" min="1" max="360"
                                     value="{{officeData.visitLength}}">
                            <div suffix>min</div>
                        </paper-input>
                    </section>
                    <section>
                        <h2>Ordinační hodiny</h2>
                        <template is="dom-repeat" items="[[officeData.officeHours]]" as="entry">
                            <div class="row">
                                <paper-checkbox checked="{{entry.checked}}">[[_getDayName(entry.dayIndex)]]
                                </paper-checkbox>
                            </div>
                            <paper-input hidden="[[!entry.checked]]" value="{{entry.hours}}" auto-validate
                                         placeholder="07:30-12:30,13:30-15:30"
                                         pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]-([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9](,([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]-([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9])*"
                                         prevent-invalid-input allowed-pattern="[0-9,-:]"></paper-input>
                        </template>
                    </section>
                </div>
            </iron-collapse>
            <paper-button id="step2_button" on-tap="toggleChange" disabled="[[!collapse]]">
                [[_computeButtonText(collapse, 2)]]
            </paper-button>
            <hr>
            <iron-collapse opened="[[!collapse]]">
                <template is="dom-if" if="[[renderStep2]]">
                    <div class="subsection grid">
                        <section>
                            <h2>Vaše specializace</h2>
                            <paper-dropdown-menu label="Specializace">
                                <paper-listbox class="dropdown-content" selected="{{officeData.specialization}}">
                                    <template is="dom-repeat" items="[[specializations]]" as="entry">
                                        <paper-item>[[entry]]</paper-item>
                                    </template>
                                </paper-listbox>
                            </paper-dropdown-menu>
                            <h2>Zařízení v čekárně</h2>
                            <p>Zaškrtněte, pokud si přejete přidat zařízení v čekárně, které slouží k zařazení pacientů,
                                kteří se neobjednali online případně po telefonu.
                            </p>
                            <paper-checkbox checked="{{officeData.device.enabled}}">Přidat zařízení</paper-checkbox>
                            <p hidden="[[!officeData.device.enabled]]">V krabičce u zařízení jsme Vám poslali papírek
                                na kterém je napsán identifikátor. Tuto sekvenci znaků prosím opište do políčka
                                níže:</p>
                            <paper-input id="id_input_id" label="Identifikátor" value="{{officeData.device.deviceID}}"
                                         hidden="[[!officeData.device.enabled]]"></paper-input>
                            <h2>Vřejné informace profilu</h2>
                            <p>Zaškrtněte prosím, které informace si přejete zobrazit u Vašeho profilu.</p>
                            <p>Pokud chcete, aby se pacienti mohli objednat přes telefon, prosím zaškrtněte tuto
                                možnost:</p>
                            <gold-phone-input id="phone_id" country-code="420" label="Telefonní číslo"
                                              phone-number-pattern="XXX-XXX-XXX" auto-validate
                                              value="{{officeData.phoneNumber}}">
                            </gold-phone-input>
                            <gold-email-input id="email_id" label="Email" value="{{officeData.email}}"
                                              auto-validate></gold-email-input>
                        </section>
                        <section>
                            <h2>Klientela</h2>
                            <p>Checkbox níže zaškrtněte pokud máte omezenou klientelu.</p>
                            <paper-checkbox checked="{{officeData.limitedClientele}}">Omezená klientela</paper-checkbox>
                            <p hidden="[[!officeData.limitedClientele]]">Při zaškrtnutí omezené klientely si pacient
                                předprvním objednáním v našem systému zažádá o potvrzení. Vám poté přijde zpráva s
                                žádostí o potvrzení. Ve zprávě
                                uvidíte pacientovi osobní údaje (jméno, adresa), na základě kterých umožníte pacientovi
                                objednání či naopak. Při dalších pacientových návštěvách potvrzení nebude nutné.
                            </p>
                            <h2>Text pro pacienty</h2>
                            <p>Tento text se zobrazí na stránce Vaší ordinace. Můžete zde zadat libovolnou zprávu
                                pacientům. Zpráva není povinná.</p>
                            <paper-textarea label="Zpráva pro pacienty" value="{{officeData.patientText}}"
                                            char-counter maxlength="400"></paper-textarea>
                            <paper-button responsive on-tap="finish">
                                Dokončit
                            </paper-button>
                        </section>
                    </div>
                </template>
            </iron-collapse>
        </div>
    </template>

    <script>
        Polymer({
            is: 'data-view',

            properties: {
                collapse: {
                    type: Boolean,
                    value: true
                },

                specializations: {
                    type: Array,
                    value: ['Zubař', 'Rektálník', 'Gynekolog']
                },

                renderStep2: {
                    type: Boolean,
                    value: false
                },

                days: {
                    type: Array,
                    value: ['Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota', 'Neděle']
                }
            },

            _getDayName: function (dayIndex) {
                return (this.days[dayIndex]);
            },

            finish: function () {
                if (this._validateData(this.officeData)) {
                    this.fire('change-route', {url: '/office/registration/confirm'});
                }
            },

            _validateData: function (data) {
//                this._validateForm(this.$.step1Form);
                console.log("TODO: validation");
                return true;
            },

/*            _validateForm: function (form) {
                console.log(form);
                console.log(form);
                for (var el, i = 0; el = form.elements[i], i < form.elements.length; i++) {
                    console.log(el);
                }
            },*/

            _computeButtonText: function (collapse, index) {
                if (collapse) {
                    return (index == 1) ? "Krok1" : "Další krok";
                } else {
                    return (index == 1) ? "Upravit krok 1" : "Krok2";
                }
            },

            toggleChange: function () {
                this.renderStep2 = true;
                this.collapse = !this.collapse;
            }
        });
    </script>
</dom-module>
