<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/gold-phone-input/gold-phone-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/file-input/file-input.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/google-apis/google-maps-api.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/header-styles.html">
<link rel="import" href="/styles/button-styles.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">

<dom-module id="data-view">
    <template>
        <style include="button-styles layout-styles input-styles header-styles">
            :host {
                --iron-collapse-transition-duration: 600ms;
            }

            /*BUG workaround: Without the following css, the whole area would activate on-change event.*/
            .file_input {
                position: relative;
                margin-top: 20px;
            }

            .photo_input {
                position: relative;
                width: 80%;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
            }

            .row {
                margin-top: 20px;
                @apply(--layout-horizontal);
                @apply(--layout-end);
            }

            .row paper-icon-button {
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
            }
        </style>

        <google-maps-api id="map_api" api-key="AIzaSyAqsxSW1xtRQ5HPFA73iILCIkRj4stY4LI"></google-maps-api>

        <div class="main-frame">
            <header class="subsection">
                <h1>Registrace ordinace</h1>
                <span>Tyto údaje můžete později změnit v nastavení</span>
            </header>

            <paper-button id="step1_button" type="button" on-tap="toggleChange" disabled="[[collapse]]">
                [[computeButtonText(collapse, 1)]]
            </paper-button>
            <hr>

            <iron-collapse opened="[[collapse]]">
                <form id="step1Form" is="iron-form">
                    <div class="subsection grid">

                        <section>
                            <h2>Vaše jméno</h2>
                            <paper-input label="Jméno" minlength="1" maxlength="20" auto-validate
                                         error-message="Nelze ponechat prázdné" required
                                         value="{{officeData.information.name.firstName}}"></paper-input>
                            <paper-input label="Příjmení" minlength="1" auto-validate
                                         maxlength="80" error-message="Nelze ponechat prázdné"
                                         required value="{{officeData.information.name.lastName}}"></paper-input>
                            <h2>Adresa</h2>
                            <paper-input id="cinput" label="Město" value="{{officeData.information.address.city}}"
                                         minlength="1" maxlength="20" required auto-validate>
                            </paper-input>
                            <paper-input id="sinput" label="Ulice a číslo popisné" value="{{officeData.information.address.street}}"
                                         minlength="1" maxlength="80" required auto-validate></paper-input>
                            <h2>Délka návštěvy</h2>
                            <p>Zde zadejte odhad délky návštěvy pacienta v minutách. Podle této hodnoty a ordinačních
                                hodin určíme objednávací časy.</p>
                            <paper-input type="number" label="Délka návštěvy" min="1" max="360" required auto-validate
                                         value="20" on-blur="setVisitLength">
                                <div suffix>min</div>
                            </paper-input>
                        </section>
                        <section>
                            <h2>Ordinační hodiny</h2>
                            <template is="dom-repeat" items="[[officeData.information.officeHours]]" as="entry">
                                <div>
                                    <paper-checkbox checked="{{entry.available}}">[[getDayName(index)]]
                                    </paper-checkbox>
                                </div>
                                <template is="dom-if" if="[[entry.available]]" restamp="true">
                                    <paper-input value="{{entry.hours}}" auto-validate required
                                                 placeholder="07:30-12:30,13:30-15:30"
                                                 pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]-([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9](,([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]-([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9])*"
                                                 prevent-invalid-input allowed-pattern="[0-9,-:]"></paper-input>
                                </template>
                            </template>
                        </section>
                    </div>
                </form>
            </iron-collapse>
            <paper-button id="step2_button" on-tap="toggleChange" disabled="[[!collapse]]">
                [[computeButtonText(collapse, 2)]]
            </paper-button>
            <hr>
            <iron-collapse opened="[[!collapse]]">
                <form id="step2Form" is="iron-form">
                    <template is="dom-if" if="[[renderStep2]]">
                        <div class="subsection grid">
                            <section>
                                <h2>Zařízení v čekárně</h2>
                                <p>Zaškrtněte, pokud si přejete přidat zařízení v čekárně, které slouží k zařazení
                                    pacientů,
                                    kteří se neobjednali online případně po telefonu.
                                </p>
                                <paper-checkbox checked="{{officeData.device.enabled}}">Přidat zařízení</paper-checkbox>
                                <p hidden="[[!officeData.device.enabled]]">V krabičce u zařízení jsme Vám poslali
                                    papírek
                                    na kterém je napsán identifikátor. Tuto sekvenci znaků prosím opište do políčka
                                    níže:</p>
                                <template is="dom-if" if="[[officeData.device.enabled]]" restamp="true">
                                    <paper-input id="id_input_id" label="Identifikátor" required auto-validate
                                                 value="{{officeData.device.deviceID}}"></paper-input>
                                </template>
                                <h2>Vřejné informace profilu</h2>
                                <p>Zadejte prosím údaje, které si přejete zobrazit u Vašeho profilu. Tyto údaje jsou
                                    dobrovolné tudíž je nemusíte vyplňovat/nahrávat.</p>
                                <p>Pokud chcete, aby se pacienti mohli objednat přes telefon, prosím vyplňte tuto
                                    možnost:</p>
                                <gold-phone-input id="phone_id" country-code="420" label="Telefonní číslo"
                                                  phone-number-pattern="XXX-XXX-XXX" auto-validate
                                                  value="{{officeData.information.phoneNumber}}">
                                </gold-phone-input>
                                <gold-email-input id="email_id" label="Email" value="{{officeData.information.email}}"
                                                  auto-validate></gold-email-input>
                                <div class="file_input" hidden="[[computePhotoAvailability(officeData.photoFile)]]">
                                    <file-input id="photoUpload" type="file" accept="image/*" on-change="loadFile">
                                        <iron-icon icon="file-upload"></iron-icon>
                                        Nahrát profilovou fotografii
                                    </file-input>
                                </div>
                                <template is="dom-if" if="[[computePhotoAvailability(officeData.photoFile)]]"
                                          restamp="true">
                                    <div class="row">
                                        <span class="photo_input"><b>Fotografie:</b> [[computePhotoText(officeData.photoFile)]]</span>
                                        <paper-icon-button icon="delete" on-tap="deletePhoto"></paper-icon-button>
                                    </div>
                                </template>
                            </section>
                            <section>
                                <h2>Vaše specializace</h2>
                                <paper-dropdown-menu label="Specializace">
                                    <paper-listbox class="dropdown-content" selected="{{officeData.information.specialization}}">
                                        <template is="dom-repeat" items="[[specializations]]" as="entry">
                                            <paper-item>[[entry]]</paper-item>
                                        </template>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                                <h2>Klientela</h2>
                                <p>Checkbox níže zaškrtněte pokud máte omezenou klientelu.</p>
                                <paper-checkbox checked="{{officeData.information.limitedClientele}}">Omezená klientela
                                </paper-checkbox>
                                <p hidden="[[!officeData.information.limitedClientele]]">Při zaškrtnutí omezené klientely si pacient
                                    před prvním objednáním v našem systému zažádá o potvrzení. Vám poté přijde zpráva s
                                    žádostí o potvrzení. Ve zprávě
                                    uvidíte pacientovi osobní údaje (jméno, adresa), na základě kterých umožníte
                                    pacientovi
                                    objednání či naopak. Při dalších pacientových návštěvách potvrzení nebude nutné.
                                </p>
                                <h2>Text pro pacienty</h2>
                                <p>Tento text se zobrazí na stránce Vaší ordinace. Můžete zde zadat libovolnou zprávu
                                    pacientům. Zpráva není povinná.</p>
                                <paper-textarea label="Zpráva pro pacienty" value="{{officeData.information.patientText}}"
                                                char-counter maxlength="800"></paper-textarea>
                                <paper-button responsive on-tap="confirm">
                                    Dokončit
                                </paper-button>
                            </section>
                        </div>
                    </template>
                </form>
            </iron-collapse>
        </div>
    </template>

    <script>
        Polymer({
            is: 'data-view',

            behaviors: [FormValidationBehavior],

            properties: {
                collapse: {
                    type: Boolean,
                    value: true
                },

                specializations: {
                    type: Array,
                    value: ['Zubař', 'Rektálník', 'Gynekolog']
                },

                renderStep2: {
                    type: Boolean,
                    value: false
                },

                days: {
                    type: Array,
                    value: ['Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota', 'Neděle']
                }
            },

            setVisitLength: function (event) {
                // Workaround for object serialization bug in paper-input
                this.set('officeData.information.visitLength', Number(event.target.value));
            },

            loadFile: function (event) {
                if (event.detail.valid.length > 0) {
                    var file = event.detail.valid[0];
                    this.set('officeData.photoFile', file);
                    this.set('officeData.information.photoAvailability', true);
                    event.target.reset();
                } else {
                    this.fire("show-toast", {text: "Špatný formát fotografie"});
                }
            },

            deletePhoto: function () {
                this.set('officeData.information.photoAvailability', false);
                this.set('officeData.photoFile', null);
            },

            getDayName: function (dayIndex) {
                return (this.days[dayIndex]);
            },

            confirm: function () {
                if (this.validate()) {
                    this.setCoordinates(this.officeData.information.address);
                } else {
                    this.fire("show-toast", {text: "Prosím opravte chyby podtržené červeně"});
                }
            },

            validate: function () {
                var toReturn = true;
                if (!this._validateForm(this.$.step1Form)) {
                    this.collapse = true;
                    toReturn = false;
                }
                if (!this._validateForm(this.$.step2Form)) {
                    toReturn = false;
                }
                return toReturn;
            },

            setCoordinates: function (addressObject) {
                var address = addressObject.city + " " + addressObject.street;
                var api = this.$.map_api.api;
                var geocoder = new api.Geocoder();
                if (geocoder) {
                    geocoder.geocode({'address': address}, function (result, status) {
                        if (status == api.GeocoderStatus.OK && status != api.GeocoderStatus.ZERO_RESULTS) {
                            var location = result[0].geometry.location;
                            this.set('officeData.information.coordinates.latitude', location.lat());
                            this.set('officeData.information.coordinates.longitude', location.lng());
                            this.fire('change-route', {url: '/office/registration/confirm'});
                        } else {
                            this.fire('change-route', {url: '/office/registration/coordinates'});
                        }
                    }.bind(this));
                } else {
                    this.fire('change-route', {url: '/office/registration/coordinates'});
                }
            },

            computeButtonText: function (collapse, index) {
                if (collapse) {
                    return (index === 1) ? "Krok1" : "Další krok";
                } else {
                    return (index === 1) ? "Upravit krok 1" : "Krok2";
                }
            },

            toggleChange: function () {
                this.renderStep2 = true;
                this.collapse = !this.collapse;
            },

            computePhotoAvailability: function (photoFile) {
                return (photoFile instanceof File);
            },

            computePhotoText: function (file) {
                if (!!file) {
                    return file.name;
                }
            }
        });
    </script>
</dom-module>
