<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">

<dom-module id="fourth-view">
    <template>
        <style include="layout-styles input-styles">

            #insurance-section paper-checkbox{
                display: block;
            }
            #services {
                margin-top: 4em;
            }

            #services p {
                margin-bottom: 2em;
            }

            .service-name {
                margin-right: 3%;
            }

            .service-price {
                width: 9em;
            }

            #add-service {
                background-color: var(--app-accent-color);
                font-size: 0.9em;
                color: #fff;
                padding: 0.8em 1em;
            }

            #delete-service {
                color: var(--app-red-color);
                margin: auto 0 auto 0.5em;
            }

            #services-container {
                margin: 1.5em auto;
            }

            .flex-horizontal {
                @apply(--layout-horizontal);
            }

            .flexchild {
                @apply(--layout-flex);
            }

            @media only screen and (max-width: 767px) {

                .flex-horizontal {
                    @apply(--layout-vertical);
                }

                .service-price {
                    width: 100%;
                }

                #delete-service {
                    margin-left: auto;
                }
            }

        </style>

        <div class="main-frame">
            <div class="subsection grid">
                <section id="insurance-section">
                    <h2>Pojišťovny</h2>
                    <p>Vyberte pojišťovny, se kterými máte smlouvu.</p>
                    <template is="dom-repeat" items="[[fullInfo.insurance]]" as="entry">
                        <paper-checkbox checked="{{entry.available}}">[[computeInsuranceName(entry.id)]]
                        </paper-checkbox>
                    </template>
                </section>
                <section>
                    <h2>Přijímání nových pacientů</h2>
                    <p>Zaškrtněte, pokud přijímáte nové pacienty.</p>
                    <paper-checkbox checked="{{fullInfo.acceptingNewPatients}}">
                        Přijímám nové pacienty
                    </paper-checkbox>

                    <h2>Libovolná zpráva pacientům</h2>
                    <p>Tento text se zobrazí na profilu ordinace.
                        Můžete zde zadat libovolnou zprávu pacientům. Zpráva není povinná.</p>
                    <paper-textarea label="Zpráva pro pacienty" value="{{fullInfo.patientText}}"
                                    char-counter maxlength="800"></paper-textarea>
                </section>
            </div>

            <section id="services">
                <h2>Služby</h2>
                <p>Vyplňte názvy a ceny služeb, které poskytujete. Jako cenu můžete uvést cokoli uznáte za vhodné. Služby nemusíte vyplňovat.</p>

                <form id="step4_form" is="iron-form">
                    <template is="dom-repeat" items="[[fullInfo.officeServices]]" as="service">
                        <div id="services-container" class="flex-horizontal">
                            <paper-input auto-validate required class="flexchild service-name" label="Vaše služba"
                                         value="{{service.name}}"></paper-input>
                            <paper-input auto-validate required class="service-price" label="Cena" value="{{service.price}}"></paper-input>
                            <paper-icon-button id="delete-service" icon="icons:close" on-tap="deleteService"></paper-icon-button>
                        </div>
                    </template>
                </form>

                <paper-button id="add-service" on-click="addService">Přidat službu
                </paper-button>

            </section>
        </div>

    </template>

    <script>
        Polymer({
            is: 'fourth-view',

            behaviors: [FormValidationBehavior],

            properties: {

                insuranceNames: {
                    type: Object,
                    value: {
                        111: '111 Všeobecná zdravotní pojišťovna ČR',
                        201: '201 Vojenská zdravotní pojišťovna ČR',
                        205: '205 Česká průmyslová zdravotní pojišťovna',
                        207: '207 Oborová zdravotní poj. zam. bank, poj. a stav.',
                        209: '209 Zaměstnanecká pojišťovna Škoda',
                        211: '211 Zdravotní pojišťovna ministerstva vnitra ČR',
                        213: '213 Revírní bratrská pokladna, zdrav. pojišťovna'
                    }
                }

            },

            validate: function () {
                return this._validateForm(this.$.step4_form);
            },

            computeInsuranceName: function (id) {
                return this.insuranceNames[id];
            },

            deleteService: function (event) {
                var index = event.model.__data__.index;
                this.splice('fullInfo.officeServices', index, 1);
            },

            addService: function () {
                this.push('fullInfo.officeServices', {
                    name: "",
                    price: ""
                });
            }
        })
    </script>
</dom-module>