<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/google-map/google-map.html">
<link rel="import" href="/bower_components/google-map/google-map-marker.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/google-apis/google-maps-api.html">

<dom-module id="second-view">
    <template>
        <style>
            .wide-container {
                margin: 30px auto;
                max-width: 900px;
            }

            google-map {
                height: 600px;
            }

        </style>

        <google-maps-api id="map_api" api-key="AIzaSyDk4noMo2J-k2pXpvlhaWBjMl4f2no4f18"></google-maps-api>

        <div class="wide-container">
            <h3>[[title]]</h3>
            <p>[[message]]</p>

            <!--TODO: restrict API key for our domain -->
            <google-map api-key="AIzaSyDk4noMo2J-k2pXpvlhaWBjMl4f2no4f18" fit-to-marker zoom="[[zoom]]"
                        latitude="[[coordinates.latitude]]"
                        longitude="[[coordinates.longitude]]">
                <google-map-marker latitude="{{coordinates.latitude}}"
                                   longitude="{{coordinates.longitude}}" draggable="true">
                </google-map-marker>
            </google-map>
        </div>

    </template>

    <script>
        Polymer({
            is: 'second-view',

            properties: {
                zoom: {
                    type: Number,
                    value: 15
                },

                title: {
                    type: String
                },

                message: {
                    type: String
                }
            },

            listeners: {
                'api-load': 'apiReady'
            },

            ready: function () {
                if (typeof google === 'object' && typeof google.maps === 'object') {
                    this.apiReady();
                }
            },

            apiReady: function () {
                var addressObject = this.address;
                if (addressObject.city !== null && addressObject.street !== null) {
                    this.setCoordinatesByAddress(addressObject);
                } else {
                    this.setToUserLocation();
                }
            },

            setCoordinatesByAddress: function (addressObject) {
                var address = addressObject.city + " " + addressObject.street,
                    api = this.$.map_api.api,
                    geocoder = new api.Geocoder();


                if (geocoder) {
                    geocoder.geocode({'address': address}, function (result, status) {
                        if (status === api.GeocoderStatus.OK && status !== api.GeocoderStatus.ZERO_RESULTS) {
                            var location = result[0].geometry.location;
                            this.set('coordinates.latitude', location.lat());
                            this.set('coordinates.longitude', location.lng());

                            this.title = "Ověřte prosím polohu ordinace";
                            this.message = "Podle Vámi zadané adresy jsme vyhledali pozici Vaší ordinace. Při určování polohy všal mohou vzniknout " +
                                "nepřesnosti, proto prosím případně přesuňte červený ukazatel na správnou polohu.";
                        } else {
                            this.setToUserLocation();
                        }
                    }.bind(this));
                } else {
                    this.setToUserLocation();
                }
            },

            setToUserLocation: function () {
                this.title = "Vyberte polohu ordinace na mapě";

                this.message = "Bohužel se nám nepodařilo najít umístění ordinace na mapě podle adresy, " +
                    "proto prosím přetáhněte červený ukazatel na místo Vaší ordinace. Tyto údaje potřebujeme " +
                    "k určení časové zóny,jež je potřeba pro správné zobrazení objednávacích časů.";

                // Setting the coordinates to some reasonable value so that it doesn't end up in the ocean
                this.zoom = 8;
                this.set('coordinates.latitude', 49.8);
                this.set('coordinates.longitude', 15.2);

                // I am not using the error callback because it's unreliable in various browsers
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        this.zoom = 11;
                        this.set('coordinates.latitude', position.coords.latitude);
                        this.set('coordinates.longitude', position.coords.longitude);
                    }.bind(this));
                }
            },

            validate: function () {
                return this.coordinates.latitude !== null && this.coordinates.longitude !== null;
            }
        });
    </script>
</dom-module>
