<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="/bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">

<link rel="import" href="/custom_components/custom-button.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">

<dom-module id="step1-view">
    <template>
        <style include="custom-button layout-styles input-styles">
        </style>
        <div class="main-frame">
            <div class="subsection grid">
                <section>
                    <h2>Zařízení v čekárně</h2>
                    <p>Zaškrtněte, pokud si přejete přidat zařízení v čekárně, které slouží k zařazení pacientů,
                        kteří se neobjednali online případně po telefonu.
                    </p>
                    <paper-checkbox checked="{{device_checked}}">Přidat zařízení</paper-checkbox>
                    <p hidden="[[!device_checked]]">V krabičce u zařízení jsme Vám poslali papírek
                        na kterém je napsán identifikátor. Tuto sekvenci znaků prosím opište do políčka níže:</p>
                    <paper-input id="id_input_id" label="Identifikátor" hidden="[[!device_checked]]"></paper-input>
                    <h2>Vřejné informace profilu</h2>
                    <p>Zaškrtněte prosím, které informace si přejete zobrazit u Vašeho profilu.</p>
                    <p>Pokud chcete, aby se pacienti mohli objednat přes telefon, prosím zaškrtněte tuto možnost:</p>
                    <paper-checkbox checked="{{phone_number_checked}}">Telefonní číslo</paper-checkbox>
                    <paper-input id="phone_id" label="Telefonní číslo" hidden="[[!phone_number_checked]]">
                    </paper-input>
                    <paper-checkbox checked="{{email_checked}}">Email</paper-checkbox>
                    <gold-email-input id="email_id" label="Email" hidden="[[!email_checked]]"></gold-email-input>
                </section>
                <section>
                    <h2>Text pro pacienty</h2>
                    <p>Tento text se zobrazí na stránce Vaší ordinace. Můžete zde zadat libovolnou zprávu pacientům.
                        Zpráva není povinná.</p>
                    <paper-textarea label="Zpráva pro pacienty" char-counter maxlength="400"></paper-textarea>
                    <custom-button responsive>
                        <button id="confirm_button" type="button" on-tap="nextStep">Poslední krok</button>
                    </custom-button>
                </section>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'step1-view',

            properties: {
                device_checked: {
                    type: Boolean,
                    observer: '_onDevChecked'
                },

                phone_number_checked: {
                    type: Boolean,
                    observer: '_onPhoneChecked'
                }
            },

            nextStep: function () {
                this.domHost.nextStep(2);
            },

            _onDevChecked: function (value) {
                if (value) {
                    this.$.id_input_id.$.input.focus();
                }
            },

            _onPhoneChecked: function (value) {
                if (value) {
                    this.$.phone_id.$.input.focus();
                }
            }
        });
    </script>
</dom-module>
