<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-date-picker-item/paper-date-picker-item.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="/custom_components/moment-wrapper-cs.html">
<link rel="import" href="/behaviors/form-validation-behavior.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">


<dom-module id="third-view">
    <template>
        <style include="layout-styles input-styles">

            paper-checkbox#online-booking-checkbox {
                border: 1px solid var(--app-accent-color);
                padding: 0.6em 1.6em;
                font-weight: bolder;
                background-color: var(--app-accent-color);
                letter-spacing: 0.03em;
                --paper-checkbox-unchecked-color: white;
                --paper-checkbox-label-color: white;
                --paper-checkbox-size: 22px;
                --paper-checkbox-margin: 8px 10px 8px 0;
            }

            paper-checkbox#onlineSection {
                font-weight: bolder;
                --paper-checkbox-unchecked-color: var(--app-green-color);
                --paper-checkbox-label-color: var(--app-green-color);
                --paper-checkbox-size: 18px;
            }

            #online-booking-container {
                text-align: left;
                margin-bottom: 2em;
            }

            #not-online-container paper-checkbox {
                width: 6em;
                margin-top: 2em;
            }

            .flex-horizontal {
                @apply(--layout-horizontal);
            }

            .flexchild {
                @apply(--layout-flex);
            }

            #not-online-container paper-input {
                width: 100%;
                margin-left: 2em;
                --paper-input-container: {
                    width: 100%;
                };

                --paper-input-container-input: {
                    width: 100%;
                }
            }

            .green-header {
                margin-top: 2.5em;
                padding-top: 1em;
                border-top: 1px solid #d5d5d6;
                margin-bottom: 3.5em;
            }

            .green-header h1 {
                font-size: 1.3em;
                color: var(--app-green-color);
            }

            @media only screen and (max-width: 767px) {

                .flex-horizontal {
                    @apply(--layout-vertical);
                }

                #online-booking-container {
                    text-align: center;
                    margin-top: 2em;
                }

                #not-online-container paper-input {
                    margin-left: 0;
                }
            }

            .error {
                font-weight: bold;
                color: var(--app-red-color);
            }

            .green-bold {
                font-weight: bold;
                color: var(--app-green-color);
            }

        </style>

        <div class="main-frame">
            <form id="step3_form" is="iron-form">
                <div class="subsection grid">
                    <section>
                        <h2>Ordinační hodiny</h2>
                        <p>Zadejte své ordinační hodiny. Pokud máte hodiny nějak rozdělené, tak můžete úvést
                            popis. Tyto informace budou k vidění na Vašem profilu.</p>
                        <template is="dom-repeat" items="[[fullInfo.offlineOfficeHours]]" as="entry">
                            <div id="not-online-container" class="flex-horizontal">
                                <paper-checkbox class="" checked="{{entry.available}}">[[getDayName(index)]]
                                </paper-checkbox>

                                <template is="dom-if" if="[[entry.available]]" restamp="true">
                                    <paper-input class=flexchild" value="{{entry.hours}}" auto-validate required
                                                 placeholder="7:00-8:00 neobjednaní, 10:00-12:00 náběr krve,..."
                                    ></paper-input>
                                </template>
                            </div>
                        </template>
                    </section>
                </div>

                <div class="green-header">
                    <h1>Online objednávání a elektronický kalendář</h1>

                    <p>
                        Výběrem následující možnosti získáte přístup k elektronickému kalendáři
                        a online objednávání. Na Vašem profilu budou zobrazeny volné termíny a pacienti se k Vám budou
                        moci objednat sami a online.
                    </p>

                    <div id="online-booking-container">
                        <paper-checkbox id="online-booking-checkbox" checked="{{officeInterfaceInfo.services.onlineBooking}}">
                            Chci využít objednávání a kalendář
                        </paper-checkbox>
                    </div>
                </div>

                <template is="dom-if" if="[[officeInterfaceInfo.services.onlineBooking]]" restamp="true">
                    <div class="subsection grid">
                        <section>
                            <h2>Objednávací hodiny</h2>
                            <p>Podle níže uvedeného formátu prosím vyplňte hodiny, ve kterých si přejete mít vygenerovány termíny.
                                Tyto termíny budou zobrazeny v kalendáři na Vašem profilu.</p>
                            <template is="dom-repeat" items="[[generatorInfo.officeHours]]" as="entry">
                                <div>
                                    <paper-checkbox checked="{{entry.available}}">[[getDayName(index)]]
                                    </paper-checkbox>
                                </div>
                                <template is="dom-if" if="[[entry.available]]" restamp="true">
                                    <paper-input value="{{entry.hours}}" auto-validate required
                                                 placeholder="07:30-12:30,13:30-15:30"
                                                 pattern="([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]-([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9](,([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]-([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9])*"
                                                 prevent-invalid-input allowed-pattern="[0-9,-:]"></paper-input>
                                </template>
                            </template>

                            <h2>Délka návštěvy</h2>
                            <p>Zde zadejte odhad délky návštěvy pacienta v minutách. Podle této hodnoty a ordinačních
                                hodin určíme objednávací časy v kalendáři</p>
                            <paper-input type="number" label="Délka návštěvy" min="1" max="360" required auto-validate
                                         value="{{visitLength}}">
                                <div suffix>min</div>
                            </paper-input>

                        </section>
                        <section>
                            <h2>Počet objednávacích dní</h2>
                            <p>Zadejte na jak daleko do budoucna budou vytvořeny termíny. Pokud napíšete např. 7 dní,
                                tak nebude možné objednat pacienta na 8. den a dále od dnešního data.
                            </p>
                            <paper-input type="number" label="Počet dní" min="7" max="360" required auto-validate
                                         value="{{numberOfDays}}">
                                <div suffix>dní</div>
                            </paper-input>
                            <h2>Manuální potvrzení při první návštěvě</h2>
                            <p>Zaškrtněte, pokud chcete, aby pacient při prvním objednání nejprve musel zažádat o Vaše potvrzení.
                                Poté, co pacient zažádá o potvrzení, Vám zobrazíme nového pacienta v sekci „Pacienti k potvrzení“
                                ve které uvidíte pacientovi osobní údaje (jméno, adresa, datum narození), na jejichž základě
                                umožníte pacientovi objednání či naopak.
                                <br>
                                Při opětovných návštěvách pacienta již nebude Vaše potvrzení nutné.
                            </p>

                            <paper-checkbox checked="{{fullInfo.manualConfirmation}}">
                                Vyžaduji manuální potvrzení
                            </paper-checkbox>
                            <h2>První objednávací den</h2>
                            <p>Vyberte datum, od kdy chcete využívat online objednávání. V tento den Vám vygenerujeme první termíny.
                                V případě že datum nebude uvedeno, budou vygenerovány první termíny na zítřek.</p>
                            <p hidden="[[hideErrorMessage]]" class="error">Datum musí být v budoucnosti.</p>
                            <paper-date-picker-item required icon="icons:today"
                                                    placeholder="Vybrat datum"
                                                    locale="cs"
                                                    date="{{lastGeneratedDateRaw}}"></paper-date-picker-item>
                        </section>
                    </div>
                </template>
            </form>
        </div>
    </template>

    <script>
        Polymer({
            is: 'third-view',

            behaviors: [FormValidationBehavior],

            properties: {
                days: {
                    type: Array,
                    value: ['Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota', 'Neděle']
                },

                lastGeneratedDateRaw: {
                    type: Date,
                    observer: "observerRawAndSetDate"
                },

                hideErrorMessage: {
                    type: Boolean,
                    value: true
                },

                // Workaround for String representation of number in paper-input
                visitLength: {
                    type: String,
                    value: "40",
                    observer: "setNumericVisitLength"
                },

                numberOfDays: {
                    type: String,
                    value: "30",
                    observer: "setNumericNumberOfDays"
                }
            },

            validate: function () {
                return this._validateForm(this.$.step3_form);
            },

            observerRawAndSetDate: function (date) {
                if (date !== null) {
                    if (new Date() < date) {
                        var newDate = new Date(date.valueOf() - 86400000); // this date is the last date which is ignored by generator
                        this.set('generatorInfo.lastGeneratedDate',
                            {
                                year: newDate.getFullYear(),
                                month: newDate.getMonth() + 1,
                                date: newDate.getDate()
                            }
                        );
                        this.hideErrorMessage = true;
                    } else {
                        this.set('generatorInfo.lastGeneratedDate', null);
                        this.lastGeneratedDateRaw = null;
                        this.hideErrorMessage = false;
                    }
                }
            },

            getDayName: function (dayIndex) {
                return (this.days[dayIndex]);
            },

            // Workaround for non-numeric values in paper-input
            setNumericVisitLength: function (visitLength) {
                this.set("generatorInfo.visitLength", Number(visitLength));
            },

            setNumericNumberOfDays: function (numberOfDays) {
                this.set("generatorInfo.numberOfDays", Number(numberOfDays));
            }
        });
    </script>
</dom-module>