<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/button-styles.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">


<dom-module id="booking-view">
    <template>
        <style include="input-styles button-styles">

            @media only screen and (min-width: 1410px) {

                form {
                    width: 350px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    max-height: 40vh
                }
            }
        </style>

        <span>Datum objednání:<br><b>[[data.formatedDate]]</b></span><br>

        <form id="main_form" is="iron-form">
            <paper-input id="name_input" label="Jméno a příjmení pacienta" min="1" max="80" auto-validate required></paper-input>
            <paper-textarea id="message_input" label="Dobrovolná poznámka" value="{{patientMessage}}" char-counter
                            maxlength="200"></paper-textarea>
        </form>

        <paper-button responsive id="dialog-button" on-tap="confirm" raised>
            Objednat pacienta
        </paper-button>

    </template>

    <script>
        Polymer({
            is: 'booking-view',

            behaviors: [FormValidationBehavior],

//          TODO Delete dialog data when confirmed. Realtime interface change

            confirm: function () {
                // have to check if textarea validated
                if (this._validateForm(this.$.main_form)) {
                    this.confirmAppointment();
                    this.fire('dialog-confirm');
                }
            },

            confirmAppointment: function () {
                var db = firebase.apps[0].database(),
                    officeId = this.data.officeId,
                    appointmentId = this.data.appointmentId,
                    message = (!!this.$.message_input.value) ? this.$.message_input.value : null,
                    fullName = this.$.name_input.value, //required
                    objectToSave = {};

                objectToSave['/appointmentsPrivate/' + officeId + '/' + appointmentId] = {
                    'message': message,
                    'source': 'calendar',
                    'fullName': fullName
                };

                objectToSave['/appointmentsPublic/' + officeId + '/' + appointmentId] = false;

                db.ref('/').update(objectToSave).then(function () {
                    this.fire("show-toast", {text: "Objednání potvrzeno"});
                }.bind(this), function (error) {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Při potvrzení objednání se vyskytla chyba. Zkuste to prosím znovu.',
                            buttonText: 'Zavřít'
                        }
                    });
                }.bind(this));
            }

        });

    </script>
</dom-module>