<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/button-styles.html">

<dom-module id="emaildialog-view">
    <template>
        <style include="button-styles">
            .main-text {
                font-size: 1.2em;
            }
        </style>

        <p class="main-text">Na Vaší emailovou adresu byl poslán potvrzovací email.<br>
            Jakmile jej potvrdíte, budete se moci objednat.</p>
        <paper-button responsive id="dialog-button" dialog-dismiss>
            Zavřít
        </paper-button>
    </template>

    <script>
        Polymer({
            is: 'emaildialog-view'
        });
    </script>
</dom-module>
