<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-auth.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="emailinput-view">
    <template>
        <style include="button-styles input-styles">
            .main-text {
                font-size: 1.2em;
            }
        </style>
        <firebase-auth id="auth" app-name="docta"></firebase-auth>

        <p class="error">{{errorMessage}}</p>
        <p class="main-text">Zadejte prosím emailovou adresu,<br>na kterou bude zaslán odkaz pro obnovení hesla:</p>
        <form id="main_form" is="iron-form">
            <gold-email-input error-message="Špatný formát" value="{{email}}"
                              label="Vaše emailová adresa" auto-validate required autofocus>
            </gold-email-input>

            <paper-button responsive id="dialog-button" on-tap="confirm" raised>
                Poslat
            </paper-button>
        </form>
    </template>

    <script>
        Polymer({
            is: 'emailinput-view',

            behaviors: [FormValidationBehavior],

            confirm: function () {
                if (this._validateForm(this.$.main_form)) {
                    this.sendEmail();
                    this.fire('dialog-confirm');
                }
            },

            sendEmail: function () {
                this.$.auth.auth.sendPasswordResetEmail(this.email).then(function () {
                    this.fire("show-toast", {text: "Email odeslán"});
                }.bind(this)).catch(function (error) {
                    this.errorMessage = "Účet s touto emailovou adresou neexistuje";
                    this.fire("show-dialog", {path: "", viewName: "emailinput", open: true});
                }.bind(this))
            }
        });
    </script>
</dom-module>
