<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/custom_components/custom-button.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/behaviors/input-validation-behavior.html">
<link rel="import" href="/custom_components/custom-button.html">

<link rel="import" href="/styles/dialog-styles.html">

<dom-module id="emailinput-view">
    <template>
        <style include="custom-button dialog-styles">
        </style>
        <iron-meta id="meta"></iron-meta>

        <p class="error">{{errorMessage}}</p>
        <p class="main_text">Zadejte prosím emailovou adresu,<br>na kterou bude zaslán odkaz pro obnovení hesla:</p>
        <gold-email-input id="emailID" error-message="Špatný formát" value="{{email}}"
                          label="Vaše emailová adresa" auto-validate required
                          on-input="checkIfValid">
        </gold-email-input>

        <custom-button responsive>
            <button id="confirm_button" type="button" dialog-confirm autofocus on-tap="sendEmail"
                    disabled>
                Poslat
            </button>
        </custom-button>

        <paper-icon-button dialog-dismiss icon="close" id="closeBtn"></paper-icon-button>
    </template>

    <script>
        Polymer({
            is: 'emailinput-view',

            behaviors: [InputValidationBehavior],

            validationIDs: ["emailID"],

            sendEmail: function () {
                var app = document.getElementById('appID').app;
                app.auth().sendPasswordResetEmail(this.email).then(function () {
                    this.fire("show-toast", {text: "Email odeslán"});
                }.bind(this)).catch(function (error) {
                    this.errorMessage = "Účet s touto emailovou adresou neexistuje";
                    this.fire("show-dialog", {path: "", viewName: "emailinput", open: true});
                }.bind(this))

            }
        });
    </script>
</dom-module>
