<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/custom_components/custom-button.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/dialog-styles.html">

<dom-module id="emaildialog-view">
    <template>
        <style include="custom-button dialog-styles input-styles">
        </style>

        <p class="main_text">Na Vaší emailovou adresu byl poslán potvrzovací email.<br>
            Jakmile jej potvrdíte, budete se moci objednat.</p>
        <custom-button responsive>
            <button type="button" dialog-confirm autofocus>
                Zavřít
            </button>
        </custom-button>

        <paper-icon-button dialog-dismiss icon="close" id="closeBtn"></paper-icon-button>
    </template>

    <script>
        Polymer({
            is: 'emaildialog-view'
        });
    </script>
</dom-module>
