<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="emaildialog-view">
    <template>
        <style>
        </style>

        <p>Na Vaší emailovou adresu byl poslán potvrzovací email.<br>
            Jakmile jej potvrdíte, budete se moci objednat.</p>
        <paper-button dialog-confirm autofocus>Zavřít</paper-button>
    </template>

    <script>
        Polymer({
            is: 'emaildialog-view'
        });
    </script>
</dom-module>
