<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/button-styles.html">

<dom-module id="genericdialog-view">
    <template>
        <style include="button-styles">
            p {
                font-size: 1.2em;
            }
        </style>

        <p>[[data.text]]</p>
        <paper-button responsive id="dialog-button" on-tap="confirm" raised>
            [[data.buttonText]]
        </paper-button>
    </template>

    <script>
        Polymer({
            is: 'genericdialog-view',

            confirm: function () {
                if (!!this.data.nextRoute) {
                    this.fire('change-route', {url: this.data.nextRoute});
                }
                this.fire('dialog-confirm');
            }
        });
    </script>
</dom-module>
