<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-app-script.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/button-styles.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">


<dom-module id="login-view">
    <template>
        <style include="input-styles button-styles">

            #lost_pass {
                float: right;
                padding-top: 0;
                margin-top: 0;
                margin-bottom: 40px;
            }

            #go-to-registration {
                display: block;
                text-align: center;
                margin-top: 0.9em;
            }

            #go-to-registration b {
                color: var(--app-green-color);
            }

            a {
                color: inherit;
                text-decoration: inherit;
            }

            @media (max-width: 767px) {

                #go-to-registration {
                    margin-top: 7em;
                }
            }

        </style>

        <p class="error">{{errorMessage}}</p>

        <!--TODO: bug fix of faulty autofocus-->
        <form id="main_form" is="iron-form">
            <gold-email-input error-message="Špatný formát" value="{{email}}"
                              label="Vaše emailová adresa" required autofocus auto-validate>
            </gold-email-input>
            <paper-input value="{{password}}" label="Heslo" type="password" auto-validate
                         error-message="Neplatné heslo" minlength="6" maxlength="48" required>
            </paper-input>
        </form>

        <button id="lost_pass" on-tap="passReset">
            <span>Zapomněli jste heslo?</span>
        </button>

        <paper-button responsive id="dialog-button" on-tap="confirm" raised>
            Přihlásit
        </paper-button>

        <a id="go-to-registration" href="/registration" dialog-dismiss>
            <span>Ještě nemáte účet? <b>ZAREGISTRUJTE SE!</b></span>
        </a>

    </template>

    <script>
        Polymer({
            is: 'login-view',

            behaviors: [FormValidationBehavior],

            confirm: function () {
                if (this._validateForm(this.$.main_form)) {
                    this.signInWithEmailAndPassword();
                    this.fire('dialog-confirm');
                }
            },

            signInWithEmailAndPassword: function () {
                firebase.apps[0].auth().signInWithEmailAndPassword(this.email, this.password).then(function () {
                    this.fire("show-toast", {text: "Přihlášeno"});
                }.bind(this)).catch(function (error) {
                    switch (error["code"]) {
                        case "auth/wrong-password":
                            this.errorMessage = "Špatné heslo";
                            break;
                        case "auth/user-not-found":
                        case "auth/invalid-email":
                            this.errorMessage = "Uživatelské jméno nenalezeno";
                            break;
                        default:
                            this.errorMessage = error["code"];
                    }
                    this.fire("show-dialog", {path: "", viewName: "login", open: true});
                }.bind(this));
            },

            passReset: function () {
                this.fire("show-dialog", {path: "", viewName: "emailinput", open: false});
            }
        });

    </script>
</dom-module>