<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog-behavior/paper-dialog-common.css">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/dialog-styles.html">
<link rel="import" href="/styles/button-styles.html">

<link rel="import" href="/behaviors/input-validation-behavior.html">


<dom-module id="login-view">
    <template>
        <style include="input-styles dialog-styles button-styles">

            #lost_pass {
                float: right;
                padding-top: 0;
                margin-top: 0;
            }

            #reg_button {
                width: 100%;
                margin-top: 60px;
            }

            @media only screen and (min-width: 767px) {
                #reg_button {
                    margin-top: 0;
                }
            }

        </style>
        <div>
            <p class="error">{{errorMessage}}</p>

            <gold-email-input id="emailID" error-message="Špatný formát" value="{{email}}"
                              label="Vaše emailová adresa" on-blur="checkIfValid">
            </gold-email-input>
            <paper-input id="passID" value="{{password}}" label="Heslo" type="password" on-blur="checkIfValid"
                         error-message="Neplatné heslo" minlength="6" maxlength="48">
            </paper-input>

        </div>
        <div class="buttons">

            <button id="lost_pass" on-tap="passReset" class="nostyle">
                <span>Zapomněli jste heslo?</span>
            </button>

            <paper-button responsive id="confirm_button" dialog-confirm autofocus
                          on-tap="signInWithEmailAndPassword" disabled>
                Přihlásit
            </paper-button>

            <button id="reg_button" on-tap="showRegistration" class="nostyle">
                <span>Ještě nemáte účet? <b>Zaregistrujte se!</b></span>
            </button>
        </div>

        <paper-icon-button dialog-dismiss icon="close" id="closeBtn"></paper-icon-button>

    </template>

    <script>
        Polymer({
            is: 'login-view',

            behaviors: [InputValidationBehavior],

            validationIDs: ["emailID", "passID"],

            signInWithEmailAndPassword: function () {
                // TODO: find a way to get reference without avoding the shadow dom
                var app = document.getElementById('appID').app;
                app.auth().signInWithEmailAndPassword(this.email, this.password).then(function () {
                    this.fire("show-toast", {text: "Přihlášeno"});
                }.bind(this)).catch(function (error) {
                    switch (error["code"]) {
                        case "auth/wrong-password":
                            this.errorMessage = "Špatné heslo";
                            break;
                        case "auth/user-not-found":
                        case "auth/invalid-email":
                            this.errorMessage = "Uživatelské jméno nenalezeno";
                            break;
                        default:
                            this.errorMessage = error["code"];
                    }
                    this.fire("show-dialog", {path: "", viewName: "login", open: true});
                }.bind(this));
            },

            showRegistration: function () {
                this.fire("show-dialog", {path: "", viewName: "registration", open: false});
            },

            passReset: function () {
                this.fire("show-dialog", {path: "", viewName: "emailinput", open: false});
            }
        });

    </script>
</dom-module>