<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-auth.html">

<!--TODO: shouldn't be necessary-->
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">
<link rel="import" href="/behaviors/pass-visibility-behavior.html">

<link rel="import" href="/styles/button-styles.html">


<dom-module id="registration-view">
    <template>
        <style include="button-styles input-styles">
        </style>
        <firebase-auth id="auth" app-name="doctor-appointment-system"></firebase-auth>

        <p class="error">{{errorMessage}}</p>
        <form id="main_form" is="iron-form">
            <paper-input id="fninput" label="Jméno" minlength="1" maxlength="30" autofocus
                         error-message="Nelze ponechat prázdné" auto-validate required></paper-input>
            <paper-input id="lninput" label="Příjmení" minlength="1" maxlength="30"
                         error-message="Nelze ponechat prázdné" auto-validate required></paper-input>
            <gold-email-input error-message="Špatný formát" value="{{email}}"
                              label="Vaše emailová adresa" auto-validate required></gold-email-input>

            <!--TODO: remove inconsistent space above the input-->
            <paper-input id="pass" value="{{password}}" label="Heslo" required auto-validate
                         type="password" minlength="6" maxlength="48" error-message="Moc krátké">
                <paper-icon-button icon="[[eyeIcon]]" on-tap="passVisibilityChange" suffix></paper-icon-button>
            </paper-input>

            <paper-button responsive id="dialog-button" on-tap="confirm" raised>
                Registrovat
            </paper-button>
        </form>
    </template>

    <script>
        Polymer({
            is: 'registration-view',

            behaviors: [FormValidationBehavior, PassVisibilityBehavior],

            confirm: function () {
                if (this._validateForm(this.$.main_form)) {
                    this.createUserWithEmailAndPassword();
                    this.fire('dialog-confirm');
                }
            },

            createUserWithEmailAndPassword: function () {
                this.$.auth.createUserWithEmailAndPassword(this.email, this.password).then(function (user) {
                    user.sendEmailVerification();

                    this.fire('change-route', {url: '/home'});
                    this.fire("show-toast", {text: "Přihlášeno"});
                    this.fire("show-dialog", {path: "", viewName: "emaildialog", open: true});

                    this.saveUserData(user);

                }.bind(this)).catch(function (error) {
                    switch (error["code"]) {
                        case "auth/email-already-in-use":
                            this.errorMessage = "Účet s touto emailovou adresou již existuje";
                            break;
                        default:
                            this.errorMessage = error["code"];
                    }
                    this.fire("show-dialog", {path: "", viewName: "registration", open: true});
                }.bind(this));
            },

            saveUserData: function (user) {
                var objectToSave = {},
                    rootRef = this.$.auth.app.database().ref('/');

                objectToSave['/userInfo/' + user.uid] = {
                    name: {
                        'firstName': this.$.fninput.value,
                        'lastName': this.$.lninput.value
                    },
                    address: {
                        'city': '',
                        'street': ''
                    }
                };

                objectToSave['/userInterfaceInfo/' + user.uid] = {
                    'showOfficeInterface': false,
                    'numberOfNotifications': 0
                };

                rootRef.update(objectToSave);
            }
        });

    </script>
</dom-module>