<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-dialog-behavior/paper-dialog-common.css">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/behaviors/input-validation-behavior.html">
<link rel="import" href="/behaviors/pass-visibility-behavior.html">


<dom-module id="registration-view">
    <template>
        <style>
            p {
                color: red
            }
        </style>
        <firebase-document id="document" app-name="doctor-appointment-system">
        </firebase-document>

        <div>
            <p>{{errorMessage}}</p>
            <paper-input id="fninput" label="Jméno" minlength="1" maxlength="80"
                         error-message="Nelze ponechat prázdné" auto-validate required
                         on-input="checkIfValid"></paper-input>
            <paper-input id="lninput" label="Příjmení" minlength="1"
                         maxlength="80" error-message="Nelze ponechat prázdné" auto-validate
                         required on-input="checkIfValid"></paper-input>
            <gold-email-input id="emailID" error-message="Špatný formát" value="{{email}}"
                              label="Vaše emailová adresa" auto-validate required
                              on-input="checkIfValid"></gold-email-input>

            <paper-input id="passID" value="{{password}}" label="Heslo" required auto-validate
                         type="password"
                         minlength="6" maxlength="48" error-message="Moc krátké" on-input="checkIfValid">
            </paper-input>
            <!-- TODO: set the icon position next to input-->
            <paper-icon-button icon="[[eyeIcon]]" on-tap="passVisibilityChange"></paper-icon-button>
            <paper-button dialog-dismiss>Zavřít</paper-button>
            <paper-button id="confirm_button" dialog-confirm autofocus on-tap="createUserWithEmailAndPassword"
                          disabled>
                Registrovat
            </paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'registration-view',

            behaviors: [InputValidationBehavior, PassVisibilityBehavior],

            validationIDs: ["fninput", "lninput", "emailID", "passID"],

            createUserWithEmailAndPassword: function () {
                this.domHost.$.auth.createUserWithEmailAndPassword(this.email, this.password).then(function (user) {
                    user.sendEmailVerification();

                    this.domHost.changeRoute('/home');
                    this.domHost.showToast("Přihlášeno");
                    this.domHost.showDialog("", "emaildialog", true);

                    this.saveUserData(user);

                }.bind(this)).catch(function (error) {
                    switch (error["code"]) {
                        case "auth/email-already-in-use":
                            this.errorMessage = "Účet s touto emailovou adresou již existuje";
                            break;
                        default:
                            this.errorMessage = error["code"];
                    }
                    this.domHost.showDialog("", "registration", true);
                }.bind(this));
            },

            saveUserData: function (user) {
                this.$.document.path = null;
                this.$.document.data = {
                    name: {
                        'firstName': this.$.fninput.value,
                        'lastName': this.$.lninput.value
                    }
                };
                this.$.document.save('users', user.uid);
            }
        });

    </script>
</dom-module>