<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<dom-module id="appointments-view">
    <template>
        <style>
            :host {
                display: block;
            }

            .main-frame {
                background-color: #fff;
                max-width: 900px;
                margin: 0 auto 3em;
                padding: 1em 4.5% 3.5em 4.5%;
            }

        </style>

        <firebase-document app-name="doctor-appointment-system" path="/userAppointments/[[userId]]" data="{{appointmentsRaw}}">
        </firebase-document>

        <paper-material class="main-frame">
            <template is="dom-repeat" items="[[appointmentsArray]]" as="appointment">
                <div>[[appointment.officeId]]</div>
            </template>
        </paper-material>

    </template>

    <script>
        Polymer({
            is: 'appointments-view',

            properties: {
                appointmentsArray: {
                    type: Array,
                    computed: 'computeAppointments(appointmentsRaw)'
                }
            },

            computeAppointments: function (appointmentsRaw) {
                var convertedAppointment,
                    appointmentsArray = Object.keys(appointmentsRaw).map(function (key) {
                        convertedAppointment = appointmentsRaw[key];
                        convertedAppointment["appointmentId"] = key;
                        return convertedAppointment;
                    });

                console.log(appointmentsArray);
                return appointmentsArray;
            }
        });
    </script>
</dom-module>
