<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">

<link rel="import" href="/bower_components/iron-icons/editor-icons.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/styles/interface-styles.html">
<link rel="import" href="/styles/input-styles.html">

<dom-module id="appointments-view">
    <template>
        <style include="interface-styles input-styles">
            :host {
                display: block;
            }

            a {
                color: var(--app-green-color);
                font-weight: bold;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            .my-list-item {
                padding: 1.8em;
                margin: 0 auto;
                box-shadow: none;
            }

            .no-appointments {
                text-align: center;
            }

            paper-textarea {
                margin-top: 1.8em;
                margin-right: 1.5em;
                margin-bottom: 0;
                padding-bottom: 0;

                --paper-input-container: {
                    margin-bottom: 0;
                    padding-bottom: 0;
                };

            }

            paper-input[disabled] {
                color: red;
            }

            #save-changes {
                background-color: var(--app-green-color);
                color: #fff;
                border: none;
            }

            #save-changes[disabled] {
                background-color: #f8f8f9;
                color: #455A64;
                border: 1px solid #dadbdd;
                box-shadow: none;
            }

            #message-container {
                padding: 0 1.5em 1.5em;
                border: 1px solid #e2e2e3;
                margin-top: 2em;
                background-color: #fbfbfc;
            }

            #edit-message {
                margin-top: auto;
                margin-left: 1em;
            }

            .name, .address {
                max-width: 30%;
            }

            @media only screen and (max-width: 767px) {

                .flex-horizontal-with-ratios {
                    @apply(--layout-vertical);
                }

                .dismiss-button {
                    position: absolute;
                    top: 1em;
                    right: 1em;
                }

                .dismiss-button span {
                    display: none;
                }

                .dismiss-button iron-icon {
                    margin: 0;
                }

                .my-list-item {
                    padding: 1em;
                }

                .label {
                    @apply(--label-medium-screen-layout);
                }

                .address-city {
                    margin-left: 3.72em;
                }

                paper-textarea {
                    margin-right: 0;
                    margin-bottom: 1em;
                }

                .name, .address {
                    max-width: 90%;
                }

                #edit-message {
                    text-align: left;
                    margin-left: 0;
                }
            }


        </style>

        <firebase-document id="appointment_document" app-name="docta" path="/userAppointments/[[userId]]"
                           data="{{appointmentsRaw}}">
        </firebase-document>

        <template is="dom-repeat" items="[[appointmentsArray]]" as="appointment">
            <div class="my-list-item">
                <div class="container flex-horizontal-with-ratios">

                    <div class="flexchild time">
                        <span class="label">Čas objednání:</span>
                        <b>[[computeAppointmentDate(appointment.appointmentId)]]</b>
                    </div>

                    <div class="flexchild name">
                        <span class="label">Lékař:</span>
                        <a href="/d/[[appointment.officeId]]" title="zobrazit profil lékaře">[[appointment.name.firstName]]
                            [[appointment.name.lastName]]</a>
                    </div>

                    <div class="flexchild address"><span class="label">Adresa:</span>
                        <a href="[[computeMapLink(appointment.address)]]" target="_blank" title="zobrazit na mapě">[[appointment.address.street]]
                            <br>
                            <span class="address-city">[[appointment.address.city]]</span>
                        </a>
                    </div>

                    <div class="buttons">
                        <paper-button on-tap="deleteAppointment" class="dismiss-button">
                            <iron-icon icon="icons:close"></iron-icon>
                            <span>Zrušit</span>
                        </paper-button>
                    </div>

                </div>

                <div id="message-container" class="container flex-horizontal-with-ratios">
                    <paper-textarea id="patient_message" class="flexchild" label="Zpráva lékaři" minlength="1" char-counter maxlength="200"
                                    value="{{appointment.message}}" on-input="enableButton">
                    </paper-textarea>
                    <div id="edit-message" class="buttons">
                        <paper-button id="save-changes" on-tap="saveChanges" disabled="[[appointment.disabledButton]]">
                            <iron-icon icon="icons:check"></iron-icon>
                            Uložit změny
                        </paper-button>
                    </div>

                </div>
            </div>
        </template>

        <div hidden="[[computeIfAppointments(appointmentsArray)]]" class="no-appointments my-list-item">
            <iron-icon icon="info"></iron-icon>
            Nemáte žádné návštěvy
        </div>

    </template>

    <script>
        Polymer({
            is: 'appointments-view',

            properties: {
                appointmentsArray: {
                    type: Array,
                    computed: 'computeAppointments(appointmentsRaw)'
                }
            },

            computeIfAppointments: function (appointmentsArray) {
                return appointmentsArray.length !== 0;
            },

            computeAppointments: function (appointmentsRaw) {
                var convertedAppointment;

                return Object.keys(appointmentsRaw).map(function (key) {
                    convertedAppointment = appointmentsRaw[key];
                    convertedAppointment["appointmentId"] = key;
                    convertedAppointment["disabledButton"] = true;
                    return convertedAppointment;
                });
            },

            computeAppointmentDate: function (appointmentId) {
                var date, year, month, hours, minutes,
                    stringId = "" + appointmentId;

                date = Number(stringId.substring(6, 8));
                year = stringId.substring(0, 4);
                month = Number(stringId.substring(4, 6));
                hours = Number(stringId.substring(8, 10));
                minutes = stringId.substring(10, 12);

                return "" + date + "." + month + "." + year + " v " + hours + ":" + minutes;
            },

            computeMapLink: function (address) {
                return (!!address) ? "http://maps.google.com/maps?q=" + address.city + "," + address.street : null;
            },

            saveChanges: function (event) {
                var db = this.$.appointment_document.app.database(),
                    appointment = event.model.appointment,
                    userId = this.userId,
                    patientMessage = (!!appointment.message) ? appointment.message : null,
                    objectToSave = {};


                objectToSave['/appointmentsPrivate/' + appointment.officeId + '/' + appointment.appointmentId + '/message'] = patientMessage;
                objectToSave['/userAppointments/' + userId + '/' + appointment.appointmentId + '/message'] = patientMessage;

                db.ref("/").update(objectToSave).then(function () {
                    this.fire("show-toast", {text: "Změny uloženy"});
                }.bind(this), function (error) {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Při ukládání dat se vyskytla chyba. Zkuste to prosím znovu.',
                            buttonText: 'Zavřít'
                        }
                    });
                }.bind(this));
            },

            deleteAppointment: function (event) {
                var db = this.$.appointment_document.app.database(),
                    appointment = event.model.appointment,
                    userId = this.userId,
                    objectToSave = {};


                objectToSave['/appointmentsPrivate/' + appointment.officeId + '/' + appointment.appointmentId] = null;
                objectToSave['/appointmentsPublic/' + appointment.officeId + '/' + appointment.appointmentId] = true;
                objectToSave['/userAppointments/' + userId + '/' + appointment.appointmentId] = null;
                objectToSave['/userContactedOffices/' + userId + '/' + appointment.officeId + '/booked'] = false;


                db.ref("/").update(objectToSave).then(function () {
                    this.fire("show-toast", {text: "Objednání zrušeno"});
                }.bind(this), function (error) {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Při odstraňování objednání se vyskytla chyba. Zkuste to prosím znovu.',
                            buttonText: 'Zavřít'
                        }
                    });
                }.bind(this));
            },

            enableButton: function (event) {
                event.model.set("appointment.disabledButton", false);
            }
        });
    </script>
</dom-module>
