<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="appointments-view">
    <template>
        <style>
            :host {
                display: block;
            }

            .main-frame {
                background-color: #fff;
                max-width: 950px;
                margin: 0 auto 3em;
                padding: 1em 4.5% 3.5em 4.5%;
            }

        </style>

        <paper-material class="main-frame">
            TODO: appointments
        </paper-material>

    </template>

    <script>
        Polymer({
            is: 'appointments-view'
        });
    </script>
</dom-module>
