<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/styles/interface-styles.html">
<link rel="import" href="/styles/layout-styles.html">

<dom-module id="notifications-view">
    <template>
        <style include="interface-styles layout-styles">
            :host {
                display: block;
                padding-top: 50px;
            }

            .main-frame {
                margin-bottom: 5em;
                max-width: 1300px;
            }

            .interface-div {
                padding: 2em;
                border-top: 1px solid var(--border-color);

            }

            .interface-div:hover {
                position: relative;
                box-shadow: 0 5px 60px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .dismiss-button {
                transition: all 0.1s cubic-bezier(.25, .8, .25, 1);
            }

            .interface-div:hover .dismiss-button {
                background-color: var(--app-green-color) !important;
                color: #fff !important;
                border-color: var(--app-green-color) !important;
                font-weight: bolder;
            }

            .interface-div:not(:first-child) {
                border-top: 1px solid var(--border-color);
            }

            h3 {
                margin-top: 0;
            }

            /* FLEX LAYOUT */
            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
            }

            .flexchild {
                @apply(--layout-flex-3);
                margin-right: 2em;
            }

            .flex2child {
                @apply(--layout-flex);
                text-align: right;
                margin-top: auto;
            }

            /*RESPONSIVE ADDITIONS*/
            @media only screen and (max-width: 1150px) {

                .flex-horizontal-with-ratios {
                    @apply(--layout-vertical);
                }

                .flex-horizontal-with-ratios > div {
                    margin: 0.2em 0;
                }

                .flex2child {
                    padding-top: 0.6em;
                    text-align: left;
                }
            }

            @media only screen and (max-width: 767px) {

                .main-frame {
                    padding: 0;
                }
            }

            @media only screen and (max-width: 300px) {

                .buttons > paper-button {
                    display: block;
                    margin: 0.9em 0;
                    text-align: center;
                    padding: 1.2em;
                }
            }

            .no-notifications {
                font-size: 1.2em;
                @apply(--layout);
                @apply(--layout-center-center);
            }

        </style>

        <firebase-document id="notification_document" app-name="doctor-appointment-system" path="/userNotifications/[[userId]]"
                           data="{{notificationsData}}">
        </firebase-document>

        <!--TODO: disable URL escaping-->
        <div class="main-frame">
            <template is="dom-repeat" items="[[notificationsArray]]" as="notification">
                <div class="interface-div">
                    <h3>[[notification.title]]</h3>
                    <a href="/d/[[notification.sender]]">Profil odesílatele</a>
                    <div class="container flex-horizontal-with-ratios">
                        <div class="flexchild">[[notification.message]]</div>
                        <div class="flex2child buttons">
                            <paper-button on-tap="dismissNotification" class="dismiss-button">Přečteno</paper-button>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <div hidden="[[computeIfNotifications(notificationsArray)]]" class="no-notifications">
            <iron-icon icon="info"></iron-icon>
            Žádné notifikace k zobrazení
        </div>

    </template>


    <script>
        Polymer({
            is: 'notifications-view',

            properties: {
                notificationsArray: {
                    type: Array,
                    computed: 'computeNotificationsArray(notificationsData)'
                }
            },

            dismissNotification: function (event) {
                var notificationId = event.model.notification.nid,
                    transactionRef = this.$.notification_document.ref.root.child('/userInterfaceInfo/' + this.userId + '/numberOfNotifications');

                this.set('notificationsData.' + notificationId, null);

                transactionRef.transaction(function (currentCount) {
                    return (currentCount === null) ? null : currentCount - 1;
                }).then(function () {
                    this.fire("show-toast", {text: "Notifikace vymazána"});
                }.bind(this))
            },

            computeIfNotifications: function (notificationsArray) {
                return notificationsArray.length !== 0;
            },

            computeNotificationsArray: function (notificationsData) {
                return Object.keys(notificationsData).map(function (key) {
                    return {
                        'title': notificationsData[key]['title'],
                        'message': notificationsData[key]['message'],
                        'sender': notificationsData[key]['sender'],
                        'nid': key
                    }
                });
            }
        });
    </script>
</dom-module>
