<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="/styles/interface-styles.html">
<link rel="import" href="/styles/layout-styles.html">

<dom-module id="notifications-view">
    <template>
        <style include="interface-styles layout-styles">
            :host {
                display: block;
                padding-top: 50px;
            }

            .main-frame {
                margin-bottom: 5em;
                max-width: 1300px;
            }

            .interface-div {
                padding: 2em;
                border-top: 1px solid var(--border-color);

            }

            .interface-div:hover {
                position: relative;
                box-shadow: 0 5px 60px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .dismiss-button{
                transition: all 0.1s cubic-bezier(.25,.8,.25,1);
            }

            .interface-div:hover .dismiss-button{
                background-color: var(--app-green-color) !important;
                color: #fff !important;
                border-color: var(--app-green-color) !important;
                font-weight: bolder;
            }


            .interface-div:not(:first-child) {
                border-top: 1px solid var(--border-color);
            }

            h3 {
                margin-top: 0;
            }

            /* FLEX LAYOUT */
            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
            }

            .flexchild {
                @apply(--layout-flex-3);
                margin-right: 2em;
            }

            .flex2child {
                @apply(--layout-flex);
                text-align: right;
                margin-top: auto;
            }

            /*RESPONSIVE ADDITIONS*/
            @media only screen and (max-width: 1150px) {

                .flex-horizontal-with-ratios {
                    @apply(--layout-vertical);
                }

                .flex-horizontal-with-ratios > div {
                    margin: 0.2em 0;
                }

                .flex2child {
                    padding-top: 0.6em;
                    text-align: left;
                }
            }

            @media only screen and (max-width: 767px) {

                .main-frame {
                    padding: 0;
                }
            }

            @media only screen and (max-width: 300px) {

                .buttons > paper-button {
                    display: block;
                    margin: 0.9em 0;
                    text-align: center;
                    padding: 1.2em;
                }
            }

        </style>

        <div class="main-frame">
            <template is="dom-repeat" items="[[notifications]]" as="entry">
                <div class="interface-div">
                    <h3>[[entry.heading]]</h3>
                    <div class="container flex-horizontal-with-ratios">
                        <div class="flexchild">[[entry.description]]</div>
                        <div class="flex2child buttons">
                            <paper-button class="dismiss-button">Přečteno</paper-button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </template>


    <script>
        Polymer({
            is: 'notifications-view',

            properties: {
                notifications: {
                    type: Array,
                    value: [
                        {
                            heading: "Potvrzení od doktora",
                            description: "Notifikace je synonymum pro oznámení, nejčastěji se využívá v aplikacích," +
                            " v mobilních telefonech nebo na internetu. Notifikace představuje obvykle krátkou " +
                            "textovou nebo multimediální zprávu s účelem informovat uživatele o aktuálních událostech"
                        },
                        {
                            heading: "Upozornění",
                            description: "Notifikace je synonymum pro oznámení, nejčastěji se využívá v aplikacích," +
                            " v mobilních  o aktuálních událostech"
                        },
                        {
                            heading: "Upozornění na platbu",
                            description: "Notifikace je synonymum pro oznámení, nejčastěji se využívá v aplikacích," +
                            " v mobilních telefonech nebo na internetu. Notifikace představuje obvykle krátkou " +
                            "textovou nebo multimediální zprávu s účelem informovat uživatele o aktuálních událostech" +
                            "fikace je synonymum pro oznámení, nejčastěji se využívá v aplikacích," +
                            " v mobilních telefonech nebo na internetu. Notifikace představuje obvykle krátkou " +
                            "textovou nebo multimediální zprávu s účelem informovat uživatele o"

                        },
                        {
                            heading: "Upozornění na věc",
                            description: "Notifikace je synonymum pro oznámení, nejčastěji se využívá v aplikacích," +
                            " v mobilních telefonech nebo na internetu. Notifikace představuje obvykle krátkou " +
                            "textovou nebo multimediální zprávu s účelem informovat uživatele o aktuálních událostech"
                        }
                    ]
                }
            }
        });
    </script>
</dom-module>
