<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/styles/interface-styles.html">

<dom-module id="notifications-view">
    <template>
        <style include="interface-styles">

            a {
                color: var(--app-green-color);
                text-decoration: none;
                font-weight: bolder;
            }

            a:hover {
                text-decoration: underline;
            }

            h3 {
                margin-top: 0;
                color: black;
                margin-bottom: 0.3em;
            }

            .my-list-item {
                padding: 2em;
                margin: 0em auto;
                box-shadow: none;
            }

            .buttons {
                margin-top: auto;
            }

            .notification-message {
                margin-top: 2em;
            }

            /* FLEX LAYOUT */
            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
            }

            .flexchild {
                @apply(--layout-flex);
                margin-right: 2em;
            }

            /*RESPONSIVE ADDITIONS*/
            @media only screen and (max-width: 767px) {

                .flex-horizontal-with-ratios {
                    @apply(--layout-vertical);
                }

                .flex-horizontal-with-ratios > div {
                    margin: 1.2em 0 0 0;
                }

                .my-list-item {
                    padding: 1em;

                }
            }

            .no-notifications {
                text-align: center;
            }

        </style>

        <firebase-document id="notification_document" app-name="docta"
                           path="/userNotifications/[[userId]]"
                           data="{{notificationsData}}">
        </firebase-document>

        <template is="dom-repeat" items="[[notificationsArray]]" as="notification">
            <div class="my-list-item">
                <h3>[[notification.title]]</h3>
                <a href="/d/[[notification.sender]]">Profil odesílatele</a>
                <div class="container flex-horizontal-with-ratios">
                    <div class="flexchild notification-message">[[notification.message]]</div>
                    <div class="buttons">
                        <paper-button on-tap="dismissNotification" class="confirm-button">
                            <iron-icon icon="icons:check"></iron-icon>
                            Přečteno
                        </paper-button>
                    </div>
                </div>
            </div>
        </template>


        <div hidden="[[computeIfNotifications(notificationsArray)]]" class="no-notifications my-list-item">
            <iron-icon icon="info"></iron-icon>
            Žádná nová upozornění
        </div>

    </template>


    <script>
        Polymer({
            is: 'notifications-view',

            properties: {
                notificationsArray: {
                    type: Array,
                    computed: 'computeNotificationsArray(notificationsData)'
                }
            },

            dismissNotification: function (event) {
                var notificationId = event.model.notification.nid,
                    transactionRef = this.$.notification_document.ref.root.child('/userInterfaceInfo/' + this.userId + '/numberOfNotifications');

                this.set('notificationsData.' + notificationId, null);

                transactionRef.transaction(function (currentCount) {
                    return (currentCount === null) ? null : currentCount - 1;
                }).then(function () {
                    this.fire("show-toast", {text: "Notifikace vymazána"});
                }.bind(this))
            },

            computeIfNotifications: function (notificationsArray) {
                return notificationsArray.length !== 0;
            },

            computeNotificationsArray: function (notificationsData) {
                return Object.keys(notificationsData).map(function (key) {
                    return {
                        'title': notificationsData[key]['title'],
                        'message': notificationsData[key]['message'],
                        'sender': notificationsData[key]['sender'],
                        'nid': key
                    }
                });
            }
        });
    </script>
</dom-module>
