<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/button-styles.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">
<link rel="import" href="/custom_components/date-validator.html">

<dom-module id="settings-view">
    <template>
        <style include="button-styles layout-styles input-styles">
            .main-frame {
                background-color: #fff;
                max-width: 100%;
                margin: 0 auto 3em;
                padding: 1em 4.5% 3.5em 4.5%;
                border-top: 1px solid #dadbdd;
            }

            #confirm_button {
                float: right;
            }

            #pass-change-container h2 {
                margin-top: 0;
            }

            #pass-change-container {
                margin-top: 3em;
                padding: 2em 2em 0 2em;
                border: 1px solid #e2e2e3;
                background-color: #fbfbfc;
            }

            @media only screen and (max-width: 767px) {

                .main-frame {
                    margin-top: 0;
                }

                #form1 h2:first-child {
                    margin-top: 2em;
                }

                #confirm_button {
                    float: none;
                }

                #pass-change-container {
                    padding: 1em 1em 0 1em;
                }
            }
        </style>

        <firebase-document id="user_document" app-name="docta"
                           path="/userInfo/[[user.uid]]" data="{{userInfo}}">
        </firebase-document>

        <firebase-document app-name="docta"
                           path="/userContactedOffices/[[user.uid]]" data="{{userContactedOffices}}">
        </firebase-document>

        <date-validator validator-name="dateValidator"></date-validator>

        <div class="main-frame">
            <div class="subsection grid">
                <section>
                    <form id="form1" is="iron-form">
                        <h2>
                            <iron-icon icon="icons:account-circle"></iron-icon>
                            Základní informace
                        </h2>
                        <paper-input id="fninput" label="Jméno" minlength="1" maxlength="30"
                                     error-message="Nelze ponechat prázdné" required auto-validate
                                     value="[[userInfo.name.firstName]]"></paper-input>
                        <paper-input id="lninput" label="Příjmení" minlength="1" auto-validate
                                     maxlength="30" error-message="Nelze ponechat prázdné"
                                     required value="[[userInfo.name.lastName]]"></paper-input>
                        <paper-input id="dinput" label="Datum narození" auto-validate required placeholder="24.5.1995"
                                     pattern="[0-9]{1,2}[.][0-9]{1,2}[.][0-9]{4}" value="[[computeDateOfBirth(userInfo.dateOfBirth)]]"
                                     prevent-invalid-input allowed-pattern="[0-9.]" validator="dateValidator">
                        </paper-input>
                    </form>
                </section>

                <section>
                    <form id="form2" is="iron-form">
                        <h2>
                            <iron-icon icon="maps:place"></iron-icon>
                            Adresa
                        </h2>
                        <paper-input id="cinput" label="Město" minlength="1" maxlength="30"
                                     value="[[userInfo.address.city]]" required auto-validate>
                        </paper-input>
                        <paper-input id="sinput" label="Ulice a číslo popisné" minlength="3" maxlength="80"
                                     value="[[userInfo.address.street]]" required auto-validate></paper-input>
                        <paper-radio-group id="sex" selected="[[userInfo.sex]]">
                            <paper-radio-button name="female">Žena</paper-radio-button>
                            <paper-radio-button name="male">Muž</paper-radio-button>
                        </paper-radio-group>
                        <paper-button id="confirm_button" on-tap="confirm" raised>Uložit změny</paper-button>
                    </form>
                </section>
            </div>
            <div id="pass-change-container">
                <h2>
                    <iron-icon icon="icons:lock"></iron-icon>
                    Změna hesla
                </h2>
                <p>Pro změnu hesla Vám zašleme email. V emailové zprávě bude odkaz, na kterém bude možno heslo
                    změnit.</p>
                <paper-button on-tap="passChange" raised>Poslat email</paper-button>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'settings-view',

            behaviors: [FormValidationBehavior],

            confirm: function () {
                var form1Validity = this._validateForm(this.$.form1),
                    form2Validity = this._validateForm(this.$.form2);

                if (form1Validity && form2Validity) {
                    this.saveChanges();
                }
            },

            passChange: function () {
                this.$.user_document.app.auth().sendPasswordResetEmail(this.user.email).then(function () {
                    this.fire("show-toast", {text: "Email odeslán"});
                }.bind(this)).catch(function () {
                    console.log("email sending error");
                })
            },

            computeDateOfBirth: function (dateOfBirth) {
                return (!!dateOfBirth) ? "" + dateOfBirth.date + "." + dateOfBirth.month + "." + dateOfBirth.year : null;
            },

            saveChanges: function () {
                var rootRef = this.$.user_document.ref.root, objectToSave = {}, i, status,
                    uid = this.user.uid, officeIds = Object.keys(this.userContactedOffices),
                    dateArray = this.$.dinput.value.split('.'),
                    userInfo = {
                        'name': {
                            'firstName': this.$.fninput.value,
                            'lastName': this.$.lninput.value
                        },
                        'sex': this.$.sex.selected,
                        'address': {
                            'city': this.$.cinput.value,
                            'street': this.$.sinput.value
                        },
                        'dateOfBirth': {
                            'date': Number(dateArray[0]),
                            'month': Number(dateArray[1]),
                            'year': Number(dateArray[2])
                        }
                    };

                objectToSave['/userInfo/' + uid] = userInfo;

                for (i = 0; i < officeIds.length; i++) {
                    status = this.userContactedOffices[officeIds[i]].status;
                    if (status === 'awaitsVerification') {
                        objectToSave['/officePatientsToVerify/' + officeIds[i] + '/' + uid] = userInfo;
                    } else if (status === 'accessed') {
                        objectToSave['/officePatients/' + officeIds[i] + '/' + uid] = userInfo;
                    } else if (status === 'blocked') {
                        objectToSave['/officeBlockedPatients/' + officeIds[i] + '/' + uid] = userInfo;
                    }
                }

                rootRef.update(objectToSave).then(function () {
                    this.fire("show-toast", {text: "Změny uloženy"});
                }.bind(this), function (error) {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Při ukládání dat se vyskytla chyba. Zkuste to prosím znovu.',
                            buttonText: 'Zavřít'
                        }
                    });
                }.bind(this));
            }
        });
    </script>
</dom-module>
