<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">
<link rel="import" href="/styles/button-styles.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">

<dom-module id="settings-view">
    <template>
        <style include="button-styles layout-styles input-styles">
            .subsection {
                margin-top: 0;
            }
        </style>

        <firebase-document id="user_document" app-name="doctor-appointment-system"
                           path="/userInfo/[[user.uid]]" data="{{userInfo}}">
        </firebase-document>

        <firebase-document app-name="doctor-appointment-system"
                           path="/userContactedOffices/[[user.uid]]" data="{{userContactedOffices}}">
        </firebase-document>


        <div class="subsection grid">
            <section>
                <form id="main_form" is="iron-form">
                    <h2>Základní informace</h2>
                    <paper-input id="fninput" label="Jméno" minlength="1" maxlength="30"
                                 error-message="Nelze ponechat prázdné" required auto-validate
                                 value="[[userInfo.name.firstName]]"></paper-input>
                    <paper-input id="lninput" label="Příjmení" minlength="1" auto-validate
                                 maxlength="30" error-message="Nelze ponechat prázdné"
                                 required value="[[userInfo.name.lastName]]"></paper-input>
                    <h2>Adresa</h2>
                    <p>Adresa je povinná pouze pokud se budete chtít objednat u lékaře, který má omezenou klientelu.
                        V tomto případě lékař potřebuje zjistit, zda jste opravdu jeho pacientem.</p>
                    <paper-input id="cinput" label="Město" minlength="1" maxlength="30"
                                 value="[[userInfo.address.city]]" required auto-validate>
                    </paper-input>
                    <paper-input id="sinput" label="Ulice a číslo popisné" minlength="3" maxlength="80"
                                 value="[[userInfo.address.street]]" required auto-validate></paper-input>
                    <paper-button id="confirm_button" on-tap="confirm" raised>Uložit změny</paper-button>
                </form>
            </section>

            <section>
                <h2>Změna hesla</h2>
                <p>Pro změnu hesla Vám zašleme email. V emailové zprávě bude odkaz, na kterém bude možno heslo
                    změnit.</p>
                <paper-button on-tap="passChange" raised>Poslat email</paper-button>
            </section>
        </div>
    </template>

    <script>
        Polymer({
            is: 'settings-view',

            behaviors: [FormValidationBehavior],

            confirm: function () {
                if (this._validateForm(this.$.main_form)) {
                    this.saveChanges();
                }
            },

            passChange: function () {
                this.$.auth.auth.sendPasswordResetEmail(this.user.email).then(function () {
                    this.fire("show-toast", {text: "Email odeslán"});
                }.bind(this)).catch(function () {
                    console.log("email sending error");
                })
            },

            saveChanges: function () {
                var rootRef = this.$.user_document.ref.root, objectToSave = {}, i, status,
                    uid = this.user.uid, officeIds = Object.keys(this.userContactedOffices),
                    userInfo = {
                        'name': {
                            'firstName': this.$.fninput.value,
                            'lastName': this.$.lninput.value
                        },
                        'address': {
                            'city': this.$.cinput.value,
                            'street': this.$.sinput.value
                        }
                    };

                objectToSave['/userInfo/' + uid] = userInfo;

                for (i = 0; i < officeIds.length; i++) {
                    status = this.userContactedOffices[officeIds[i]].status;
                    if (status === 'awaitsVerification') {
                        objectToSave['/officePatientsToVerify/' + officeIds[i] + '/' + uid] = userInfo;
                    } else if (status === 'visited') {
                        objectToSave['/officePatients/' + officeIds[i] + '/' + uid] = userInfo;
                    } else if (status === 'blocked') {
                        objectToSave['/officeBlockedPatients/' + officeIds[i] + '/' + uid] = userInfo;
                    }
                }

                rootRef.update(objectToSave).then(function () {
                    this.fire("show-toast", {text: "Změny uloženy"});
                }.bind(this), function (error) {
//                    TODO: generic error dialog
                    console.log("Error occured in user settings view")
                });
            }
        });
    </script>
</dom-module>
