<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">


<link rel="import" href="/styles/tab-styles.html">

<dom-module id="interface-settings-view">
    <template>
        <style include="tab-styles"></style>

        <paper-material elevation="1">
            <paper-tabs focused selected="{{selected}}" attr-for-selected="name">
                <paper-tab name="general">Obecné</paper-tab>
                <paper-tab name="times">Ordinační hodiny</paper-tab>
            </paper-tabs>


            <iron-pages selected="[[selected]]" attr-for-selected="name">
                <interface-settings-general-view name="general" office-id="[[officeId]]"></interface-settings-general-view>
                <interface-settings-times-view name="times" office-id="[[officeId]]"></interface-settings-times-view>
            </iron-pages>
        </paper-material>
    </template>

    <script>
        Polymer({
            is: 'interface-settings-view',

            properties: {
                selected: {
                    type: String,
                    value: "general", // First selected view
                    observer: "loadView"
                }
            },

            loadView: function (viewName) {
                this.importHref("/views/office_views/interface_views/interface_settings_views/interface-settings-" + viewName + "-view.html", null, false);
            }
        });
    </script>
</dom-module>
