<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/moment-element/moment-import.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/custom_components/moment-wrapper-cs.html">


<dom-module id="interface-calendar-view">
    <template>
        <style>
            .main-content {
                background-color: white; /* TODO: move to parent */
            }


        </style>

        <firebase-document id="generator_document" app-name="doctor-appointment-system"
                           path="/generatorInfo/[[officeId]]" data="{{generatorInfo}}">
        </firebase-document>

        <paper-material class="main-content" elevation="1">
            <paper-icon-button icon="chevron-left" on-tap="previousMonth"></paper-icon-button>
            <paper-icon-button icon="chevron-right" on-tap="nextMonth"></paper-icon-button>
        </paper-material>

    </template>

    <script>
        Polymer({
            is: 'interface-calendar-view',


            properties: {

                selectedMonth: {
                    type: Number,
                    value: function () {
                        return new Date().getMonth();
                    }
                },

                selectedYear: {
                    type: Number,
                    value: function () {
                        return new Date().getFullYear();
                    }
                },

                monthDateRange: {
                    type: Object,
                    computed: "computeMonthDateRange(selectedYear, selectedMonth)",
                    observer: "fetchData"
                },

                weeks: {
                    type: Object
                }
            },

            computeMonthDateRange: function (year, month) {

                var startDate = moment([year, month]);

                // Clone the value before .endOf()
                var endDate = moment(startDate).endOf('month');

                return {start: startDate, end: endDate};
            },

            nextMonth: function () {
                var nextMonth = this.selectedMonth + 1;

                // Check if month index is out of range (last valid index is 11)
                if (nextMonth === 12) {
                    this.selectedYear = this.selectedYear + 1;
                    this.selectedMonth = 0;
                } else {
                    this.selectedMonth = nextMonth;
                }

            },

            previousMonth: function () {
                var previousMonth = this.selectedMonth - 1;

                // Check if month index is out of range (smallest valid index is 0)
                if (previousMonth === -1) {
                    this.selectedYear = this.selectedYear - 1;
                    this.selectedMonth = 11;
                } else {
                    this.selectedMonth = previousMonth;
                }
            },

            fetchData: function (monthDateRange) {
                var db = this.$.generator_document.app.database(),
                    startOfRange = this.getDateTimeId(monthDateRange.start),
                    endOfRange = this.getDateTimeId(monthDateRange.end),
                    bookingTimes;

                db.ref("/appointmentsPublic/" + this.officeId).orderByKey().startAt(startOfRange).endAt(endOfRange).on('value', function (snapshot) {
                    bookingTimes = this.computeBookingTimesOfDates(snapshot.val());
                    this.week = this.computeWeeks(bookingTimes, monthDateRange);
                }.bind(this));
            },

            computeBookingTimesOfDates: function (data) {
                var bookingTimesOfDates = {},
                    dateId = null,
                    key, value, newDateId;

                for (key in data) {
                    value = data[key];
                    if (data.hasOwnProperty(key) && value === true) { // TODO: find a way to query only true values
                        newDateId = key.substr(0, 8);
                        if (newDateId !== dateId) {
                            dateId = newDateId;
                            bookingTimesOfDates[dateId] = [];
                        }

                        bookingTimesOfDates[newDateId].push({
                            id: key
                        });
                    }
                }

                return bookingTimesOfDates;
            },

            computeWeeks: function (bookingTimes, monthDateRange) {
                var weeks = [],
                    startOfFirstWeek = monthDateRange.start.startOf('week'),
                    endOfLastWeek = monthDateRange.end.endOf('week');

                return weeks;
            },

            getDateTimeId: function (moment) {
                var month = moment.month() + 1,
                    dayDate = moment.date(),
                    hours = moment.hour(),
                    minutes = moment.minute();

                if (month < 10) month = "0" + month;
                if (dayDate < 10) dayDate = "0" + dayDate;
                if (hours < 10) hours = "0" + hours;
                if (minutes < 10) minutes = "0" + minutes;

                return "" + moment.year() + month + dayDate + hours + minutes;
            }


        });
    </script>
</dom-module>
