<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/button-styles.html">


<dom-module id="interface-help-view">
    <template>
        <style include="input-styles button-styles">

            h1 {
                font-size: 1em;
            }

            #content {
                background-color: #fff;
                border: 1px solid #d5d9da;
                padding: 2em;
            }

        </style>

        <div id="content">
            <h1>Napište nám, s čím máte problém nebo s co je třeba zlepšit.</h1>
            <paper-textarea label="Vaše zpráva" char-counter maxlength="2000"></paper-textarea>
            <paper-button raised>Odeslat</paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'interface-help-view'
        });
    </script>
</dom-module>
