<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-date-picker-item/paper-datetime-picker-item.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/moment-element/moment-import.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">

<link rel="import" href="/custom_components/moment-wrapper-cs.html">
<link rel="import" href="/styles/button-styles.html">
<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">

<dom-module id="interface-holidays-view">
    <template>
        <style include="button-styles input-styles layout-styles">

            .main-content {
                background-color: white; /* TODO: move to parent */
            }

            .error {
                color: var(--app-red-color);
            }

            .main-container {
                padding: 1.5em;
            }

            paper-datetime-picker-item {
                margin: 0 2%;
            }

            #holiday {
                border-top: 1px solid #dadbdd;
            }

            .dismiss-button {
                margin: auto 0 0 auto;
                background-color: #fff;
                color: #455A64;
                border: 1px solid #dadbdd;
                font-size: 0.8em;
                padding: 0.6em 1em;
                box-shadow: none;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            }

            .dismiss-button iron-icon {
                height: 20px;
                width: 20px;
                margin-right: 0.3em;
            }

            #holiday:hover .dismiss-button {
                background-color: var(--app-red-color);
                color: #fff;
                border: none;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }

            .flex-horizontal {
                @apply(--layout-horizontal);
            }

            .flexchild {
                @apply(--layout-flex);
            }

            @media only screen and (max-width: 1250px) {

                .flex-horizontal {
                    @apply(--layout-vertical);
                }

                paper-input {
                    margin-bottom: 1em;
                }
            }

            .header {
                border-top: 1px solid #d5d5d6;
                padding: 1em 1.5em;
            }

            h1 {
                font-size: 1.3em;
                color: var(--app-green-color);
            }

        </style>

        <firebase-document id="holidays_document" app-name="doctor-appointment-system"
                           path="/officeHolidays/[[officeId]]"
                           data="{{officeHolidays}}">
        </firebase-document>

        <paper-material class="main-content" elevation="1">
            <div class="subsection grid main-container">
                <section>
                    <h1>Formulář nové dovolené</h1>
                    <p>Tato informace je soukromá.</p>
                    <paper-input id="name_input" class="flexchild" label="Název dovolené" value="{{holidayName}}" auto-focus
                                 required auto-validate></paper-input>
                    <h2>Zastupující doktor</h2>
                    <p>Dobrovolná informace, která se v případě vyplnění zobrazí pacientům na Vašem veřejném profilu.</p>
                    <paper-input id="doctor_input" class="flexchild" label="Jméno" value="{{substituteDoctorName}}">
                    </paper-input>
                </section>
                <section>
                    <h2>Datum dovolené</h2>
                    <p class="error" hidden="[[hideErrorMessage]]">Začátek dovolené je před koncem.</p>
                    <paper-datetime-picker-item required icon="icons:today"
                                                placeholder="Zadat začátek dovolené"
                                                default-time="00:00"
                                                locale="cs" date="{{fromDateTime}}"></paper-datetime-picker-item>
                    <paper-datetime-picker-item icon="icons:today" placeholder="Zadat konec dovolené"
                                                default-time="23:59"
                                                locale="cs" date="{{toDateTime}}"></paper-datetime-picker-item>

                    <paper-button raised on-tap="addHolidays"
                                  disabled="[[computeDisabled(fromDateTime, toDateTime, holidayName)]]">Přidat dovolenou
                    </paper-button>
                </section>
            </div>

            <div class="header">
                <h1>Seznam dovolených</h1>
            </div>
            <template is="dom-repeat" items="[[holidaysArray]]" as="holiday">
                <div id="holiday" class="main-container flex-horizontal">
                    <div>
                        <div><b>Název dovolené:</b> [[holiday.name]]</div>
                        <div><b>Začátek:</b> [[holiday.startAt]]</div>
                        <div><b>Konec:</b> [[holiday.endAt]]</div>
                        <div hidden="[[!holiday.substituteDoctorName]]"><b>Zastupující lékař:</b> [[holiday.substituteDoctorName]]</div>
                    </div>
                    <paper-button class="dismiss-button" raised on-tap="deleteHolidays">
                        <iron-icon icon="close"></iron-icon>
                        Odstranit
                    </paper-button>
                </div>
            </template>
        </paper-material>

    </template>

    <script>
        Polymer({
            is: 'interface-holidays-view',

            properties: {
                hideErrorMessage: {
                    type: Boolean,
                    value: true
                },

                holidaysArray: {
                    type: Array,
                    computed: 'computeHolidaysArray(officeHolidays)'
                }
            },

            computeHolidaysArray: function (officeHolidays) {
                var getFormattedDateTime = function (timestamp) {
                    return moment(timestamp).format('LLLL');
                };

                return Object.keys(officeHolidays).map(function (key) {
                    return {
                        'name': officeHolidays[key]['name'],
                        'startAt': getFormattedDateTime(Number(key)),
                        'endAt': getFormattedDateTime(officeHolidays[key]['endAt']),
                        'substituteDoctorName': officeHolidays[key]['substituteDoctorName'],
                        'hId': key
                    }
                });
            },

            computeDisabled: function (fromDateTime, toDateTime, holidayName) {
                if (fromDateTime === null || toDateTime === null) {
                    this.hideErrorMessage = true;
                    return true;
                } else if (fromDateTime > toDateTime) {
                    this.hideErrorMessage = false;
                    return true
                } else if (!this.$.name_input.validate()) {
                    this.hideErrorMessage = true;
                    return true;
                }

                this.hideErrorMessage = true;

                return false;
            },

            addHolidays: function () {
                var postData = {
                    startAt: this.fromDateTime.valueOf(),
                    endAt: this.toDateTime.valueOf(),
                    name: this.holidayName,
                    officeId: this.officeId,
                    substituteDoctorName: this.substituteDoctorName
                };

                this.getTokenAndSendRequest(postData, false);
            },

            deleteHolidays: function (event) {
                var postData = {
                    officeId: this.officeId,
                    holidayId: event.model.holiday.hId
                };

                this.getTokenAndSendRequest(postData, true);
            },

            getTokenAndSendRequest: function (postData, deletion) {
                this.$.holidays_document.app.auth().currentUser.getToken(true).then(function (idToken) {
                    postData["idToken"] = idToken;
                    if (deletion) {
                        this.sendDeletionRequest(postData);
                    } else {
                        this.sendAdditionRequest(postData);
                    }
                }.bind(this)).catch(function () {
                    this.showErrorDialog('Nepodařilo se získat autorizační token. Zkuste se odhlásit a přihlásit.');
                }.bind(this));
            },

            sendAdditionRequest: function (postData) {
                var request = new XMLHttpRequest(),
                    jsonResponse;

                request.onerror = function () {
                    this.showErrorDialog('Při ukládání dovolené se vyskytla chyba. Pravděpodobně se vyskytl problém s internetovým připojením.' +
                        'Zkuste to prosím znovu.');
                }.bind(this);

                request.onreadystatechange = function () {
                    if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                        jsonResponse = JSON.parse(request.responseText);
                        if (jsonResponse["success"]) {
                            this.fire("show-toast", {text: "Požadavek se zpracovává"});
                        } else {
                            this.showErrorDialog('Při ukládání dovolené se vyskytla chyba. Zkuste to prosím znovu.');
                        }
                    }
                }.bind(this);

                // TODO: enable pre-flight request redirection when CORS standard catches up
                request.open("POST", "https://doctor-appointment-system.appspot-preview.com/holiday/add", true);

                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                request.send(JSON.stringify(postData));
            },

            sendDeletionRequest: function (postData) {
                var request = new XMLHttpRequest(),
                    jsonResponse;

                request.onerror = function () {
                    this.showErrorDialog('Při odstraňování dovolené se vyskytla chyba. Pravděpodobně se vyskytl problém s internetovým připojením.' +
                        'Zkuste to prosím znovu.');
                }.bind(this);

                request.onreadystatechange = function () {
                    if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                        jsonResponse = JSON.parse(request.responseText);
                        if (jsonResponse["success"]) {
                            this.fire("show-toast", {text: "Požadavek se zpracovává"});
                        } else {
                            this.showErrorDialog('Při odstraňování dovolené se vyskytla chyba. Zkuste to prosím znovu.');
                        }
                    }
                }.bind(this);

                // TODO: enable pre-flight request redirection when CORS standard catches up
                request.open("POST", "https://doctor-appointment-system.appspot-preview.com/holiday/delete", true);

                request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

                request.send(JSON.stringify(postData));
            },

            showErrorDialog: function (message) {
                this.fire("show-dialog", {
                    path: "", viewName: "genericdialog", open: true,
                    data: {
                        text: message,
                        buttonText: 'Zavřít'
                    }
                });
            }
        });
    </script>
</dom-module>
