<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-icons/communication-icons.html">

<link rel="import" href="/styles/button-styles.html">
<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/interface-styles.html">


<dom-module id="interface-patients-view">
    <template>
        <style include="interface-styles button-styles input-styles">

            .my-list-item {
                border: 1px solid var(--border-color);
                margin-top: 0.5em;
                position: relative;
            }

            #send-message {
                color: #757576;
                margin-left: 1em;
            }

            .collapse-content {
                position: relative;
                background-color: #fff;
                padding: 2em;
                border-left: 1px solid var(--border-color);
                border-right: 1px solid var(--border-color);
                border-bottom: 1px solid var(--border-color);
            }

            /* SEARCH */

            #search-button {
                width: 12em;
            }

            #search-bar {
                margin-bottom: 2em;
            }

            #search-bar input {
                box-sizing: border-box;
                height: 1.6em;
                border: 1px solid #dcdce5;
                padding: 1.3em 0.7em;
                font-size: 1.1em;
                width: 100%;
            }

            #search-bar input::-webkit-input-placeholder {
                color: #aaa;
                font-weight: lighter;
                letter-spacing: 0.02em;
            }

            #search-bar paper-button {
                background-color: var(--app-green-color);
                color: #fff;
                border: none;
            }

            /* MESSAGE CONTAINER */

            .message-container {
                position: relative;
                background-color: #fbfbfc;
            }

            .subject {
                max-width: 20em;
                margin-bottom: 2em;
            }

            #close-message {
                position: absolute;
                padding: 0.8em 1em 0.8em 1.2em;
                font-size: 0.8em;
                top: 0.5em;
                right: 2em;
            }

            #close-message iron-icon{
                height: 20px;
                width: 20px;
            }

            /* INFO */
            #delete-patient {
                display: block;
                width: 16em;
                font-size: 0.7em;
            }

            /* FLEX LAYOUT */
            .flex-horizontal-with-ratios {
                @apply(--layout-horizontal);
            }

            .flexchild {
                @apply(--layout-flex);
                margin-right: 0.7em;
            }

            .flex2child {
                @apply(--layout-flex-2);
                margin-right: 0.7em;
            }

            .flex3child {
                @apply(--layout-flex-2);
                text-align: right;
            }

            /* search-bar */
            .flexchild-search {
                @apply(--layout-flex);
                margin-right: 0.7em;
            }

            .flex2child-search {
                @apply(--layout-flex-2);
                margin-right: 0.7em;
            }

            .flex3child-search {
                @apply(--layout-flex-2);
                text-align: right;
            }

            /*RESPONSIVE ADDITIONS*/
            @media only screen and (max-width: 1180px) {

                .flex-horizontal-with-ratios {
                    @apply(--layout-vertical);
                }

                .flex-horizontal-with-ratios > div {
                    margin: 0.3em 0;
                }

                .flex3child {
                    padding-top: 0.6em;
                    text-align: left;
                }

                .my-list-item {
                    padding-bottom: 0.5em;
                }

                #send-message {
                    position: absolute;
                    top: 1em;
                    right: 1em;
                }
            }

            @media only screen and (max-width: 366px) {

                .buttons > paper-button {
                    display: block;
                    margin: 0.9em 0;
                    text-align: center;
                    padding: 1.2em;
                }

                #search-button {
                    width: 100%;
                }
            }

        </style>

        <paper-material id="search-bar" class="flex-horizontal-with-ratios my-list-item">
            <!--rodne cislo asi az pozdeji, jen na ukazku-->
            <div class="flexchild-search "><input placeholder="Rodné číslo"></div>
            <div class="flex2child-search "><input placeholder="Jméno"></div>
            <div class="flex2child-search "><input placeholder="Adresa"></div>
            <div class="flex3child-search buttons">
                <paper-button id="search-button" raised>
                    <iron-icon icon="icons:search"></iron-icon>
                    Hledat
                </paper-button>
            </div>
        </paper-material>

        <template is="dom-repeat" items="[[patients]]" as="patient">

            <div class="container flex-horizontal-with-ratios my-list-item">
                <div class="flexchild">[[patient.identification_number]]</div>
                <div class="flex2child">[[patient.firstName]] [[patient.lastName]]</div>
                <div class="flex2child">[[patient.address]]</div>
                <div class="flex3child buttons">

                    <paper-button on-tap="handleDetail" class="details-button">
                        [[computeText(patient.infoOpened)]] detail
                    </paper-button>
                    <a title="poslat zprávu pacientovi" on-tap="handleMessage">
                        <paper-icon-button id="send-message" icon="communication:message"></paper-icon-button>
                    </a>
                </div>
            </div>

            <iron-collapse opened="[[patient.infoOpened]]">
                <div class="collapse-content">
                    TODO Patient info
                    <paper-button id="delete-patient" class="red" raised>Odstranit pacienta</paper-button>
                </div>
            </iron-collapse>

            <iron-collapse opened="[[patient.messageOpened]]">
                <div class="collapse-content message-container">
                    <paper-button id="close-message" class="red" on-tap="handleMessage" raised>Zrušit<iron-icon icon="icons:close"></iron-icon></paper-button>
                    <h3>Zpráva pacientovi</h3>
                    <paper-input class="subject" label="Předmět zprávy" maxlength="50"></paper-input>
                    <paper-textarea label="Vaše zpráva" char-counter maxlength="2000"></paper-textarea>
                    <paper-button raised>Odeslat</paper-button>
                </div>
            </iron-collapse>
        </template>

    </template>

    <script>
        Polymer({
            is: 'interface-patients-view',

            properties: {
                patients: {
                    type: Array,
                    value: [
                        {
                            identification_number: 8565123545,
                            firstName: "Robert",
                            lastName: "Brada",
                            address: "Kardinála Berana 13, Plzeň",
                            infoOpened: false,
                            messageOpened: false
                        },
                        {
                            identification_number: 8565123545,
                            firstName: "Michaelinsaknfdadc",
                            lastName: "Aubreyisbaddmafdrf",
                            address: "St. Church 123, London",
                            infoOpened: false,
                            messageOpened: false
                        },
                        {
                            identification_number: 8565123545,
                            firstName: null,
                            lastName: "Elliot",
                            address: null,
                            infoOpened: false,
                            messageOpened: false
                        },
                        {
                            identification_number: 8565123545,
                            firstName: "Stephen",
                            lastName: "Maturin",
                            address: "Dvůr Králové nad Labem, Sady pětatřicátníků 28",
                            infoOpened: false,
                            messageOpened: false
                        },
                        {
                            identification_number: 8565123545,
                            firstName: "Stephen",
                            lastName: "Maturin",
                            address: "Franz Joseph Sp. Strase 15, Wangen",
                            infoOpened: false,
                            messageOpened: false
                        }
                    ]
                }
            },

            computeText: function (infoOpened) {
                return (infoOpened) ? "Skrýt" : "Zobrazit";
            },

            handleDetail: function (event) {
                var infoOpened = event.model.patient.infoOpened;
                event.model.set('patient.infoOpened', !infoOpened);
            },

            handleMessage: function (event) {
                var messageOpened = event.model.patient.messageOpened;
                event.model.set('patient.messageOpened', !messageOpened);
            }

        });
    </script>
</dom-module>
