<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">

<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/social-icons.html">

<link rel="import" href="/bower_components/polymerfire/firebase-document.html">

<link rel="import" href="/styles/tab-styles.html">


<dom-module id="interface-patients-view">
    <template>
        <style include="tab-styles">

            paper-tab span {
                margin-left: 0.6em;
            }

            paper-tab iron-icon {
                height: 20px;
                width: 20px;
            }


        </style>

        <firebase-document id="patients_document" app-name="docta"
                           path="/officePatients/[[officeId]]"
                           data="{{officePatients}}">
        </firebase-document>

        <iron-media-query query="max-width: 1200px" query-matches="{{smallScreen}}"></iron-media-query>
        <iron-media-query query="max-width: 480px" query-matches="{{mobileScreen}}"></iron-media-query>

        <paper-material elevation="1">
            <paper-tabs focused selected="{{selected}}" attr-for-selected="name">
                <paper-tab name="confirm-patients">
                    <iron-icon icon="social:person-add"></iron-icon>
                    <span hidden="[[mobileScreen]]">Pacienti k potvrzení</span></paper-tab>
                <paper-tab name="accessed-patients">
                    <iron-icon icon="done"></iron-icon>
                    <span hidden="[[mobileScreen]]">Potvrzení pacienti</span></paper-tab>
                <paper-tab name="blocked-patients">
                    <iron-icon icon="block"></iron-icon>
                    <span hidden="[[mobileScreen]]">Zamítnutí pacienti</span></paper-tab>
            </paper-tabs>

            <iron-pages selected="[[selected]]" attr-for-selected="name">
                <confirm-patients-view name="confirm-patients" office-id="[[officeId]]"></confirm-patients-view>
                <accessed-patients-view name="accessed-patients" office-id="[[officeId]]"></accessed-patients-view>
                <blocked-patients-view name="blocked-patients" office-id="[[officeId]]"></blocked-patients-view>
            </iron-pages>
        </paper-material>
    </template>

    <script>
        Polymer({
            is: 'interface-patients-view',

            properties: {
                selected: {
                    type: String,
                    value: "confirm-patients", // First selected view
                    observer: "loadView"
                }
            },

            loadView: function (viewName) {
                this.importHref("/views/office_views/interface_views/interface_patients_views/" + viewName + "-view.html", null, false);
            }

        });
    </script>
</dom-module>
