<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-toast/paper-toast.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="/bower_components/polymerfire/firebase-app-script.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/styles/button-styles.html">
<link rel="import" href="/styles/interface-styles.html">

<dom-module id="interface-waiting-list-view">
    <template>
        <style include="interface-styles button-styles">

            .my-list-item {
                margin: 1.2em 0 0 0;
                border: none !important;
            }

            .collapse-content {
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                background-color: #fafafb;
                border-top: 1px solid var(--border-color);
            }

            #current_patient {
                background-color: var(--app-green-color);
                color: #fff;
                padding: 0.8em 1.5em;
                display: inline-block;
                margin-bottom: -1px;
            }

            #toastButton {
                font-weight: bolder;
                padding: 0.5em 0.8em;
                margin: 0 0 0 2em;
            }

            .time {
                margin-right: 2em;
                font-size: 1.1em;
                font-weight: bold;
                color: var(--app-green-color);

            }

            .in-waiting-room {
                padding: 0.6em;
                color: #828292;
                background-color: #eeeff2;
                text-align: center;
                border: 1px solid var(--border-color);
            }

            /* FIRST PATIENT CSS DIFFERENCES */

            .my-list-item:nth-child(3) {
                margin-top: 0;
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
            }

            .my-list-item:nth-child(3) paper-button {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }

            .my-list-item:nth-child(3) .confirm-button {
                background-color: var(--app-green-color);
                border-color: var(--app-green-color);
                color: #fff;
            }

            .my-list-item:nth-child(3) .dismiss-button {
                background-color: var(--app-red-color);
                border-color: var(--app-red-color);
                color: #fff;
            }

            .my-list-item:nth-child(3) .details-button {
                background-color: var(--app-accent-color);
                border-color: var(--app-accent-color);
                color: #fff;
            }

            /* FLEX LAYOUT */
            .name, .address {
                max-width: 15%;
            }

            .no-appointments {
                height: 10em;
                font-size: 1.2em;
                @apply(--layout);
                @apply(--layout-center-center);
            }

            /*RESPONSIVE ADDITIONS*/
            @media only screen and (max-width: 1410px) {

                .flex-horizontal-with-ratios {
                    @apply(--layout-vertical);
                }

                .buttons {
                    @apply(--buttons-medium-screen-layout);
                }

                .my-list-item {
                    @apply(--list-medium-screen-layout);
                    margin-top: 1.2em;
                }

                .label {
                    @apply(--label-medium-screen-layout);
                }

                .address-city {
                    @apply(--city-medium-screen-layout);
                }

                /*************************/
                .name, .address {
                    max-width: 50%;
                }

                .in-waiting-room {
                    margin-bottom: 3.8em;
                }
            }

            @media only screen and (max-width: 1030px) {

                .buttons {
                    @apply(--buttons-small-screen-layout);
                }

                .name, .address {
                    max-width: 100%;
                    margin-right: 0;
                }

                .in-waiting-room {
                    margin-bottom: 0;
                }
            }

            @media only screen and (max-width: 435px) {

                .buttons > paper-button {
                    margin: 0 0.9%;
                    width: 30.8%;
                }

                .my-list-item {
                    margin-top: 2em;
                }
            }


        </style>

        <iron-media-query query="max-width: 435px" query-matches="{{mobileScreen}}"></iron-media-query>

        <div id="current_patient" hidden="[[!appointmentsAvailable]]">Pacient na řadě</div>

        <template is="dom-repeat" hidden="[[!appointmentsAvailable]]" items="[[appointmentsArray]]" as="appointment">

            <div class="container flex-horizontal-with-ratios my-list-item">
                <div class="time">[[appointment.time]]</div>

                <div class="flexchild name"><span class="label">Jméno:</span>[[appointment.name]]
                </div>

                <div class="flex3child in-waiting-room" hidden="[[appointment.online]]">
                    [[computeInfoMessage(appointment.source)]]
                </div>

                <div class="flexchild date-of-birth" hidden="[[!appointment.online]]"><span class="label">Datum narození:</span>
                    [[appointment.dateOfBirth.date]]. [[appointment.dateOfBirth.month]].
                    [[appointment.dateOfBirth.year]]
                </div>

                <div class="flex2child address" hidden="[[!appointment.online]]"><span class="label">Adresa:</span>[[appointment.address.street]]
                    <br>
                    <div class="address-city">[[appointment.address.city]]</div>
                </div>

                <div class="flex3child buttons">

                    <paper-button hidden="[[!appointment.showMessage]]" on-tap="handleDetail" class="details-button">
                        <iron-icon icon="icons:info-outline"></iron-icon>
                        <span hidden="[[mobileScreen]]">[[computeText(appointment.viewMessage)]] zprávu</span>
                    </paper-button>
                    <paper-button class="confirm-button" on-tap="appointmentFinishedButtonEvent">
                        <iron-icon icon="icons:check"></iron-icon>
                        <span hidden="[[mobileScreen]]">Vyřízen</span></paper-button>
                    <paper-button class="dismiss-button" on-tap="noArrivalButtonEvent">
                        <iron-icon icon="icons:close"></iron-icon>
                        <span hidden="[[mobileScreen]]">Nedorazil</span></paper-button>
                </div>
            </div>

            <paper-toast id="toast" duration="5500" text="Pacient bude smazán" opened="{{appointment.toastOpened}}">
                <paper-button id="toastButton" on-tap="undoDelete">Vrátit zpět</paper-button>
            </paper-toast>

            <iron-collapse opened="[[appointment.viewMessage]]">
                <div class="collapse-content">
                    <div class="text">[[appointment.message]]</div>
                </div>
            </iron-collapse>
        </template>

        <div hidden="[[appointmentsAvailable]]" class="no-appointments">
            <iron-icon icon="info"></iron-icon>
            Dnes nemáte žádné objednané pacienty
        </div>

    </template>

    <script>
        Polymer({
            is: 'interface-waiting-list-view',

            properties: {
                firebaseDatabase: {
                    type: Object,
                    value: firebase.apps[0].database()
                },

                appointmentsArray: {
                    type: Array
                },

                appointmentsAvailable: {
                    type: Boolean,
                    value: false
                },

                // PROPERTIES FOR PAPER-TOAST

                objectsToSave: {   //appointments that are ready to delete
                    type: Array,
                    value: []
                },

                EventsToReset: {  //events that has to be reset when patients deleted
                    type: Array,
                    value: []
                },

                //has to be set after objectsToSave property!
                numWaitingToDelete: {  //num of appointments, that are waiting to be deleted - toast button visible and "undo" available
                    type: Number,
                    value: 0,
                    observer: "updateDatabase"
                },

                /**
                 * Example: {startAt: "201702040000", endAt: "201702110000"}
                 */
                dateInterval: {
                    type: Object,
                    value: function () {
                        var today = new Date(),
                            tomorrow = new Date();

                        tomorrow.setDate(today.getDate() + 1);

                        return {
                            startAt: this.getDateTimeIdAtNoon(today),
                            endAt: this.getDateTimeIdAtNoon(tomorrow)
                        }
                    }
                }
            },

            observers: [
                'fetchData(dateInterval, officeId)'
            ],

            listeners: {
                'iron-overlay-closed': 'ironOverlayClosedHandler'
            },

            undoDelete: function (event) {
                event.srcElement.parentElement.cancel();
            },

            noArrivalButtonEvent: function (event) {
                this.buttonEventHandler(event, true)
            },

            appointmentFinishedButtonEvent: function (event) {
                this.buttonEventHandler(event, false)
            },

            buttonEventHandler: function (event, noArrival) {
                event.model.set('appointment.toastOpened', true); //opens toast

                // Finds and hide clicked patient
                // Don't know if user click on <span> or <iron-icon> or <paper-button>. So it "goes up the DOM tree"
                // until it finds element with "my-list-item" class
                var i = 0;
                while (!event.path[i].classList.contains('my-list-item')) {
                    i++
                }

                event.path[i].style.opacity = "0.35"; // ( = patientContainer) much faster reaction than waiting for OverlayOpened Event
                this.numWaitingToDelete++;
            },

            ironOverlayClosedHandler: function (event) {

                var patientContainer = event.srcElement.previousElementSibling,
                    toast = event.srcElement;

                if (toast.canceled) { //was closed using toast-button
                    patientContainer.style.opacity = "1"
                } else {
                    this.appointmentFinished(event); //adds appointment to objectsToSave array, where are patients ready to delete
                    this.EventsToReset.push(event);
                    patientContainer.style.opacity = "0"; //appointment that will be deleted

                    var i = 0, numOfButtons = 3; //buttons in ".buttons" container

                    //disables buttons when opacity is 0 and patients is ready to delete. "display:none" and "visibility:hidden" does't work good
                    for (i = 0; i < numOfButtons; i++) {
                        event.srcElement.previousElementSibling.children[5].children[i].disabled = true;
                    }
                }
                this.numWaitingToDelete--;
            },


            appointmentFinished: function (event) { //creates appointment object, that will be deleted
                var appointment = event.srcElement._templateInstance.__data__.appointment, //not sure if the best solution
                    officeId = this.officeId,
                    objectToSave = {};

                objectToSave['/appointmentsPrivate/' + officeId + '/' + appointment.id] = null;
                objectToSave['/appointmentsPublic/' + officeId + '/' + appointment.id] = null;

                if (appointment.online) {
                    objectToSave['/userAppointments/' + appointment.patientId + '/' + appointment.id] = null;
                    objectToSave['/userContactedOffices/' + appointment.patientId + '/' + officeId + '/booked'] = false;
                }

                this.objectsToSave.push(objectToSave);
            },

            updateDatabase: function () { //deletes "ready to delete" appointments from database

                var lenOfObjectArray = this.objectsToSave.length;

                if (this.numWaitingToDelete === 0 && lenOfObjectArray !== 0) { //lenOfObjectArray != 0 means not to check when page loaded
                    var db = this.firebaseDatabase,
                        i = 0;

                    for (i; i < lenOfObjectArray; i++) {
                        db.ref("/").update(this.objectsToSave[i]).then(function () {
                            this.fire("show-toast", {text: "Změny provedeny"});
                        }.bind(this), function (error) {
                            this.fire("show-dialog", {
                                path: "", viewName: "genericdialog", open: true,
                                data: {
                                    text: 'Při ukládání změn se vyskytla chyba. Zkuste to prosím znovu.',
                                    buttonText: 'Zavřít'
                                }
                            });
                        }.bind(this));
                    }

                    this.objectsToSave = []; //clear appointments to be deleted;
                    this.resetStyles(); //reset styles on events, where patients where deleted
                }
            },

            resetStyles: function () { //reset styles on events, that were affected by patient deleting

                var i = 0,
                    eventsArrayLength = this.EventsToReset.length,
                    numOfButtons = 3; //buttons in ".buttons" container

                for (i; i < eventsArrayLength; i++) {
                    this.EventsToReset[i].srcElement.previousElementSibling.style.opacity = "1";
                    for (var j = 0; j < numOfButtons; j++) { //makes buttons "not disabled"
                        this.EventsToReset[i].srcElement.previousElementSibling.children[5].children[j].disabled = false;
                    }
                }
                this.EventsToReset = []; //clear events
            },

            fetchData: function (dateInterval, officeId) {
                this.firebaseDatabase.ref("/appointmentsPrivate/" + officeId).orderByKey().startAt(dateInterval.startAt).endAt(dateInterval.endAt).on('value', function (snapshot) {
                    if (snapshot.exists()) {
                        this.setAppointments(snapshot.val());
                        this.appointmentsAvailable = true;
                    } else {
                        this.appointmentsArray = [];
                        this.appointmentsAvailable = false;
                    }
                }.bind(this));
            },

            setAppointments: function (data) {
                var appointmentData, userInfo, convertedAppointment;

                this.appointmentsArray = Object.keys(data).map(function (key) {
                    appointmentData = data[key];

                    if (appointmentData.source === 'online') { //booked online
                        convertedAppointment = {
                            online: true,
                            source: appointmentData.source,
                            patientId: appointmentData.patient,
                            name: appointmentData.fullName,
                            dateOfBirth: appointmentData.dateOfBirth, //why dateOfBirth.date + ... does not work?
                            address: appointmentData.address,
                            message: appointmentData.message,
                            showMessage: !!appointmentData.message,
                            viewMessage: false
                        };
                    } else if (appointmentData.source === 'calendar') { //booked in interface calendar
                        convertedAppointment = {
                            online: false,
                            source: appointmentData.source,
                            name: appointmentData.fullName,
                            message: appointmentData.message,
                            showMessage: !!appointmentData.message,
                            viewMessage: false
                        };
                    } else if (appointmentData.source === 'waitroom') { //in waitroom
                        convertedAppointment = {
                            online: false,
                            source: appointmentData.source,
                            name: appointmentData.fullName,
                            showMessage: false
                        }
                    }

                    convertedAppointment["id"] = key;
                    convertedAppointment["time"] = "" + Number(key.substring(8, 10)) + ":" + key.substring(10, 12);

                    return convertedAppointment;
                });
            },

            getDateTimeIdAtNoon: function (date) {
                var month = date.getMonth() + 1,
                    dayDate = date.getDate();

                if (month < 10) month = "0" + month;
                if (dayDate < 10) dayDate = "0" + dayDate;

                return "" + date.getFullYear() + month + dayDate + "0000";
            },

            computeText: function (viewMessage) {
                return (viewMessage) ? "Skrýt" : "Zobrazit";
            },

            computeInfoMessage: function (appointmentSource) {
                if (appointmentSource === 'calendar') {
                    return 'Pacient objednaný v kalendáři.';
                } else if (appointmentSource === 'waitroom') {
                    return 'Pacient v čekárně.';
                }
            },

            handleDetail: function (event) {
                var viewMessage = event.model.appointment.viewMessage;
                event.model.set('appointment.viewMessage', !viewMessage);
            }

        });
    </script>
</dom-module>
