<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/iron-media-query/iron-media-query.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">

<link rel="import" href="/styles/button-styles.html">
<link rel="import" href="/styles/interface-styles.html">

<dom-module id="interface-waiting-list-view">
    <template>
        <style include="interface-styles button-styles">

            .my-list-item {
                border: 1px solid var(--border-color);
                margin: 1.2em 0 0 0;
            }

            #current_patient {
                background-color: var(--app-green-color);
                color: #fff;
                padding: 0.8em 1.5em;
                display: inline-block;
                margin-bottom: -1px;
            }

            .time {
                margin-right: 2em;
                font-size: 1.1em;
                font-weight: bold;
                color: var(--app-green-color);

            }

            .in-waiting-room {
                padding: 0.6em;
                color: #828292;
                background-color: #eeeff2;
                text-align: center;
                border: 1px solid var(--border-color);
            }

            /* FIRST PATIENT CSS DIFFERENCES */

            .my-list-item:nth-child(4) {
                margin-top: 0;
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
            }

            .my-list-item:nth-child(4) paper-button {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }

            .my-list-item:nth-child(4) .confirm-button {
                background-color: var(--app-green-color);
                border-color: var(--app-green-color);
                color: #fff;
            }

            .my-list-item:nth-child(4) .dismiss-button {
                background-color: var(--app-red-color);
                border-color: var(--app-red-color);
                color: #fff;
            }

            .my-list-item:nth-child(4) .details-button {
                background-color: var(--app-accent-color);
                border-color: var(--app-accent-color);
                color: #fff;
            }

            /* FLEX LAYOUT */
            .name, .address {
                max-width: 15%;
            }

            .no-appointments {
                height: 10em;
                font-size: 1.2em;
                @apply(--layout);
                @apply(--layout-center-center);
            }

            /*RESPONSIVE ADDITIONS*/
            @media only screen and (max-width: 1410px) {

                .flex-horizontal-with-ratios {
                    @apply(--layout-vertical);
                }

                .buttons {
                    @apply(--buttons-medium-screen-layout);
                }

                .my-list-item {
                    @apply(--list-medium-screen-layout);
                    margin-top: 1.2em;
                }

                .label {
                    @apply(--label-medium-screen-layout);
                }

                .address-city {
                    @apply(--city-medium-screen-layout);
                }

                /*************************/
                .name, .address {
                    max-width: 50%;
                }

                .in-waiting-room {
                    margin-bottom: 3.8em;
                }
            }

            @media only screen and (max-width: 1030px) {

                .buttons {
                    @apply(--buttons-small-screen-layout);
                }

                .name, .address {
                    max-width: 100%;
                    margin-right: 0;
                }

                .in-waiting-room {
                    margin-bottom: 0;
                }
            }

            @media only screen and (max-width: 435px) {

                .buttons > paper-button {
                    margin: 0 0.9%;
                    width: 30.8%;
                }

                .my-list-item {
                    margin-top: 2em;
                }
            }


        </style>

        <firebase-document id="document" app-name="doctor-appointment-system">
        </firebase-document>

        <iron-media-query query="max-width: 435px" query-matches="{{mobileScreen}}"></iron-media-query>

        <div id="current_patient" hidden="[[!appointmentsAvailable]]">Pacient na řadě</div>

        <template is="dom-repeat" hidden="[[!appointmentsAvailable]]" items="[[appointmentsArray]]" as="appointment">

            <div class="container flex-horizontal-with-ratios my-list-item">
                <div class="time">[[appointment.time]]</div>

                <div class="flexchild name"><span class="label">Jméno:</span>[[appointment.name]]
                </div>

                <div class="flex3child in-waiting-room" hidden="[[!appointment.waitRoom]]">Pacient v čekárně</div>

                <div class="flexchild date-of-birth" hidden="[[appointment.waitRoom]]"><span class="label">Datum narození:</span>[[appointment.dateOfBirth]]
                </div>

                <div class="flex2child address" hidden="[[appointment.waitRoom]]"><span class="label">Adresa:</span>[[appointment.address.street]]
                    <br>
                    <div class="address-city">[[appointment.address.city]]</div>
                </div>

                <div class="flex3child buttons">

                    <paper-button hidden="[[!appointment.showMessage]]" on-tap="handleDetail" class="details-button">
                        <iron-icon icon="icons:info-outline"></iron-icon>
                        <span hidden="[[mobileScreen]]">[[computeText(appointment.viewMessage)]] zprávu</span>
                    </paper-button>
                    <paper-button class="confirm-button" on-tap="appointmentFinishedButtonEvent">
                        <iron-icon icon="icons:check"></iron-icon>
                        <span hidden="[[mobileScreen]]">Vyřízen</span></paper-button>
                    <paper-button class="dismiss-button" on-tap="noArrivalButtonEvent">
                        <iron-icon icon="icons:close"></iron-icon>
                        <span hidden="[[mobileScreen]]">Nedorazil</span></paper-button>
                </div>
            </div>

            <iron-collapse opened="[[appointment.viewMessage]]">
                <div class="collapse-content">
                    <div class="text">[[appointment.message]]</div>
                </div>
            </iron-collapse>
        </template>

        <div hidden="[[appointmentsAvailable]]" class="no-appointments">
            <iron-icon icon="info"></iron-icon>
            Dnes nemáte žádné objednané pacienty
        </div>

    </template>

    <script>
        Polymer({
            is: 'interface-waiting-list-view',

            properties: {
                appointmentsArray: {
                    type: Array
                },

                appointmentsAvailable: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Example: {startAt: "201702040000", endAt: "201702110000"}
                 */
                dateInterval: {
                    type: Object,
                    value: function () {
                        var today = new Date(),
                            tomorrow = new Date();

                        tomorrow.setDate(today.getDate() + 1);

                        return {
                            startAt: this.getDateTimeIdAtNoon(today),
                            endAt: this.getDateTimeIdAtNoon(tomorrow)
                        }
                    }
                }
            },

            observers: [
                'fetchData(dateInterval, officeId)'
            ],

            noArrivalButtonEvent: function (event) {
                this.buttonEventHandler(event, true)
            },

            appointmentFinishedButtonEvent: function (event) {
                this.buttonEventHandler(event, false)
            },

            buttonEventHandler: function (event, noArrival) {
                var appointment = event.model.appointment,
                    db = this.$.document.app.database(),
                    officeId = this.officeId,
                    objectToSave = {};

                objectToSave['/appointmentsPrivate/' + officeId + '/' + appointment.id] = null;
                objectToSave['/appointmentsPublic/' + officeId + '/' + appointment.id] = null;

                if(!appointment.waitRoom) {
                    objectToSave['/userAppointments/' + appointment.patientId + '/' + appointment.id] = null;
                }

                console.log(objectToSave);

//                console.log(appointment);
                db.ref("/").update(objectToSave).then(function () {
                    this.fire("show-toast", {text: "Vyřízeno"});
                }.bind(this), function (error) {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Při ukládání změn se vyskytla chyba. Zkuste to prosím znovu.',
                            buttonText: 'Zavřít'
                        }
                    });
                }.bind(this));

            },

            fetchData: function (dateInterval, officeId) {
                var db = this.$.document.app.database();

                db.ref("/appointmentsPrivate/" + officeId).orderByKey().startAt(dateInterval.startAt).endAt(dateInterval.endAt).on('value', function (snapshot) {
                    if (snapshot.exists()) {
                        this.setAppointments(snapshot.val());
                        this.appointmentsAvailable = true;
                    } else {
                        this.appointmentsArray = [];
                        this.appointmentsAvailable = false;
                    }
                }.bind(this));
            },

            setAppointments: function (data) {
                var appointmentData, userInfo, convertedAppointment;

                this.appointmentsArray = Object.keys(data).map(function (key) {
                    appointmentData = data[key];

                    if (!!appointmentData.patient) {
                        // Booked online
                        userInfo = appointmentData.userInfo;

                        convertedAppointment = {
                            waitRoom: false,
                            patientId: appointmentData.patient,
                            name: userInfo.name.lastName + " " + userInfo.name.firstName,
                            dateOfBirth: userInfo.dateOfBirth.date + "." + userInfo.dateOfBirth.month + "." + userInfo.dateOfBirth.year,
                            address: appointmentData.userInfo.address,
                            message: appointmentData.message,
                            showMessage: !!appointmentData.message,
                            viewMessage: false
                        };
                    } else {
                        // Booked in wait room
                        convertedAppointment = {
                            waitRoom: true,
                            name: appointmentData.name,
                            showMessage: false
                        };
                    }

                    convertedAppointment["id"] = key;
                    convertedAppointment["time"] = "" + Number(key.substring(8, 10)) + ":" + key.substring(10, 12);

                    return convertedAppointment;
                });


            },

            getDateTimeIdAtNoon: function (date) {
                var month = date.getMonth() + 1,
                    dayDate = date.getDate();

                if (month < 10) month = "0" + month;
                if (dayDate < 10) dayDate = "0" + dayDate;

                return "" + date.getFullYear() + month + dayDate + "0000";
            },

            computeText: function (viewMessage) {
                return (viewMessage) ? "Skrýt" : "Zobrazit";
            },

            handleDetail: function (event) {
                var viewMessage = event.model.appointment.viewMessage;
                event.model.set('appointment.viewMessage', !viewMessage);
            }

        });
    </script>
</dom-module>
