<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-material/paper-material.html">

<dom-module id="interface-welcome-view">
    <template>
        <style>

            #main-container {
                background-color: #fff;
                padding: 2em;
                font-size: 1.2em;
                font-weight: 100;
            }

            h2 {
                margin: 0 auto 0.9em 0;
                padding-bottom: 0.5em;
                font-weight: 100;
                font-size: 1.5em;
                display: inline-block;
                border-bottom: 1px solid #dededf;
            }

            p {
                line-height: 1.7em;
            }

            a {
                color: var(--app-green-color);
                text-decoration: none;
                font-weight: 500;
            }

            a:hover {
                text-decoration: underline;
            }

            .red {
                color: var(--app-red-color);
                font-weight: 400;
            }

        </style>

        <paper-material elevation="1" id="main-container">

            <h2>Vítejte v systému Docta.</h2>

            <p>Váš veřejný profil je dostupný na adrese <a href="/d/[[officeId]]">docta.cz/d/[[officeId]]</a>.</p>

            <p>
                Doporučujeme Vám zviditelnit adresu Vašeho profilu ve Vaší čekárně a na internetu
                (<a href="https://www.firmy.cz">Seznam</a>, <a href="https://www.google.cz/business/">Google</a>). Čím
                více
                lidí bude používat náš systém online, tím větším přínosem pro Vás budeme.</p>

            <p>
                Pokud máte nápad na vylepšení nebo narazíte na problém, neváhejte a <a href="../contact/[[officeId]]">kontaktujte
                nás</a>.
                Pro seznámení se systémem doporučujeme projít si <a href="../help/[[officeId]]">nápovědu</a>.</p>

            <p>
                Uvědomujeme si, že v našem systému chybí ještě některé důležité funkce jako jsou například:
                <br>
            <ul>
                <li>Státní svátky (automatické přidávání dovolené o státních svátcích)</li>
                <li> Správa více účtů (přidání přístupu k ordinaci jiným účtům)</li>
                <li> Posílání upomínek pacientům</li>
                <li> Profilová fotka</li>
            </ul>

            Myslíme si, že pro Vás náš systém již v aktuální podobě bude přínosný, a proto jsme se rozhodli jej vydat.
            Na výše zmíněné funkcionalitě usilovně pracujeme.
            </p>

            <!--TODO: remove when server is enabled-->
            <p class="red" hidden="[[!onlineBooking]]">
                Během příštích 24 hodin Vám vygenerujeme první termíny.
            </p>

            <br>
            <p> Děkujeme za registraci v našem systému a doufáme, že budete spokojeni. </p>

            Robert Brada & Jan Beneš
        </paper-material>
    </template>

    <script>
        Polymer({
            is: 'interface-welcome-view'
        });
    </script>
</dom-module>
