<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-date-picker-item/paper-datetime-picker-item.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower_components/polymerfire/firebase-document.html">
<link rel="import" href="/bower_components/moment-element/moment-import.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">

<link rel="import" href="/custom_components/moment-wrapper-cs.html">
<link rel="import" href="/styles/button-styles.html">
<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/layout-styles.html">

<dom-module id="interface-holidays-view">
    <template>
        <style include="button-styles input-styles layout-styles">

            /*** GENERAL ***/

            h1 {
                font-size: 1.1em;
                margin: 0;
                padding: 0.7em 1em;
                color: #fff;
                letter-spacing: 0.02em;
                font-weight: 500;
            }

            paper-material {
                background-color: #fff;
            }

            .main-container {
                padding: 1.5em;
            }

            .error {
                color: var(--app-red-color);
                padding-bottom: 0.5em;
            }

            /** NEW HOLIDAY **/

            #new-holiday-container h1 {
                background-color: var(--app-green-color);
            }

            section h2:first-child {
                margin-top: 1em;
            }

            /*to align inputs*/

            #inputs-container section {
                position: relative;
            }

            #inputs-container p {
                padding-bottom: 4em;
            }

            #inputs-container paper-input {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
            }

            paper-datetime-picker-item {
                padding: 0;
                margin-bottom: 0.8em;
                margin-left: -16px;
            }

            #button-section {
                text-align: right;
                border-top: 1px solid #e2e2e3;
                background-color: #fafafb;
            }

            #button-section paper-button {
                margin: 0;
            }

            /*** HOLIDAY LIST ***/

            #holidays-list-container h1 {
                background-color: var(--app-accent-color);
            }

            #holidays-list-container {
                margin-top: 2em;
            }

            #holiday-name {
                color: var(--app-green-color);
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 0.6em;
            }

            #holiday {
                border-top: 1px solid #dadbdd;
            }

            #holiday-status-container {
                color: var(--app-grey-text-color);
                margin-top: 0.5em;
                padding-top: 0.5em;
                border-top: 1px solid var(--border-color);
            }

            #holiday-status-container iron-icon{
                color: var(--app-green-color);
                margin-right: 0.4em;
                margin-top: -3px;
                height: 20px;
                width: 20px;
            }

            .dismiss-button {
                margin: auto 0 0 auto;
                background-color: #fff;
                color: #455A64;
                border: 1px solid #dadbdd;
                font-size: 0.8em;
                padding: 0.6em 1em;
                box-shadow: none;
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
            }

            .dismiss-button iron-icon {
                height: 20px;
                width: 20px;
                margin-right: 0.3em;
            }

            #holiday:hover .dismiss-button {
                background-color: var(--app-red-color);
                color: #fff;
                border: none;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            }

            .flex-horizontal {
                @apply(--layout-horizontal);
            }

            .flexchild {
                @apply(--layout-flex);
            }

            @media only screen and (max-width: 1250px) {

                .flex-horizontal {
                    @apply(--layout-vertical);
                }

                section {
                    margin-left: 0 !important;
                }

                .main-container {
                    padding: 1em;
                }

                paper-input {
                    margin-bottom: 1em;
                }

                .dismiss-button {
                    margin-top: 1em;
                }

                #inputs-container paper-input {
                    position: static;
                }

                #inputs-container p {
                    padding-bottom: 0;
                }
            }

        </style>

        <firebase-document id="holidays_document" app-name="docta"
                           path="/officeHolidays/[[officeId]]"
                           data="{{officeHolidays}}">
        </firebase-document>

        <paper-material id="new-holiday-container" class="main-content" elevation="1">
            <h1>Formulář nové dovolené</h1>
            <div id="inputs-container" class="subsection grid main-container flex-horizontal">
                <section>
                    <h2>Název dovolené</h2>
                    <p>Tuto informaci uvidíte pouze Vy.</p>
                    <paper-input id="name_input" class="flexchild" label="Název dovolené" value="{{holidayName}}"
                                 auto-focus
                                 required auto-validate></paper-input>
                </section>
                <section>
                    <h2>Zastupující doktor</h2>
                    <p>Dobrovolná informace, která se v případě vyplnění zobrazí pacientům na Vašem veřejném
                        profilu.</p>
                    <paper-input id="doctor_input" class="flexchild" label="Jméno" value="{{substituteDoctorName}}">
                    </paper-input>
                </section>

                <section>
                    <h2>Datum dovolené</h2>
                    <p class="error" hidden="[[hideErrorMessage]]">Začátek dovolené je před koncem.</p>
                    <paper-datetime-picker-item required icon="icons:today"
                                                placeholder="Zadat začátek dovolené"
                                                default-time="00:00"
                                                locale="cs" date="{{fromDateTime}}"></paper-datetime-picker-item>
                    <paper-datetime-picker-item icon="icons:today" placeholder="Zadat konec dovolené"
                                                default-time="23:59"
                                                locale="cs" date="{{toDateTime}}"></paper-datetime-picker-item>
                </section>
            </div>

            <section id="button-section" class="main-container">
                <paper-button id="add-holiday-btn" raised on-tap="addHolidays"
                              disabled="[[computeDisabled(fromDateTime, toDateTime, holidayName)]]">Přidat dovolenou
                </paper-button>
            </section>

        </paper-material>
        <paper-material id="holidays-list-container" elevation="1" hidden="[[computeIfEmpty(holidaysArray)]]">
            <h1>Seznam dovolených</h1>
            <template is="dom-repeat" items="[[holidaysArray]]" as="holiday">
                <div id="holiday" class="main-container flex-horizontal">
                    <div>
                        <div id="holiday-name">[[holiday.name]]</div>
                        <div><b>Začátek:</b> [[holiday.startAt]]</div>
                        <div><b>Konec:</b> [[holiday.endAt]]</div>
                        <div hidden="[[!holiday.substituteDoctorName]]"><b>Zastupující lékař:</b>
                            [[holiday.substituteDoctorName]]
                        </div>
                        <div id="holiday-status-container"  class="tooltip" hidden="[[computeStatusHiddenness(holiday.status)]]" title="Požadavek na přidání/odstranění dovolené bude zpracován do 24 hodin."><iron-icon icon="help"></iron-icon><b>Status:</b>
                            [[computeStatus(holiday.status)]]
                        </div>
                    </div>
                    <paper-button hidden="[[computeButtonHiddenness(holiday.status)]]" class="dismiss-button" raised on-tap="deleteHolidays">
                        <iron-icon icon="close"></iron-icon>
                        Odstranit
                    </paper-button>
                </div>
            </template>
        </paper-material>

    </template>

    <script>
        Polymer({
            is: 'interface-holidays-view',

            properties: {
                hideErrorMessage: {
                    type: Boolean,
                    value: true
                },

                holidaysArray: {
                    type: Array,
                    computed: 'computeHolidaysArray(officeHolidays)'
                },

                fromDateTime: {
                    type: Date,
                    observer: "observeFromDateTime"
                }
            },

            observeFromDateTime: function (fromDateTime) {
                if (!!fromDateTime && !(!!this.toDateTime)) {
                    var toDateTime = new Date(fromDateTime);
                    toDateTime.setDate(toDateTime.getDate() + 1);
                    this.toDateTime = toDateTime;
                }
            },

            computeHolidaysArray: function (officeHolidays) {
                var getFormattedDateTime = function (timestamp) {
                    return moment(timestamp).format('LLLL');
                };

                return Object.keys(officeHolidays).map(function (key) {
                    return {
                        'name': officeHolidays[key]['name'],
                        'startAt': getFormattedDateTime(Number(key)),
                        'endAt': getFormattedDateTime(officeHolidays[key]['endAt']),
                        'status': officeHolidays[key]['status'],
                        'substituteDoctorName': officeHolidays[key]['substituteDoctorName'],
                        'hId': key
                    }
                });
            },

            computeDisabled: function (fromDateTime, toDateTime, holidayName) {
                if (fromDateTime === null || toDateTime === null) {
                    this.hideErrorMessage = true;
                    return true;
                } else if (fromDateTime > toDateTime) {
                    this.hideErrorMessage = false;
                    return true
                } else if (!this.$.name_input.validate()) {
                    this.hideErrorMessage = true;
                    return true;
                }

                this.hideErrorMessage = true;

                return false;
            },

            addHolidays: function () {
                var db = this.$.holidays_document.app.database(),
                    objectToSave = {},
                    hId = this.fromDateTime.valueOf(),
                    endAt = this.toDateTime.valueOf(),
                    name = this.holidayName,
                    officeId = this.officeId,
                    substituteDoctorName = this.substituteDoctorName;

                if (!(!!substituteDoctorName)) substituteDoctorName = null;

                objectToSave["/taskQueue/holidayDeletions/" + officeId + "/" + hId] = null;

                objectToSave["/officeHolidays/" + officeId + "/" + hId] = {
                    endAt: endAt,
                    name: name,
                    status: "awaitsAddition",
                    substituteDoctorName: substituteDoctorName
                };

                objectToSave["/taskQueue/holidayAdditions/" + officeId + "/" + hId] = {
                    officeId: officeId,
                    endAt: endAt,
                    substituteDoctorName: substituteDoctorName
                };

                this.saveData(db, objectToSave)
            },

            deleteHolidays: function (event) {
                var db = this.$.holidays_document.app.database(),
                    objectToSave = {},
                    officeId = this.officeId,
                    hId = event.model.holiday.hId;

                objectToSave["/taskQueue/holidayDeletions/" + officeId + "/" + hId] = this.officeHolidays[hId].endAt;
                objectToSave["/taskQueue/holidayAdditions/" + officeId + "/" + hId] = null;
                objectToSave["/officeHolidays/" + officeId + "/" + hId + "/status"] = "awaitsDeletion";

                this.saveData(db, objectToSave);
            },

            saveData: function (db, objectToSave) {
                db.ref("/").update(objectToSave).then(function () {
                    this.fire("show-toast", {text: "Změna uložena"});
                }.bind(this), function (error) {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Při ukládání změn se vyskytla chyba.',
                            buttonText: 'Zavřít'
                        }
                    });
                }.bind(this));
            },

            computeStatus: function (status) {
                switch (status) {
                    case "awaitsAddition":
                        return "Čeká na zpracování";
                    case "awaitsDeletion":
                        return "Čeká na odstranění";
                    default:
                        return null;
                }
            },

            computeStatusHiddenness: function (status) {
                return status === "processed";
            },

            computeButtonHiddenness: function (status) {
                return status === "awaitsDeletion";
            },

            computeIfEmpty: function (holidaysArray) {
                return holidaysArray.length === 0;
            }
        });
    </script>
</dom-module>
