<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="/styles/tab-styles.html">

<dom-module id="interface-notifications-view">
    <template>
        <style include="tab-styles">

        </style>

        <firebase-document id="verify_document" app-name="doctor-appointment-system" path="/officeFullInfo/[[officeId]]/manualConfirmation"
                           data="{{manualConfirmation}}">
        </firebase-document>

        <paper-material elevation="1">
            <paper-tabs hidden="[[computeVisibilityOfTabs(manualConfirmation)]]" focused selected="{{selected}}" attr-for-selected="name">
                <paper-tab name="confirm">Žádosti o přijetí</paper-tab>
                <paper-tab name="general">Ostatní upozornění</paper-tab>
            </paper-tabs>

            <iron-pages selected="[[selected]]" attr-for-selected="name">
                <interface-notifications-confirm-view name="confirm" office-id="[[officeId]]"></interface-notifications-confirm-view>
                <interface-notifications-general-view name="general"></interface-notifications-general-view>
            </iron-pages>
        </paper-material>
    </template>

    <script>
        Polymer({
            is: 'interface-notifications-view',

            properties: {
                selected: {
                    type: String,
                    value: "general", // First selected view
                    observer: "loadView"
                },

                manualConfirmation: {
                    observer: 'confirmationObserver'
                }
            },

            confirmationObserver: function (val) {
                this.selected = (val === true) ? 'confirm' : 'general';
            },

            computeVisibilityOfTabs: function(manualConfirmation) {
                return manualConfirmation !== true;
            },

            loadView: function (viewName) {
                this.importHref("/views/office_views/interface_views/interface_notifications_views/interface-notifications-" + viewName + "-view.html", null, false);
            }
        });
    </script>
</dom-module>
