<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/paper-material/paper-material.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-app-script.html">
<link rel="import" href="/styles/input-styles.html">
<link rel="import" href="/styles/button-styles.html">


<dom-module id="interface-contact-view">
    <template>
        <style include="input-styles button-styles">

            h1 {
                font-size: 1.2em;
                font-weight: 100;
                margin-bottom: 1.5em;
            }

            #content {
                background-color: #fff;
                padding: 2em;
            }

        </style>

        <paper-material id="content" elevation="1">
            <h1>Napište nám, s čím máte problém, co je potřeba zlepšit, nebo jakoukoliv jinou připomínku.</h1>
            <paper-textarea required id="issue_input" label="Vaše zpráva" char-counter maxlength="2000">
            </paper-textarea>
            <paper-button raised on-tap="send">Odeslat</paper-button>
        </paper-material>
    </template>

    <script>
        Polymer({
            is: 'interface-contact-view',

            send: function () {
                if (this.$.issue_input.validate()) {
                    this.saveIssue();
                } else {
                    this.fire("show-toast", {text: "Opravte prosím červeně označené chyby"});
                }
            },

            saveIssue: function () {
                var message = this.$.issue_input.value,
                    officeId = this.officeId,
                    db = firebase.apps[0].database();

                if (!!officeId) {
                    db.ref("/issues/").push({
                        "officeId": officeId,
                        "message": message
                    }).then(function () {
                        this.fire("show-toast", {text: "Zpráva odeslána"});
                        this.fire('change-route', {url: "/office/interface/waiting-list/" + officeId});
                    }.bind(this), function () {
                        this.fire("show-dialog", {
                            path: "", viewName: "genericdialog", open: true,
                            data: {
                                text: 'Při ukládání dat se vyskytla chyba. Zkuste to prosím znovu.',
                                buttonText: 'Zavřít'
                            }
                        });
                    }.bind(this));
                } else {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: true,
                        data: {
                            text: 'Nejprve prosím vyberte ordinaci vlevo.',
                            buttonText: 'Zavřít'
                        }
                    });
                }
            }
        });
    </script>
</dom-module>
