<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/button-styles.html">

<dom-module id="actionconfirm-view">
    <template>
        <style include="button-styles">
            .main-text {
                font-size: 1.2em;
            }
        </style>

        <p class="main-text">Váš email byl úspěšně potvrzen. Nyní se můžete objednat. <br> V případě že jste doktor
            prosím pokračujte přidáním ordinace.</p>
        <paper-button responsive id="dialog-button" on-tap="confirm" raised>
            Přidat ordinaci
        </paper-button>
    </template>

    <script>
        Polymer({
            is: 'actionconfirm-view',

            confirm: function () {
                this.fire('change-route', {url: '/office/registration/data'});
                this.fire('dialog-confirm');
            }
        });
    </script>
</dom-module>
