<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/dialog-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="actionerror-view">
    <template>
        <style include="button-styles dialog-styles">
        </style>

        <p class="main_text">Nepodařilo se potvrdit emailovou adresu. <br>
            Potvrzení je vyžadováno pro povolení obědnávání.<br>
            Níže klikněte pro opětovné poslání potvrzovacího emailu.
        </p>
        <paper-button responsive id="confirm_button" on-tap="confirm">
            Poslat email
        </paper-button>

        <paper-icon-button dialog-dismiss icon="close" id="closeBtn"></paper-icon-button>
    </template>

    <script>
        Polymer({
            is: 'actionerror-view',

            confirm: function () {
//                this.resendVerification();
                console.log("fix user bug"); // TODO: get user reference
                this.fire('dialog-confirm');
            },

            resendVerification: function () {
                var user = this.domHost.user;
                if (!!user) {
                    user.sendEmailVerification();
                    this.fire("show-dialog", {path: "", viewName: "emaildialog", open: false});
                } else {
                    console.log("Not logged in error");
//                    TODO: dialog pro login
                }
            }
        });
    </script>
</dom-module>
