<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<link rel="import" href="/styles/dialog-styles.html">
<link rel="import" href="/styles/button-styles.html">

<dom-module id="actionconfirm-view">
    <template>
        <style include="button-styles dialog-styles">
        </style>

        <p class="main_text">Váš email byl úspěšně potvrzen. Nyní se můžete objednat. <br> V případě že jste doktor
            prosím pokračujte přidáním ordinace.</p>
        <paper-button responsive dialog-confirm autofocus on-tap="redirectionFunction">
            Přidat ordinaci
        </paper-button>

        <paper-icon-button dialog-dismiss icon="close" id="closeBtn"></paper-icon-button>
    </template>

    <script>
        Polymer({
            is: 'actionconfirm-view',

            redirectionFunction: function () {
                this.fire('change-route', {url: '/office/registration/data'});
            }
        });
    </script>
</dom-module>
