<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/polymerfire/firebase-auth.html">

<link rel="import" href="/styles/button-styles.html">

<dom-module id="actionerror-view">
    <template>
        <style include="button-styles">
            .main-text {
                font-size: 1.2em;
            }
        </style>

        <firebase-auth id="auth" app-name="docta" user="{{user}}"></firebase-auth>

        <p class="main-text">Nepodařilo se potvrdit emailovou adresu. <br>
            Potvrzení je vyžadováno pro povolení objednávání.<br>
            Níže klikněte pro opětovné poslání potvrzovacího emailu.
        </p>
        <paper-button responsive id="dialog-button" on-tap="confirm" raised>
            Poslat email
        </paper-button>
    </template>

    <script>
        Polymer({
            is: 'actionerror-view',

            confirm: function () {
                this.resendVerification();
                this.fire('dialog-confirm');
            },

            resendVerification: function () {
                var dialogText = (!!this.user) ? 'Na Vaší emailovou adresu byl poslán potvrzovací email. Jakmile jej potvrdíte, budete se moci objednat.' :
                    "Pro odeslání potvrzovacího emailu je nutné se přihlásit.";

                this.user.sendEmailVerification();
                this.fire("show-dialog", {
                    path: "", viewName: "genericdialog", open: true,
                    data: {
                        text: dialogText,
                        buttonText: 'Zavřít'
                    }
                });
            }
        });
    </script>
</dom-module>
