<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/polymerfire/firebase-auth.html">

<link rel="import" href="/behaviors/form-validation-behavior.html">
<link rel="import" href="/behaviors/pass-visibility-behavior.html">

<link rel="import" href="/styles/button-styles.html">

<dom-module id="passreset-view">
    <template>
        <style include="button-styles">
        </style>
        <firebase-auth id="auth" app-name="docta"></firebase-auth>

        <form id="main_form" is="iron-form">
            <p>Prosím zadejte nové heslo:</p>
            <paper-input id="pass" value="{{password}}" label="Nové heslo" required auto-validate
                         type="password" autofocus minlength="6" maxlength="48" error-message="Moc krátké">
                <paper-icon-button icon="[[eyeIcon]]" on-tap="passVisibilityChange" suffix></paper-icon-button>
            </paper-input>
        </form>

        <paper-button responsive id="dialog-button" on-tap="confirm" raised>
            Změnit heslo
        </paper-button>
    </template>

    <script>
        Polymer({
            is: 'passreset-view',

            behaviors: [FormValidationBehavior, PassVisibilityBehavior],

            confirm: function () {
                if (this._validateForm(this.$.main_form)) {
                    this.resetPassword();
                    this.fire('dialog-confirm');
                }
            },

            resetPassword: function () {
                this.$.auth.auth.confirmPasswordReset(this.data.actionCode, this.password).then(function () {
                    this.fire("show-toast", {text: "Heslo změněno"});
                }.bind(this)).catch(function (error) {
                    this.fire("show-dialog", {
                        path: "", viewName: "genericdialog", open: false,
                        data: {
                            text: 'Při změně hesla se vyskytla chyba. Klikněte prosím znovu na zapomenuté heslo v přihlašovacím dialogu',
                            buttonText: 'Zavřít'
                        }
                    });
                }.bind(this))
            }
        });
    </script>
</dom-module>
