<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-meta/iron-meta.html">

<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">

<link rel="import" href="/behaviors/input-validation-bahavior.html">


<dom-module id="passreset-view">
    <template>
        <style>
        </style>
        <iron-meta id="meta"></iron-meta>

        <div> Prosím zadejte nové heslo:
            <paper-input id="passID" value="{{password}}" label="Nové heslo" required auto-validate
                         type="password"
                         minlength="6" maxlength="48" error-message="Moc krátké" on-input="checkIfValid">
            </paper-input>
            <paper-button dialog-dismiss>Zavřít</paper-button>
            <paper-button id="confirm_button" dialog-confirm autofocus on-tap="resetPassword"
                          disabled>
                Změnit heslo
            </paper-button>
        </div>
    </template>

    <script>
        Polymer({
            is: 'passreset-view',

            behaviors: [InputValidationBehavior],

            validationIDs: ["passID"],

            resetPassword: function () {
                var auth = this.domHost.$.auth.app.auth(); // TODO: find less retarded way to get reference
                auth.confirmPasswordReset(this.$.meta.byKey('actionCode'), this.password).then(function () {
                    this.domHost.showToast("Heslo změněno");
                }.bind(this)).catch(function (error) {
                    console.log(error);
                })
            }
        });
    </script>
</dom-module>
